workspaces/[Sameka] Sub-fluxo_ Drive Document Manager.json
{
  "name": "[Sameka] Sub-fluxo: Drive Document Manager",
  "nodes": [
    {
      "parameters": {
        "content": "## 📂 Drive Document Manager (Sub-fluxo)\nGerencia arquivos no Google Drive para o RAG.\n\n**Inputs aceitos:**\n- `action`: \"upload\" | \"delete\"\n- `file_id`: ID do arquivo no Drive (para delete)\n- `file_name`: nome do arquivo (para upload, opcional)\n- `folder_id`: pasta destino (default: pasta RAG da Sameka)\n- `binary_property`: nome do binário (default: \"data\")\n\n**Outputs:**\n- `{ success: true, action, file_id, file_name?, file_url? }`\n- `{ success: false, error }` se algo falhar\n\nChamado por:\n- `Sameka-RAG / Respond RAG Doc Delete` (action=delete)\n- Pode ser chamado de qualquer outro fluxo via Execute Workflow",
        "height": 460,
        "width": 760,
        "color": 5
      },
      "id": "dd000000-0000-0000-0000-000000000001",
      "name": "Sticky Note Header",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "action", "type": "string" },
            { "name": "file_id", "type": "string" },
            { "name": "file_name", "type": "string" },
            { "name": "folder_id", "type": "string" },
            { "name": "binary_property", "type": "string" }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [80, 560],
      "id": "dd000000-0000-0000-0000-000000000002",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd000000-0000-0000-0000-00000000a001",
              "name": "action",
              "value": "={{ ($json.action || 'upload').toLowerCase() }}",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000a002",
              "name": "file_id",
              "value": "={{ $json.file_id || '' }}",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000a003",
              "name": "file_name",
              "value": "={{ $json.file_name || ($binary && $binary.data ? $binary.data.fileName : '') || '' }}",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000a004",
              "name": "folder_id",
              "value": "={{ $json.folder_id || '1wjY8nMNqnrLSwvKDutuFxnO3n3Hd0Ff-' }}",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000a005",
              "name": "binary_property",
              "value": "={{ $json.binary_property || 'data' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [320, 560],
      "id": "dd000000-0000-0000-0000-000000000003",
      "name": "Normalize Inputs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd000000-0000-0000-0000-00000000b001",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "upload"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd000000-0000-0000-0000-00000000b002",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "outputKey": "delete"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "invalid"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [560, 560],
      "id": "dd000000-0000-0000-0000-000000000004",
      "name": "Switch Action"
    },
    {
      "parameters": {
        "inputDataFieldName": "={{ $('Normalize Inputs').item.json.binary_property }}",
        "name": "={{ $now.format('dd-LL-yyyy') }}_{{ $('Normalize Inputs').item.json.file_name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Normalize Inputs').item.json.folder_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [800, 432],
      "id": "dd000000-0000-0000-0000-000000000005",
      "name": "Drive: Upload File",
      "continueOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Normalize Inputs').item.json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [800, 624],
      "id": "dd000000-0000-0000-0000-000000000006",
      "name": "Drive: Delete File",
      "continueOnFail": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd000000-0000-0000-0000-00000000c001",
              "name": "success",
              "value": "={{ !$json.error }}",
              "type": "boolean"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000c002",
              "name": "action",
              "value": "upload",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000c003",
              "name": "file_id",
              "value": "={{ $json.id || '' }}",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000c004",
              "name": "file_name",
              "value": "={{ $json.name || $('Normalize Inputs').item.json.file_name }}",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000c005",
              "name": "file_url",
              "value": "={{ $json.webViewLink || '' }}",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000c006",
              "name": "error",
              "value": "={{ $json.error ? String($json.error.message || $json.error) : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, 432],
      "id": "dd000000-0000-0000-0000-000000000007",
      "name": "Build Upload Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd000000-0000-0000-0000-00000000d001",
              "name": "success",
              "value": "={{ !$json.error }}",
              "type": "boolean"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000d002",
              "name": "action",
              "value": "delete",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000d003",
              "name": "file_id",
              "value": "={{ $('Normalize Inputs').item.json.file_id }}",
              "type": "string"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000d004",
              "name": "error",
              "value": "={{ $json.error ? String($json.error.message || $json.error) : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, 624],
      "id": "dd000000-0000-0000-0000-000000000008",
      "name": "Build Delete Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dd000000-0000-0000-0000-00000000e001",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "dd000000-0000-0000-0000-00000000e002",
              "name": "error",
              "value": "Invalid action. Use 'upload' or 'delete'.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [800, 816],
      "id": "dd000000-0000-0000-0000-000000000009",
      "name": "Build Invalid Response"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [[{ "node": "Normalize Inputs", "type": "main", "index": 0 }]]
    },
    "Normalize Inputs": {
      "main": [[{ "node": "Switch Action", "type": "main", "index": 0 }]]
    },
    "Switch Action": {
      "main": [
        [{ "node": "Drive: Upload File", "type": "main", "index": 0 }],
        [{ "node": "Drive: Delete File", "type": "main", "index": 0 }],
        [{ "node": "Build Invalid Response", "type": "main", "index": 0 }]
      ]
    },
    "Drive: Upload File": {
      "main": [
        [{ "node": "Build Upload Response", "type": "main", "index": 0 }]
      ]
    },
    "Drive: Delete File": {
      "main": [
        [{ "node": "Build Delete Response", "type": "main", "index": 0 }]
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
