workspaces/[Sameka] Sub-fluxo_ Consultar Planilha Inteligente.json
{
  "name": "[Sameka] Sub-fluxo: Consultar Planilha Inteligente",
  "nodes": [
    {
      "parameters": {},
      "id": "83cfb72e-bc21-4946-9201-94470c989fe8",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        464
      ]
    },
    {
      "parameters": {
        "content": "## 🛠️ Configuração da Pesquisa Inteligente:\n\n1. Clique no nó **Google Sheets** e coloque a sua credencial e selecione o ficheiro correto na opção \"Document\".\n2. Note que a opção \"Sheet\" (Separador) tem uma expressão `={{ $json.nome_do_separador }}`. Isto significa que o Agente é que decide qual aba abrir com base na pergunta do utilizador!\n3. O nó de **Código** vai procurar na folha inteira apenas as linhas que correspondam ao que o Agente quer saber, devolvendo um resumo limpo.",
        "height": 240,
        "width": 640,
        "color": 6
      },
      "id": "5a76eb75-6466-4ab6-8aa7-75b1b79f63df",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf6c4293-2782-4113-a4f6-5a41dfa70ec8",
              "leftValue": "={{ $json.nome_do_separador }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "singleValue": true
              }
            },
            {
              "id": "36e27d2b-6c0a-4727-80b1-9486833bcd58",
              "leftValue": "={{ $json.query }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "bb279b51-dbdf-477f-9d05-df513f57709c",
      "name": "Tem nome da aba?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        464
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1p0RCfIA4wGCwTf7Gjm7TW4G1x8bld-2So2RjZyGL5CY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.query }}",
          "mode": "name"
        },
        "options": {}
      },
      "id": "427a25bf-4d14-4943-a892-06a535aae90e",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        464,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2LZELFEeUCjAV5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://sheets.googleapis.com/v4/spreadsheets/1p0RCfIA4wGCwTf7Gjm7TW4G1x8bld-2So2RjZyGL5CY?fields=sheets.properties.title",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "752b7738-32a5-4bfb-86f4-bc79eb5c3932",
      "name": "Listar Abas API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        464,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y2LZELFEeUCjAV5U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const abas = $input.first().json.sheets.map(s => s.properties.title);\nreturn [{\n  json: {\n    aviso_para_a_ia: \"Você não especificou o nome da aba. Aqui estão as abas disponíveis. Chame esta ferramenta novamente usando um destes nomes no parâmetro 'nome_do_separador'.\",\n    abas_disponiveis: abas\n  }\n}];"
      },
      "id": "c47e78f7-2843-407a-b63e-ef9aee206078",
      "name": "Formatar Lista de Abas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "// Recebe o termo de pesquisa enviado pelo Agente de IA\nconst triggerData = $('Execute Workflow Trigger').first().json;\nconst termoBusca = (triggerData.termo_de_pesquisa || '').toLowerCase().trim();\n\nlet resultados = [];\n\n// Palavras genéricas que a IA costuma inventar. Se ela mandar isso, ignoramos o filtro.\nconst termosGenericos = ['todos', 'análise', 'analise', 'geral', 'relatório', 'relatorio'];\n\n// Se não houver busca OU for um termo genérico, devolvemos uma amostra MAIOR (ex: 150 linhas)\nif (!termoBusca || termosGenericos.includes(termoBusca)) {\n  // Pega as últimas 150 linhas (geralmente as mais recentes) para a IA analisar\n  return $input.all().slice(-150); \n}\n\n// Percorre todas as linhas lidas do Google Sheets\nfor (const item of $input.all()) {\n  const linhaTexto = JSON.stringify(item.json).toLowerCase();\n  \n  // Se a linha contiver a palavra pesquisada, guarda-a\n  if (linhaTexto.includes(termoBusca)) {\n    resultados.push(item);\n  }\n}\n\n// Devolve no máximo as 100 melhores correspondências\nreturn resultados.slice(0, 100);"
      },
      "id": "28c4835d-4101-42b1-9d23-2b978bd255c3",
      "name": "Filtrar Resultados para a IA1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        320
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Tem nome da aba?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem nome da aba?": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Listar Abas API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Filtrar Resultados para a IA1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar Abas API": {
      "main": [
        [
          {
            "node": "Formatar Lista de Abas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f395e0b6-02dd-476d-af9b-b9e3c90515dd",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "Xh61nOAGor8LTYYa",
  "tags": []
}