workspaces/Sameka-RAG.json
{
  "nodes": [
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data || $json.text || $json.concatenated_data || $json.text_for_rag }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID - to Context').first().json.file_id }}"
              },
              {
                "name": "file_title",
                "value": "={{ $('Set File ID - to Context').first().json.file_title }}"
              }
            ]
          }
        }
      },
      "id": "14b16c84-8657-4a0b-b988-eefe50fb4bad",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [9200, -1616]
    },
    {
      "parameters": {
        "content": "## Tool to Add a Google Drive File to Vector DB",
        "height": 947,
        "width": 3809,
        "color": 5
      },
      "id": "eae1740c-e3ea-4430-a610-2219d1c4876d",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [5968, -2256]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID - to Context').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "b5b49ade-867b-44e6-8a67-f551f38e4ce3",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [7792, -1888],
      "executeOnce": true,
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "7e9e06af-86b7-4d2d-8d85-7b76a2aa6dc6",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [8464, -1584],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "613be47c-5852-4264-add2-714036e3b030",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [8464, -2144]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "45d20603-0320-4578-8637-261a12fd1592",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [8496, -1968]
    },
    {
      "parameters": {},
      "id": "eed9ea6f-bc1e-475f-8708-0e135d3dbf54",
      "name": "Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter",
      "typeVersion": 1,
      "position": [9168, -1472]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "f4adc0c4-b905-4e93-90b3-7879025b114f",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [8704, -1888]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "2ae7faa7-a936-4621-a680-60c512163034",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "=application/vnd.google-apps.spreadsheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                    "leftValue": "={{ $('Set File ID - to Context').item.json.file_type }}",
                    "rightValue": "application/vnd.google-apps.document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 3
        }
      },
      "id": "a23c5358-5f1e-49e6-8011-e82efe9b824a",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [7968, -1920]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "sameka_documents",
          "mode": "list",
          "cachedResultName": "sameka_documents"
        },
        "options": {
          "queryName": "sameka_match_documents"
        }
      },
      "id": "1487f05b-55e3-4bf1-9c94-dfd2c25c1620",
      "name": "Insert into Supabase Vectorstore",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [9184, -1824],
      "credentials": {
        "supabaseApi": {
          "id": "i5Q8tj8Pyc9XjSGd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "id": "d0b9550f-4554-405c-a5b9-68c0147ec537",
      "name": "Extract from Excel",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [8288, -1968]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
              "name": "schema",
              "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
              "type": "string"
            },
            {
              "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
              "name": "data",
              "value": "={{ $json.concatenated_data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [8944, -2096],
      "id": "a6b498d2-a0ff-4244-80a3-d4bfc249ee7e",
      "name": "Set Schema"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [8288, -1792],
      "id": "29d57cdd-84d7-4bc7-bb36-f458951b68c7",
      "name": "Extract from CSV"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [6416, -1936],
      "id": "c3b9c2bc-7eeb-499a-910d-731182e0fae9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "aspiramaq_document_rows",
        "filters": {
          "conditions": [
            {
              "keyName": "dataset_id",
              "condition": "eq",
              "keyValue": "={{ $('Set File ID - to Context').item.json.file_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [7424, -1792],
      "id": "1138e534-af6a-4abf-820c-55b2da54808c",
      "name": "Delete Old Data Rows",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "i5Q8tj8Pyc9XjSGd",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sameka_document_rows",
          "mode": "list",
          "cachedResultName": "sameka_document_rows"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dataset_id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "dataset_id",
              "displayName": "dataset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_data",
              "displayName": "row_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [8496, -1792],
      "id": "70eeee17-632f-48b5-b0db-64934c5af4f3",
      "name": "Insert Table Rows",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sameka_document_metadata",
          "mode": "list",
          "cachedResultName": "sameka_document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "schema": "={{ $json.schema }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [9168, -2096],
      "id": "c60c9df8-8209-43c0-aaa8-fa7b16eff41a",
      "name": "Update Schema for Document Metadata",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!",
        "height": 1400,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [3232, -2256],
      "typeVersion": 1,
      "id": "54e54a67-04b3-4e8e-822e-d8fce5a00f58",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 20,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1wjY8nMNqnrLSwvKDutuFxnO3n3Hd0Ff-",
            "mode": "id"
          }
        },
        "options": {
          "fields": ["*"]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [6208, -2016],
      "id": "aa818dcb-7041-42c2-9ed8-2b28b073005b",
      "name": "Search files and folders",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM sameka_documents \nWHERE metadata->>'file_id' = '{{ $json.file_id }}'\nAND (metadata->>'session_id' IS NULL OR metadata->>'session_id' = '');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [7232, -2048],
      "id": "17f9ce59-a04e-403f-a936-aa236d3e2bd7",
      "name": "Delete Old Doc Rows1",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "data0",
        "name": "={{ $now.format('dd-LL-yyyy') }}_{{ $binary.data0.fileName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wjY8nMNqnrLSwvKDutuFxnO3n3Hd0Ff-",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [6192, -1760],
      "id": "ee94f20b-c063-4b30-8ec8-98a0b83a3458",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sameka-index-drive",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [6016, -1760],
      "id": "d4a79e96-3fb4-4fab-8a58-a99ffcf5d513",
      "name": "InsertFile-drive",
      "webhookId": "f9870744-c0e5-422a-9346-036341f2765a"
    },
    {
      "parameters": {
        "content": "## 1. Setup Inicial (Execute 1x via Webhook)\nCria TODAS as tabelas:\n- document_metadata (Arquivos)\n- document_rows (Linhas Excel/CSV)\n- chat_message (Histórico de Chat)\n- documents (Vetores RAG)",
        "height": 653,
        "width": 863,
        "color": 3
      },
      "id": "c8fc43db-b522-451b-88d8-5664a8035814",
      "name": "Sticky Note Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [5088, -2240]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ✅ SETUP IDEMPOTENTE — Não destrói dados.\n-- Tabelas de USUÁRIOS / CHAT / SESSIONS NÃO ficam mais aqui.\n-- Elas vivem no workflow \"Sameka-DB-Schema-Setup\" e nas migrations (001-007).\n\n-- 1. Tabela de Arquivos (Drive metadata)\nCREATE TABLE IF NOT EXISTS sameka_document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT,\n    session_id TEXT,\n    modified_time TEXT,\n    content_hash TEXT,\n    last_indexed_at TIMESTAMP\n);\n\n-- Garante colunas novas em bases pré-existentes (sem perder dados)\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS modified_time TEXT;\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS content_hash TEXT;\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS last_indexed_at TIMESTAMP;\n\n-- 2. Tabela de Linhas (Excel/CSV)\nCREATE TABLE IF NOT EXISTS sameka_document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES sameka_document_metadata(id) ON DELETE CASCADE,\n    row_data JSONB\n);",
        "options": {}
      },
      "id": "aab239d0-8f71-43a5-8c27-70eded57a4b6",
      "name": "Create Standard Tables",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5488, -2016],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ✅ Idempotente. Preserva todos os vetores já indexados.\nCREATE EXTENSION IF NOT EXISTS vector;\n\n-- Tabela de Vetores (RAG)\nCREATE TABLE IF NOT EXISTS sameka_documents (\n  id bigserial PRIMARY KEY,\n  content text,\n  metadata jsonb,\n  embedding vector(1536)\n);\n\n-- Função de busca (Match) — pode dropar e recriar, é stateless\nDROP FUNCTION IF EXISTS sameka_match_documents;\nCREATE FUNCTION sameka_match_documents (\n  query_embedding vector(1536),\n  match_count int DEFAULT NULL,\n  filter jsonb DEFAULT '{}'\n) RETURNS TABLE (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nLANGUAGE plpgsql\nAS $$\n#variable_conflict use_column\nBEGIN\n  RETURN QUERY\n  SELECT\n    id,\n    content,\n    metadata,\n    1 - (sameka_documents.embedding <=> query_embedding) AS similarity\n  FROM sameka_documents\n  WHERE metadata @> filter\n  ORDER BY sameka_documents.embedding <=> query_embedding\n  LIMIT match_count;\nEND;\n$$;",
        "options": {}
      },
      "id": "5763beff-083c-45d3-8bc3-8cedf844ef60",
      "name": "Create Vector Table & Functions1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [5680, -2016],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ✅ Apenas garante índices. NÃO apaga dados.\n-- A limpeza por-arquivo acontece em \"Delete Old Doc Rows1\" SOMENTE quando o arquivo mudou.\nCREATE INDEX IF NOT EXISTS sameka_idx_doc_metadata_session\nON sameka_document_metadata(session_id);\n\nCREATE INDEX IF NOT EXISTS sameka_idx_doc_metadata_modified\nON sameka_document_metadata(modified_time);\n\nCREATE INDEX IF NOT EXISTS sameka_idx_documents_metadata_gin\nON sameka_documents USING GIN (metadata);\n\n-- Índice para acelerar lookups por file_id no JSON metadata\nCREATE INDEX IF NOT EXISTS sameka_idx_documents_file_id\nON sameka_documents ((metadata->>'file_id'));",
        "options": {}
      },
      "id": "97d9e808-c0b0-4ed2-9b22-ad6ef260366d",
      "name": "Ensure RAG Indexes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [6016, -2016],
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [5264, -1824],
      "id": "88b54298-f3a0-4e74-837d-7062b1a624c0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $input.item.json.id }}",
              "type": "string"
            },
            {
              "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
              "name": "file_type",
              "value": "={{ $input.item.json.mimeType }}",
              "type": "string"
            },
            {
              "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
              "name": "file_title",
              "value": "={{ $input.item.json.name }}",
              "type": "string"
            },
            {
              "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
              "name": "file_url",
              "value": "={{ $input.item.json.webViewLink }}",
              "type": "string"
            },
            {
              "id": "d79e06cc-823f-47e6-bfa6-dd2f0cb4264d",
              "name": "session_id",
              "value": "={{ $if( $(\"InsertFile-drive\").isExecuted, $(\"InsertFile-drive\").first().json.body.sessionId, null) }}",
              "type": "string"
            },
            {
              "id": "a1b2c3d4-e5f6-4a5b-8c9d-0e1f2a3b4c5d",
              "name": "modified_time",
              "value": "={{ $input.item.json.modifiedTime || '' }}",
              "type": "string"
            },
            {
              "id": "b2c3d4e5-f6a7-4b6c-9d0e-1f2a3b4c5d6e",
              "name": "md5_checksum",
              "value": "={{ $input.item.json.md5Checksum || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e1c7ded6-e67d-46e0-82c4-e36490c55fac",
      "name": "Set File ID - to Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [6672, -1920]
    },
    {
      "parameters": {
        "content": "## 3. Limpeza Lenta (Conversas)\nRoda a cada 24h.\nApaga TUDO de sessões antigas (Chat + Docs + Vetores).",
        "height": 820,
        "width": 1276,
        "color": 2
      },
      "id": "37fac7c1-a0de-4705-8344-d1995b3dcac1",
      "name": "Sticky Note Session",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3792, -2240]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 10
            }
          ]
        }
      },
      "id": "b619cfe3-0a4f-484f-b20c-aa34d4c38c31",
      "name": "24h Trigger (Session)1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [3856, -1728]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id \nFROM sameka_document_metadata \nWHERE session_id IS NOT NULL ",
        "options": {}
      },
      "id": "01eaab65-1503-43c6-9390-37ae441cc871",
      "name": "Get Expired File IDs1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4128, -1856],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6b9a32ea-6fdd-411a-ba82-edfbd7fd44ce",
      "name": "Loop Expired Files1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [4544, -1840]
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "bbd7907b-6e99-4d6d-944c-a347fe02bfd3",
      "name": "Delete from Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [4832, -1728],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1yxLK6IGIPQiU21B",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ✅ Limpeza segura de DADOS DE SESSÃO (não toca em docs globais nem migrations).\n-- Envolvido em DO/EXCEPTION para nunca quebrar o workflow se uma tabela legada não existir.\nDO $$\nBEGIN\n  -- 1. Remove chat APENAS de sessões cujos docs já expiraram (não apaga histórico ativo)\n  BEGIN\n    DELETE FROM sameka_chat_message\n    WHERE session_id IN (\n      SELECT session_id FROM sameka_document_metadata WHERE session_id IS NOT NULL\n    );\n  EXCEPTION WHEN undefined_table THEN\n    RAISE NOTICE 'sameka_chat_message ausente — pulando';\n  END;\n\n  -- 2. Remove vetores de sessão\n  BEGIN\n    DELETE FROM sameka_documents\n    WHERE metadata->>'session_id' IS NOT NULL\n      AND metadata->>'session_id' <> '';\n  EXCEPTION WHEN undefined_table THEN\n    RAISE NOTICE 'sameka_documents ausente — pulando';\n  END;\n\n  -- 3. Remove metadados/linhas de sessão (rows caem via CASCADE)\n  BEGIN\n    DELETE FROM sameka_document_metadata\n    WHERE session_id IS NOT NULL;\n  EXCEPTION WHEN undefined_table THEN\n    RAISE NOTICE 'sameka_document_metadata ausente — pulando';\n  END;\nEND $$;",
        "options": {}
      },
      "id": "fdf59dca-3af5-4417-aaad-d50f627fbcd8",
      "name": "Clean Database Records1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4832, -1936],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sameka-DatabaseSetup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ed1bdece-fac5-4456-b17a-0ad7446b5609",
      "name": "Webhook Setup",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [3856, -2000],
      "webhookId": "1c70aff4-7d8b-4d00-abd9-0ecda88405ee"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Documento processado com sucesso! Memória RAG atualizada.\"\n}",
        "options": {}
      },
      "id": "af496fcb-1e8d-460c-9205-66a25b65fb4a",
      "name": "Confirmar Upload",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [6752, -2176]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\nfor (const item of data) {\n  // O comando \"Reflect\" força a deleção sem o editor reclamar de Tipos\n  Reflect.deleteProperty(item, 'binary');\n}\n\nreturn data;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [9456, -1824],
      "id": "31967aa2-2595-44c7-b167-0ea9060977bb",
      "name": "Limpar RAM"
    },
    {
      "parameters": {
        "content": "curl -X POST \"https://exotickoala-n8n.cloudfy.live/webhook-test/index-drive\" \\\n     -H \"Content-Type: multipart/form-data\" \\\n     -F \"data=@\\\"PROPOSTA PSI.PDF\\\"\" \\\n     -F \"tipo=proposta\"",
        "height": 224,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [5568, -1248],
      "typeVersion": 1,
      "id": "64f8a94c-4782-4207-bb11-6d52afe6b36a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "curl -X POST \"https://exotickoala-n8n.cloudfy.live/webhook-test/index-drive\" -F \"data=@\\\"C:\\Users\\admin\\Downloads\\PROPOSTA PSI.PDF\\\"\" -F \"sessionId=sessao-do-giovani-123\" -F \"tipo=proposta\"",
        "height": 208,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [5904, -1232],
      "typeVersion": 1,
      "id": "2a03864a-3ff4-42cc-9675-bcbee6ac60ae",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c3d4e5f6-a7b8-4c7d-9e0f-1a2b3c4d5e6f",
              "leftValue": "={{ $json.modified_time || '' }}",
              "rightValue": "={{ $('Set File ID - to Context').item.json.modified_time || '' }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "d4e5f6a7-b8c9-4d8e-9f0a-1b2c3d4e5f6a",
              "leftValue": "={{ $json.modified_time || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [6992, -1920],
      "id": "709dac56-5e9d-4f59-9ee9-04b6b08645df",
      "name": "Skip If Unchanged"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bd3e7b3c-f167-4b8c-91c5-e599af4bbd84",
              "leftValue": "={{ $json.session_id }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [7072, -1824],
      "id": "9b97080a-bbfb-4023-9806-7dc4ec2480ee",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT session_id, modified_time, content_hash FROM sameka_document_metadata WHERE id = '{{ $('Set File ID - to Context').item.json.file_id }}'",
        "options": {}
      },
      "id": "6e99923a-0b23-4f98-8e03-eb8758b38ccb",
      "name": "Check Session Integrity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [6864, -1920],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Acessa os dados de entrada\nconst firstItem = (typeof items !== 'undefined' && items.length > 0) ? items[0] : $input.first();\n\n// 2. Extrai e faz o PARSE do texto JSON\nlet inputData = [];\n\nif (firstItem.json.concatenated_data) {\n    try {\n        // Transformamos o texto \"[{...}]\" em um Array real via JSON.parse\n        inputData = JSON.parse(firstItem.json.concatenated_data);\n    } catch (e) {\n        // Se falhar o parse, tenta usar o json direto caso já seja objeto\n        inputData = firstItem.json.data || [];\n    }\n} else if (Array.isArray(firstItem.json)) {\n    inputData = firstItem.json;\n} else if (firstItem.json.data) {\n    inputData = firstItem.json.data;\n}\n\n// Se o inputData não for uma lista (array), forçamos ser uma lista vazia para não quebrar o loop\nif (!Array.isArray(inputData)) {\n    inputData = []; \n}\n\n// --- INÍCIO DO PROCESSAMENTO ---\n\nconst cleanData = [];\n\nfor (const row of inputData) {\n  // Garante que row é um objeto válido\n  if (typeof row !== 'object' || row === null) continue;\n\n  const cleanItem = {};\n  let textForRag = \"\"; \n\n  // Como os dados já têm as chaves corretas (ex: \"Empresa\", \"CNPJ\"), \n  // iteramos direto sobre elas\n  for (const key in row) {\n    const value = row[key];\n\n    // Verifica se o valor não é nulo, indefinido ou vazio\n    if (value !== undefined && value !== null && value !== '') {\n      cleanItem[key] = value;\n      // Monta o texto para o RAG dinamicamente\n      textForRag += `${key}: ${value}. `;\n    }\n  }\n\n  // Se o objeto não estiver vazio, adiciona a propriedade de texto e insere no array final\n  if (Object.keys(cleanItem).length > 0) {\n    cleanItem.text_for_rag = textForRag.trim();\n    cleanData.push({ json: cleanItem });\n  }\n}\n\nreturn cleanData;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8928, -1888],
      "id": "815f1048-fa4c-4d3f-bcc8-50a92122f5d5",
      "name": "Limpeza Excel"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  if (item.json.data) {\n    // 1. Remove TUDO que não é letra, número ou pontuação básica (mata binários)\n    let cleanText = item.json.data.replace(/[^\\p{L}\\p{N}\\p{P}\\p{Z}\\n]/gu, '');\n\n    // 2. Remove o erro de Unicode incompleto \\u\n    cleanText = cleanText.replace(/\\\\u/g, '');\n\n    // 3. Limite de segurança: se o \"texto\" for maior que 50k caracteres, \n    // provavelmente é lixo binário de uma imagem que passou\n    item.json.data = cleanText.substring(0, 50000);\n  }\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [8928, -1744],
      "id": "5a70f1ac-12d0-4de1-b495-1604c51b40b2",
      "name": "Limpeza de Docs"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [9600, -1824],
      "id": "87b83d61-b3f1-49df-9ee0-16dbc4e559a4",
      "name": "Wait",
      "webhookId": "79b70584-7a14-4c4d-9ce3-6ff01b47128f"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5184, -2016],
      "id": "9d0ee46c-0079-4240-a9f7-afb02ef60fe6",
      "name": "Wait1",
      "webhookId": "f18070ac-659f-41e0-9fac-920d996cefad"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af3fd04e-89dd-4dd9-8726-1ace57d0f4cf",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4320, -2016],
      "id": "560a025f-cc3c-4b6d-ac20-d1bc4f36d0db",
      "name": "If1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [8784, -1424],
      "id": "2fa00718-c4a6-4b79-8ef6-4addc8aba53a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "Vx67HOLUDVbPAmHc",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [8944, -1424],
      "id": "fb56bbab-1ee5-457a-aa0a-e0b1d7b89793",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "hZRBXrfocBn4jbFB",
          "name": "openrouter_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "sameka_document_metadata",
          "mode": "list",
          "cachedResultName": "sameka_document_metadata"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Set File ID - to Context').item.json.file_id }}",
            "title": "={{ $('Set File ID - to Context').item.json.file_title }}",
            "url": "={{ $('Set File ID - to Context').item.json.file_url }}",
            "session_id": "={{ $('Set File ID - to Context').item.json.session_id }}",
            "modified_time": "={{ $('Set File ID - to Context').item.json.modified_time }}",
            "content_hash": "={{ $('Set File ID - to Context').item.json.md5_checksum }}",
            "last_indexed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "schema",
              "displayName": "schema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "modified_time",
              "displayName": "modified_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "content_hash",
              "displayName": "content_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "last_indexed_at",
              "displayName": "last_indexed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [7600, -2032],
      "id": "a01104ce-2c46-4a26-bdc9-7d0e2db4cee1",
      "name": "Insert Document Metadata1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
      "typeVersion": 1,
      "position": [9024, -1568],
      "id": "015f0eea-7e99-428a-a29c-11f77de6c38c",
      "name": "Embeddings Azure OpenAI",
      "credentials": {
        "azureOpenAiApi": {
          "id": "xby4FSbCaCnssJxl",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🗂️ Admin RAG Docs API\nEndpoints usados pelo painel \"Documentos do RAG\" no front-end:\n- GET  /sameka-rag-docs        → lista docs globais (session_id IS NULL)\n- POST /sameka-rag-doc-delete  → apaga 1 doc por file_id (vetores + metadata + rows via CASCADE)",
        "height": 220,
        "width": 760,
        "color": 5
      },
      "id": "54121505-e1cb-42b9-8c4e-2c2aa62c46df",
      "name": "Sticky Note RAG Admin",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [3792, -816]
    },
    {
      "parameters": {
        "path": "sameka-rag-docs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [3856, -608],
      "id": "2cf55104-15ad-4981-9ccc-b26027b92643",
      "name": "Webhook RAG Docs List",
      "webhookId": "f1a00000-0000-0000-0000-000000000002"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Self-heal: garante colunas mesmo se o setup nunca rodou\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS modified_time TEXT;\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS content_hash TEXT;\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS last_indexed_at TIMESTAMP;\n\nSELECT id, title, url, created_at, last_indexed_at, modified_time, session_id\nFROM sameka_document_metadata\nWHERE session_id IS NULL OR session_id = ''\nORDER BY COALESCE(last_indexed_at, created_at) DESC NULLS LAST",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4096, -608],
      "id": "a09340f3-a5cc-44f5-885b-e7e0cb2cc306",
      "name": "List RAG Docs",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agrupa todas as linhas em um array único para o webhook\nconst docs = $input.all().map(item => item.json);\nreturn [{ json: { docs } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4336, -608],
      "id": "d12f8e9b-de8b-4a5b-9057-ced72348c609",
      "name": "Aggregate RAG Docs"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4576, -608],
      "id": "080470e0-eb87-4a8c-bf75-f73fce788467",
      "name": "Respond RAG Docs List"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sameka-rag-doc-delete",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [3856, -256],
      "id": "38aa4707-a91a-43ab-848f-dac31d09c334",
      "name": "Webhook RAG Doc Delete",
      "webhookId": "f1a00000-0000-0000-0000-000000000006"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1a00000-0000-0000-0000-00000000c001",
              "leftValue": "={{ $json.body && $json.body.file_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4096, -256],
      "id": "0cd96b55-6b08-4e79-828b-a0ce527b817a",
      "name": "Has file_id?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AHHho9B3QmaMkJu8",
          "mode": "list",
          "cachedResultUrl": "/workflow/AHHho9B3QmaMkJu8",
          "cachedResultName": "[Sameka] Sub-fluxo: Drive Document Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "delete",
            "file_id": "={{ $('Webhook RAG Doc Delete').item.json.body.file_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [4336, -416],
      "id": "2cfe5467-58dc-4f24-becc-a764cbd88b59",
      "name": "Drive: Delete File (subflow)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Apaga vetores do arquivo\nDELETE FROM sameka_documents\nWHERE metadata->>'file_id' = '{{ $('Webhook RAG Doc Delete').item.json.body.file_id }}';\n\n-- Apaga metadata (rows são removidas via ON DELETE CASCADE)\nDELETE FROM sameka_document_metadata\nWHERE id = '{{ $('Webhook RAG Doc Delete').item.json.body.file_id }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4576, -416],
      "id": "6b41facc-4734-49e2-a163-d1ed09a676fc",
      "name": "Delete RAG Doc",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"file_id\": \"{{ $('Webhook RAG Doc Delete').item.json.body.file_id }}\" }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4816, -416],
      "id": "b97fe374-c305-4717-8928-192593cb1a46",
      "name": "Respond RAG Doc Delete OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"error\", \"message\": \"file_id is required\" }",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4336, -144],
      "id": "91953454-233e-4a73-b86f-0eaab54b0c19",
      "name": "Respond RAG Doc Delete Error"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sameka-rag-purge-all",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [3856, -16],
      "id": "2d506cc0-50e4-49cb-a1e0-bb497bdbc00f",
      "name": "Webhook RAG Purge All",
      "webhookId": "f1a00000-0000-0000-0000-00000000000b"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Coleta IDs e títulos para apagar no Drive depois\nSELECT id, title FROM sameka_document_metadata\nWHERE session_id IS NULL OR session_id = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4096, -16],
      "id": "3b57216a-212d-4312-969a-a2b1b0f1f0df",
      "name": "Get Global Doc IDs",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Apaga TODOS os vetores globais (sem session_id)\nDELETE FROM sameka_documents\nWHERE metadata->>'session_id' IS NULL\n   OR metadata->>'session_id' = '';\n\n-- Apaga TODOS os metadados globais (rows caem via CASCADE)\nDELETE FROM sameka_document_metadata\nWHERE session_id IS NULL\n   OR session_id = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4336, -16],
      "id": "33fc595f-be2d-44ae-b44d-5660cb75b1cc",
      "name": "Purge All Global Docs",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "f1a00000-0000-0000-0000-00000000c003",
              "leftValue": "={{ ($('Webhook RAG Purge All').item.json.body && $('Webhook RAG Purge All').item.json.body.deleteFromDrive) === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [4576, -16],
      "id": "24a91f98-2cd2-40d6-a4d4-51a1ef48f294",
      "name": "Also Delete From Drive?"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AHHho9B3QmaMkJu8",
          "mode": "list",
          "cachedResultUrl": "/workflow/AHHho9B3QmaMkJu8",
          "cachedResultName": "[Sameka] Sub-fluxo: Drive Document Manager"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "delete",
            "file_id": "={{ $('Get Global Doc IDs').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "file_id",
              "displayName": "file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [4816, -144],
      "id": "d0f5dc42-bb86-4a62-b7ee-aa1827792943",
      "name": "Drive: Bulk Delete (subflow)",
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"success\", \"deleted_count\": {{ $('Get Global Doc IDs').all().length }} }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [5056, -16],
      "id": "440c6cfa-f6e1-45a2-9aba-f6bbb8052981",
      "name": "Respond RAG Purge OK"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sameka-rag-reprocess-all",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [3856, 192],
      "id": "9174c591-1106-41f9-9041-eb1fd3942c07",
      "name": "Webhook RAG Reprocess All",
      "webhookId": "f1a00000-0000-0000-0000-000000000011"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Self-heal: garante colunas mesmo se o setup nunca rodou\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS modified_time TEXT;\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS content_hash TEXT;\nALTER TABLE sameka_document_metadata ADD COLUMN IF NOT EXISTS last_indexed_at TIMESTAMP;\n\n-- Apaga apenas os VETORES (não toca em metadados nem rows).\nDELETE FROM sameka_documents\nWHERE metadata->>'session_id' IS NULL\n   OR metadata->>'session_id' = '';\n\n-- Zera o controle de modificação para forçar reindex no próximo run.\nUPDATE sameka_document_metadata\nSET modified_time = NULL,\n    content_hash  = NULL,\n    last_indexed_at = NULL\nWHERE session_id IS NULL OR session_id = '';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [4096, 192],
      "id": "53975588-d8de-4f1b-a78c-ddbd3fa1f9e1",
      "name": "Reset Reprocess Markers",
      "credentials": {
        "postgres": {
          "id": "jFjeYH6Nt3aRNkoM",
          "name": "Supabase_database"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"status\": \"success\", \"message\": \"Reprocess markers reset. On the next Drive scan, all docs will be reindexed.\" }",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4336, 192],
      "id": "92ee8c74-bd31-42a7-9ebc-6bdd3292bb41",
      "name": "Respond Reprocess OK"
    }
  ],
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Limpeza de Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Limpeza de Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Set Schema",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limpeza Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from Excel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from CSV",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore": {
      "main": [
        [
          {
            "node": "Limpar RAM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from Excel": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Schema": {
      "main": [
        [
          {
            "node": "Update Schema for Document Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from CSV": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Table Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Confirmar Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set File ID - to Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Data Rows": {
      "main": [
        [
          {
            "node": "Insert Document Metadata1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows1": {
      "main": [
        [
          {
            "node": "Delete Old Data Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InsertFile-drive": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Standard Tables": {
      "main": [
        [
          {
            "node": "Create Vector Table & Functions1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Vector Table & Functions1": {
      "main": [
        [
          {
            "node": "Ensure RAG Indexes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure RAG Indexes": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Create Standard Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID - to Context": {
      "main": [
        [
          {
            "node": "Check Session Integrity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24h Trigger (Session)1": {
      "main": [
        [
          {
            "node": "Get Expired File IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Expired File IDs1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Expired Files1": {
      "main": [
        [
          {
            "node": "Clean Database Records1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete from Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete from Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Expired Files1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Database Records1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Setup": {
      "main": [
        [
          {
            "node": "Get Expired File IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpar RAM": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip If Unchanged": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete Old Doc Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Integrity": {
      "main": [
        [
          {
            "node": "Skip If Unchanged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpeza Excel": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limpeza de Docs": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Create Standard Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Expired Files1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Document Metadata1": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Azure OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Docs List": {
      "main": [
        [
          {
            "node": "List RAG Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List RAG Docs": {
      "main": [
        [
          {
            "node": "Aggregate RAG Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate RAG Docs": {
      "main": [
        [
          {
            "node": "Respond RAG Docs List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Doc Delete": {
      "main": [
        [
          {
            "node": "Has file_id?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has file_id?": {
      "main": [
        [
          {
            "node": "Drive: Delete File (subflow)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond RAG Doc Delete Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Delete File (subflow)": {
      "main": [
        [
          {
            "node": "Delete RAG Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete RAG Doc": {
      "main": [
        [
          {
            "node": "Respond RAG Doc Delete OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Purge All": {
      "main": [
        [
          {
            "node": "Get Global Doc IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Global Doc IDs": {
      "main": [
        [
          {
            "node": "Purge All Global Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Purge All Global Docs": {
      "main": [
        [
          {
            "node": "Also Delete From Drive?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Also Delete From Drive?": {
      "main": [
        [
          {
            "node": "Drive: Bulk Delete (subflow)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond RAG Purge OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Bulk Delete (subflow)": {
      "main": [
        [
          {
            "node": "Respond RAG Purge OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook RAG Reprocess All": {
      "main": [
        [
          {
            "node": "Reset Reprocess Markers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Reprocess Markers": {
      "main": [
        [
          {
            "node": "Respond Reprocess OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  }
}
