workspaces/Sameka-Front.json
{
  "name": "Sameka-Front",
  "nodes": [
    {
      "parameters": {
        "html": "<!doctype html>\n<html lang=\"pt-BR\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <title>Sameka - Copiloto Estratégico de Vendas</title>\n    <script src=\"https://cdn.jsdelivr.net/npm/marked@4.3.0/marked.min.js\"></script>\n    <link\n      rel=\"stylesheet\"\n      href=\"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css\"\n    />\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js\"></script>\n    <link\n      href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Playfair+Display:wght@400;600;700&display=swap\"\n      rel=\"stylesheet\"\n    />\n    <script src=\"https://unpkg.com/lucide@latest\"></script>\n    <!-- Iframe polyfills — MUST load BEFORE Supabase SDK -->\n    <script>\n(function () {\n  function c() {\n    var s = {};\n    var proto = {\n      getItem: function (k) {\n        return s.hasOwnProperty(k) ? s[k] : null;\n      },\n      setItem: function (k, v) {\n        s[k] = String(v);\n      },\n      removeItem: function (k) {\n        delete s[k];\n      },\n      clear: function () {\n        for (var p in s) delete s[p];\n      },\n      get length() {\n        return Object.keys(s).length;\n      },\n      key: function (i) {\n        return Object.keys(s)[i] || null;\n      },\n    };\n    return proto;\n  }\n\n  var needsSession = false;\n  var needsLocal = false;\n  try {\n    var _t = window.sessionStorage;\n    if (!_t || !_t.setItem) needsSession = true;\n  } catch (e) {\n    needsSession = true;\n  }\n  try {\n    var _t2 = window.localStorage;\n    if (!_t2 || !_t2.setItem) needsLocal = true;\n  } catch (e) {\n    needsLocal = true;\n  }\n\n  if (needsSession) {\n    try {\n      Object.defineProperty(window, \"sessionStorage\", {\n        value: c(),\n        writable: false,\n        configurable: true,\n      });\n    } catch (e) {}\n  }\n  if (needsLocal) {\n    try {\n      Object.defineProperty(window, \"localStorage\", {\n        value: c(),\n        writable: false,\n        configurable: true,\n      });\n    } catch (e) {}\n  }\n  var nr = function (_n, _o, cb) {\n    if (typeof _o === \"function\") cb = _o;\n    return Promise.resolve(cb({ name: _n, mode: \"exclusive\" }));\n  };\n  try {\n    Object.defineProperty(navigator, \"locks\", {\n      value: {\n        request: nr,\n        query: function () {\n          return Promise.resolve({ held: [], pending: [] });\n        },\n      },\n      writable: true,\n      configurable: true,\n    });\n  } catch (e) {\n    try {\n      navigator.locks = {\n        request: nr,\n        query: function () {\n          return Promise.resolve({ held: [], pending: [] });\n        },\n      };\n    } catch (e2) {}\n  }\n})();\n    </script>\n    <script src=\"https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2\"></script>\n    <script>\nfunction buildAuthStorage() {\n  try {\n    var k = \"__ls_probe__\";\n    localStorage.setItem(k, \"1\");\n    if (localStorage.getItem(k) === \"1\") {\n      localStorage.removeItem(k);\n      return {\n        getItem: function (key) {\n          try {\n            return localStorage.getItem(key);\n          } catch (e) {\n            return null;\n          }\n        },\n        setItem: function (key, val) {\n          try {\n            localStorage.setItem(key, val);\n          } catch (e) {}\n        },\n        removeItem: function (key) {\n          try {\n            localStorage.removeItem(key);\n          } catch (e) {}\n        },\n      };\n    }\n  } catch (e) {}\n  function setCookie(n, v, d) {\n    var dt = new Date();\n    dt.setTime(dt.getTime() + d * 864e5);\n    document.cookie =\n      n +\n      \"=\" +\n      encodeURIComponent(v) +\n      \"; expires=\" +\n      dt.toUTCString() +\n      \"; path=/; SameSite=Lax\";\n  }\n  function getCookie(n) {\n    var m = document.cookie.match(\n      new RegExp(\n        \"(?:^|; )\" +\n          n.replace(/([.$?*|{}()\\[\\]\\\\/+^])/g, \"\\\\$1\") +\n          \"=([^;]*)\",\n      ),\n    );\n    return m ? decodeURIComponent(m[1]) : null;\n  }\n  function delCookie(n) {\n    document.cookie =\n      n + \"=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/\";\n  }\n  try {\n    var ck = \"__ck_probe__\";\n    setCookie(ck, \"1\", 1);\n    if (getCookie(ck) === \"1\") {\n      delCookie(ck);\n      var CH = 3500;\n      return {\n        getItem: function (key) {\n          var meta = getCookie(key + \"__n\");\n          if (!meta) return getCookie(key);\n          var n = parseInt(meta, 10),\n            out = \"\";\n          for (var i = 0; i < n; i++) {\n            var part = getCookie(key + \"__\" + i);\n            if (part == null) return null;\n            out += part;\n          }\n          return out;\n        },\n        setItem: function (key, val) {\n          if (val.length <= CH) {\n            setCookie(key, val, 7);\n            delCookie(key + \"__n\");\n            return;\n          }\n          var n = Math.ceil(val.length / CH);\n          setCookie(key + \"__n\", String(n), 7);\n          for (var i = 0; i < n; i++)\n            setCookie(key + \"__\" + i, val.slice(i * CH, (i + 1) * CH), 7);\n          delCookie(key);\n        },\n        removeItem: function (key) {\n          delCookie(key);\n          var meta = getCookie(key + \"__n\");\n          if (meta) {\n            var n = parseInt(meta, 10);\n            for (var i = 0; i < n; i++) delCookie(key + \"__\" + i);\n            delCookie(key + \"__n\");\n          }\n        },\n      };\n    }\n  } catch (e) {}\n  var mem = {};\n  return {\n    getItem: function (k) {\n      return k in mem ? mem[k] : null;\n    },\n    setItem: function (k, v) {\n      mem[k] = String(v);\n    },\n    removeItem: function (k) {\n      delete mem[k];\n    },\n  };\n}\nfunction diagnoseAuthStorage(storage, storageKey) {\n  var safe = function (fn, fb) {\n    try {\n      return fn();\n    } catch (e) {\n      return fb;\n    }\n  };\n  var raw = safe(function () {\n    return storage.getItem(storageKey);\n  }, null);\n  var lsKeys = safe(function () {\n    return Object.keys(localStorage);\n  }, \"blocked\");\n  var cookiesLen = safe(function () {\n    return (document.cookie || \"\").length;\n  }, \"blocked (sandboxed)\");\n  var inIframe = window.top !== window.self;\n  var sandboxed = cookiesLen === \"blocked (sandboxed)\";\n}\nwindow.buildAuthStorage = buildAuthStorage;\nwindow.diagnoseAuthStorage = diagnoseAuthStorage;\n    </script>\n    <style>\n      :root {\n        --color-primary: #8c957d;\n        --color-primary-hover: #6e7862;\n        --color-wine: #9a6a4a; /* Terracotta Brown */\n        --color-dark-gray: #333333;\n        --color-medium-gray: #767660;\n        --color-light-gray: #f4f4f0;\n        --color-white: #ffffff;\n        --color-black: #2c2c2c;\n        --color-success: #8c957d;\n\n        --bg-body: #faf9f6;\n        --bg-sidebar: var(--color-white);\n        --bg-chat: #ffffff;\n        --bg-header: #ffffff;\n\n        --bg-message-user: linear-gradient(135deg, #8c957d 0%, #6e7862 100%);\n        --text-message-user: var(--color-white);\n\n        --bg-message-assistant: #f9f8f5;\n        --text-message-assistant: var(--color-black);\n\n        --bg-input: var(--color-white);\n        --bg-input-area: #ffffff;\n\n        --text-primary: var(--color-dark-gray);\n        --text-secondary: var(--color-medium-gray);\n        --text-inverse: var(--color-dark-gray);\n\n        --border-color: #e5e2da;\n        --sidebar-width: 280px;\n        --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);\n        --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.08);\n        --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.08);\n\n        --sameka-olive: var(--color-primary);\n        --sameka-terra: var(--color-wine);\n      }\n\n      [data-theme=\"dark\"] {\n        --bg-body: #1a1a17;\n        --bg-sidebar: #22221e;\n        --bg-chat: #1a1a17;\n        --bg-header: #22221e;\n\n        --bg-message-user: linear-gradient(135deg, #8c957d 0%, #6e7862 100%);\n        --text-message-user: #ffffff;\n\n        --bg-message-assistant: #2a2a25;\n        --text-message-assistant: #ece9e1;\n\n        --bg-input: #2a2a25;\n        --bg-input-area: #1a1a17;\n\n        --text-primary: #ece9e1;\n        --text-secondary: #9a977e;\n        --text-inverse: #ece9e1;\n\n        --border-color: #3a3a32;\n        --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.5);\n        --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.4);\n      }\n\n      * {\n        margin: 0;\n        padding: 0;\n        box-sizing: border-box;\n      }\n\n      body {\n        font-family: \"Inter\", \"Segoe UI\", sans-serif;\n        height: 100vh;\n        overflow: hidden;\n        background: var(--bg-body);\n        color: var(--text-primary);\n        transition:\n          background-color 0.3s ease,\n          color 0.3s ease;\n      }\n\n      .app-container {\n        display: flex;\n        flex-direction: column;\n        height: 100vh;\n      }\n\n      .chat-header {\n        background: var(--bg-header);\n        color: var(--text-inverse);\n        padding: 16px 30px;\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        box-shadow: var(--shadow-sm);\n        border-bottom: 1px solid var(--border-color);\n        z-index: 100;\n        transition: background 0.3s ease;\n      }\n\n      .logo-area {\n        display: flex;\n        align-items: center;\n        gap: 16px;\n      }\n\n      .sameka-logo {\n        height: 38px;\n        object-fit: contain;\n      }\n\n      .dt-tag {\n        background: rgba(122, 1, 1, 0.1);\n        color: var(--color-primary);\n        padding: 6px 12px;\n        font-size: 0.7rem;\n        font-weight: 700;\n        text-transform: uppercase;\n        border-radius: 6px;\n        letter-spacing: 0.5px;\n        border: 1px solid rgba(122, 1, 1, 0.2);\n      }\n\n      .header-title {\n        font-size: 0.95rem;\n        font-weight: 600;\n        color: var(--text-secondary);\n      }\n\n      .header-right {\n        display: flex;\n        flex-direction: column;\n        align-items: flex-end;\n        gap: 6px;\n      }\n\n      .connection-status {\n        display: inline-flex;\n        align-items: center;\n        gap: 6px;\n        font-size: 11px;\n        color: #4caf50;\n        background: rgba(76, 175, 80, 0.1);\n        padding: 4px 8px;\n        border-radius: 12px;\n        border: 1px solid rgba(76, 175, 80, 0.2);\n        font-weight: 600;\n        width: 105px;\n        justify-content: center;\n      }\n\n      .connection-dot {\n        width: 6px;\n        height: 6px;\n        background: #4caf50;\n        border-radius: 50%;\n        box-shadow: 0 0 5px #4caf50;\n        animation: pulse 2s infinite;\n      }\n\n      .reset-badge-btn {\n        display: inline-flex;\n        align-items: center;\n        gap: 5px;\n        font-size: 11px;\n        color: var(--text-secondary);\n        background: transparent;\n        padding: 4px 8px;\n        border-radius: 12px;\n        border: 1px solid var(--border-color);\n        font-weight: 600;\n        cursor: pointer;\n        transition: all 0.2s;\n        text-decoration: none;\n        outline: none;\n        width: 105px;\n        justify-content: center;\n      }\n\n      .reset-badge-btn:hover:not(:disabled) {\n        background: rgba(122, 1, 1, 0.1);\n        color: var(--color-primary);\n        border-color: rgba(122, 1, 1, 0.3);\n      }\n\n      .reset-badge-btn:disabled {\n        opacity: 0.5;\n        cursor: not-allowed;\n      }\n\n      .reset-badge-btn i {\n        width: 12px;\n        height: 12px;\n      }\n\n      @keyframes spin {\n        to {\n          transform: rotate(360deg);\n        }\n      }\n\n      .animate-spin {\n        animation: spin 1s linear infinite;\n      }\n\n      @keyframes pulse {\n        0% {\n          opacity: 1;\n        }\n\n        50% {\n          opacity: 0.6;\n        }\n\n        100% {\n          opacity: 1;\n        }\n      }\n\n      .main-grid {\n        display: grid;\n        flex: 1;\n        overflow: hidden;\n        transition: grid-template-columns 0.3s ease;\n      }\n\n      @media (min-width: 769px) {\n        .main-grid {\n          grid-template-columns: var(--sidebar-width) 1fr;\n        }\n\n        .main-grid.sidebar-closed {\n          grid-template-columns: 0 1fr;\n        }\n      }\n\n      .sidebar-backdrop {\n        display: none;\n      }\n\n      #sidebar {\n        background: var(--bg-sidebar);\n        border-right: 2px solid var(--color-primary);\n        display: flex;\n        flex-direction: column;\n        overflow: hidden;\n        transition: background-color 0.3s ease;\n      }\n\n      .toggle-sidebar-btn {\n        background: transparent;\n        border: 2px solid var(--color-primary);\n        color: var(--color-primary);\n        width: 40px;\n        height: 40px;\n        border-radius: 6px;\n        cursor: pointer;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        transition: all 0.2s;\n        flex-shrink: 0;\n      }\n\n      .toggle-sidebar-btn:hover {\n        background: var(--color-primary);\n        color: white;\n      }\n\n      #sidebar-header {\n        padding: 20px;\n        border-bottom: 1px solid rgba(255, 255, 255, 0.1);\n      }\n\n      #sessionList {\n        flex: 1;\n        overflow-y: auto;\n        padding: 10px;\n      }\n\n      .session-item {\n        padding: 12px;\n        margin-bottom: 8px;\n        background: rgba(0, 0, 0, 0.03);\n        border-radius: 6px;\n        cursor: pointer;\n        transition: all 0.2s;\n        display: flex;\n        justify-content: space-between;\n        align-items: flex-start;\n        color: var(--text-primary);\n        border-left: 3px solid transparent;\n      }\n\n      [data-theme=\"dark\"] .session-item {\n        background: rgba(255, 255, 255, 0.05);\n      }\n\n      .session-item:hover {\n        background: rgba(0, 0, 0, 0.08);\n        border-left-color: var(--color-primary);\n      }\n\n      [data-theme=\"dark\"] .session-item:hover {\n        background: rgba(255, 255, 255, 0.1);\n      }\n\n      .session-item.active {\n        background: rgba(122, 1, 1, 0.08);\n        border-left-color: var(--color-primary);\n      }\n\n      [data-theme=\"dark\"] .session-item.active {\n        background: rgba(122, 1, 1, 0.2);\n      }\n\n      .session-content {\n        flex: 1;\n        min-width: 0;\n      }\n\n      .session-title {\n        font-size: 13px;\n        font-weight: 500;\n        margin-bottom: 4px;\n        white-space: nowrap;\n        overflow: hidden;\n        text-overflow: ellipsis;\n      }\n\n      .session-date {\n        font-size: 11px;\n        color: var(--text-secondary);\n        opacity: 0.8;\n      }\n\n      #sidebar ::-webkit-scrollbar {\n        width: 6px;\n      }\n\n      #sidebar ::-webkit-scrollbar-thumb {\n        background: rgba(255, 255, 255, 0.2);\n        border-radius: 3px;\n      }\n\n      #sidebar ::-webkit-scrollbar-thumb:hover {\n        background: var(--color-primary);\n      }\n\n      #chatArea {\n        display: flex;\n        flex-direction: column;\n        background: var(--bg-chat);\n        overflow: hidden;\n        min-width: 0;\n        transition: background-color 0.3s ease;\n      }\n\n      #messagesContainer {\n        flex: 1;\n        overflow-y: auto;\n        overflow-x: hidden;\n        padding: 25px;\n        display: flex;\n        flex-direction: column;\n        gap: 20px;\n      }\n\n      #inputArea {\n        padding: 20px;\n        background: var(--bg-input-area);\n        border-top: 1px solid var(--border-color);\n      }\n\n      .status-info {\n        text-align: center;\n        font-size: 0.75rem;\n        color: var(--color-wine);\n        margin-bottom: 10px;\n        height: 16px;\n      }\n\n      #inputForm {\n        display: flex;\n        gap: 12px;\n        align-items: center;\n      }\n\n      .controls {\n        display: flex;\n        gap: 10px;\n      }\n\n      .action-btn {\n        width: 44px;\n        height: 44px;\n        border: none;\n        border-radius: 50%;\n        cursor: pointer;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        transition: all 0.2s;\n      }\n\n      .btn-attach, .btn-mic {\n        background: #f0f0f0;\n        color: #666;\n      }\n\n      .btn-attach:hover, .btn-mic:hover {\n        background: #e0e0e0;\n        color: var(--color-primary);\n      }\n\n      .btn-send {\n        background: var(--color-primary);\n        color: white;\n      }\n\n      .btn-send:hover:not(:disabled) {\n        background: var(--color-wine);\n        transform: scale(1.05);\n      }\n\n      .btn-send:disabled {\n        opacity: 0.5;\n        cursor: not-allowed;\n      }\n\n      .btn-edit {\n        background: transparent;\n        border: none;\n        color: var(--text-secondary);\n        cursor: pointer;\n        padding: 4px;\n        margin-right: 8px;\n        display: none;\n        transition: color 0.2s;\n      }\n\n      .message.user:hover .btn-edit {\n        display: flex;\n      }\n\n      .btn-edit:hover {\n        color: var(--color-primary);\n      }\n\n      .loading {\n        display: none;\n        text-align: center;\n        padding: 15px;\n        color: #666;\n      }\n\n      .loading.show {\n        display: block;\n      }\n\n      .loading-dots {\n        display: inline-flex;\n        gap: 6px;\n      }\n\n      .loading-dots span {\n        width: 8px;\n        height: 8px;\n        border-radius: 50%;\n        background: var(--color-primary);\n        animation: dotBounce 1.4s infinite ease-in-out;\n      }\n\n      .loading-dots span:nth-child(1) {\n        animation-delay: 0s;\n      }\n\n      .loading-dots span:nth-child(2) {\n        animation-delay: 0.2s;\n      }\n\n      .loading-dots span:nth-child(3) {\n        animation-delay: 0.4s;\n      }\n\n      @keyframes dotBounce {\n        0%,\n        80%,\n        100% {\n          transform: scale(0);\n        }\n\n        40% {\n          transform: scale(1);\n        }\n      }\n\n      #messagesContainer::-webkit-scrollbar {\n        width: 8px;\n      }\n\n      #messagesContainer::-webkit-scrollbar-thumb {\n        background: #ccc;\n        border-radius: 4px;\n      }\n\n      #messagesContainer::-webkit-scrollbar-thumb:hover {\n        background: var(--color-primary);\n      }\n\n           SKELETON LOADERS\n      .skeleton {\n        background: linear-gradient(\n          90deg,\n          #e0e0e0 25%,\n          #f0f0f0 50%,\n          #e0e0e0 75%\n        );\n        background-size: 200% 100%;\n        animation: shimmer 1.5s infinite;\n        border-radius: 6px;\n      }\n\n      @keyframes shimmer {\n        0% {\n          background-position: 200% 0;\n        }\n\n        100% {\n          background-position: -200% 0;\n        }\n      }\n\n      .skeleton-session {\n        padding: 12px;\n        margin-bottom: 8px;\n        background: var(--color-light-gray);\n        border-radius: 6px;\n      }\n\n      .skeleton-session-title {\n        height: 16px;\n        width: 70%;\n        margin-bottom: 8px;\n      }\n\n      .skeleton-session-date {\n        height: 12px;\n        width: 40%;\n      }\n\n      .skeleton-message {\n        display: flex;\n        gap: 12px;\n        margin-bottom: 20px;\n      }\n\n      .skeleton-avatar {\n        width: 40px;\n        height: 40px;\n        border-radius: 50%;\n      }\n\n      .skeleton-content {\n        flex: 1;\n        max-width: 60%;\n      }\n\n      .skeleton-text {\n        height: 14px;\n        margin-bottom: 8px;\n        border-radius: 4px;\n      }\n\n      .skeleton-text:last-child {\n        width: 80%;\n      }\n\n      .typing-indicator {\n        display: flex;\n        gap: 12px;\n        align-items: flex-start;\n        animation: fadeIn 0.3s;\n      }\n\n      .typing-indicator .message-avatar {\n        width: 40px;\n        height: 40px;\n        border-radius: 50%;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        background: var(--color-wine);\n        color: white;\n        flex-shrink: 0;\n      }\n\n      .typing-dots {\n        background: var(--bg-message-assistant);\n        padding: 16px 20px;\n        border-radius: 12px;\n        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);\n        display: flex;\n        gap: 6px;\n        align-items: center;\n      }\n\n      .typing-dots span {\n        width: 8px;\n        height: 8px;\n        border-radius: 50%;\n        background: var(--color-primary);\n        animation: typingBounce 1.4s infinite ease-in-out;\n      }\n\n      .typing-dots span:nth-child(1) {\n        animation-delay: 0s;\n      }\n\n      .typing-dots span:nth-child(2) {\n        animation-delay: 0.2s;\n      }\n\n      .typing-dots span:nth-child(3) {\n        animation-delay: 0.4s;\n      }\n\n      @keyframes typingBounce {\n        0%,\n        60%,\n        100% {\n          transform: translateY(0);\n        }\n\n        30% {\n          transform: translateY(-10px);\n        }\n      }\n\n      .message {\n        display: flex;\n        gap: 15px;\n        animation: fadeIn 0.3s;\n        max-width: 80%;\n        width: fit-content;\n        margin-bottom: 25px;\n        min-width: 0;\n      }\n\n      .message.user {\n        flex-direction: row-reverse;\n        margin-left: auto;\n        align-self: flex-end;\n        text-align: right;\n      }\n\n      .message.assistant {\n        margin-right: auto;\n        align-self: flex-start;\n      }\n\n      .message-avatar {\n        width: 40px;\n        height: 40px;\n        border-radius: 50%;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        font-weight: 600;\n        flex-shrink: 0;\n        font-size: 18px;\n      }\n\n      .message.user .message-avatar {\n        background: linear-gradient(\n          135deg,\n          var(--color-primary) 0%,\n          #a01b32 100%\n        );\n        color: white;\n        box-shadow: 0 2px 8px rgba(216, 36, 68, 0.3);\n      }\n\n      .message.assistant .message-avatar {\n        background: linear-gradient(135deg, var(--color-wine) 0%, #5a1010 100%);\n        color: white;\n        box-shadow: 0 2px 8px rgba(122, 24, 24, 0.3);\n      }\n\n      .message-content {\n        padding: 14px 18px;\n        border-radius: 12px;\n        line-height: 1.7;\n        box-shadow: var(--shadow-sm);\n        font-size: 1rem;\n        overflow-wrap: break-word;\n        word-break: break-word;\n        min-width: 0;\n        max-width: 100%;\n      }\n\n      .message.user .message-content {\n        background: var(--bg-message-user);\n        color: var(--text-message-user, white);\n        text-align: left;\n        border-bottom-right-radius: 2px;\n      }\n\n      .message.assistant .message-content {\n        background: var(--bg-message-assistant);\n        color: var(--text-message-assistant, var(--color-black));\n        border: 1px solid var(--border-color);\n        border-top-left-radius: 2px;\n      }\n\n      .message-content table {\n        width: 100%;\n        border-collapse: collapse;\n        margin: 20px 0;\n        border: 1px solid var(--border-color);\n        background: rgba(255, 255, 255, 0.05);\n        display: block;\n        overflow-x: auto;\n      }\n\n      .message-content th {\n        background: var(--color-dark-gray);\n        color: white;\n        padding: 12px;\n        text-align: left;\n        font-size: 0.85rem;\n        text-transform: uppercase;\n        font-weight: 600;\n      }\n\n      .message-content td {\n        padding: 12px;\n        border: 1px solid var(--border-color);\n        font-size: 0.95rem;\n      }\n\n      .message-content tr:nth-child(even) {\n        background: rgba(0, 0, 0, 0.03);\n      }\n\n      [data-theme=\"dark\"] .message-content tr:nth-child(even) {\n        background: rgba(255, 255, 255, 0.03);\n      }\n\n      .message-content ul,\n      .message-content ol {\n        margin-left: 25px;\n        margin-bottom: 15px;\n        margin-top: 10px;\n      }\n\n      .message-content li {\n        margin-bottom: 6px;\n      }\n\n      .message-content strong {\n        font-weight: 700;\n        color: inherit;\n      }\n\n      .message-content a {\n        color: var(--color-primary);\n        text-decoration: none;\n        font-weight: 600;\n      }\n\n      .message-content a:hover {\n        text-decoration: underline;\n      }\n\n      .message-content h1,\n      .message-content h2,\n      .message-content h3 {\n        margin-top: 20px;\n        margin-bottom: 10px;\n        font-weight: 700;\n        color: inherit;\n      }\n\n      .message-content code {\n        background: rgba(0, 0, 0, 0.1);\n        padding: 2px 4px;\n        border-radius: 4px;\n        font-family: \"Consolas\", \"Monaco\", monospace;\n        font-size: 0.9em;\n      }\n\n      [data-theme=\"dark\"] .message-content code {\n        background: rgba(255, 255, 255, 0.1);\n      }\n\n      .message-content pre {\n        background: #2d2d2d;\n        color: #f8f8f2;\n        padding: 15px;\n        border-radius: 8px;\n        overflow-x: auto;\n        margin: 15px 0;\n        max-width: 100%;\n      }\n\n      .message-content pre code {\n        background: transparent;\n        padding: 0;\n        color: inherit;\n      }\n\n      #messageInput {\n        flex: 1;\n        padding: 14px 20px;\n        border: 2px solid var(--border-color);\n        background: var(--bg-input);\n        color: var(--text-primary);\n        border-radius: 24px;\n        font-size: 15px;\n        outline: none;\n        transition: all 0.2s;\n        resize: none;\n        max-height: 120px;\n        min-height: 48px;\n        font-family: inherit;\n        line-height: 1.5;\n        overflow-y: hidden;\n      }\n\n      #messageInput:focus {\n        border-color: var(--color-primary);\n        box-shadow: 0 0 0 3px rgba(140, 149, 125, 0.15);\n      }\n\n      #newChatBtn {\n        width: 100%;\n        padding: 14px 16px;\n        background: var(--color-primary);\n        color: white;\n        border: none;\n        border-radius: 8px;\n        font-size: 14px;\n        font-weight: 600;\n        cursor: pointer;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        gap: 10px;\n        transition: all 0.3s;\n        box-shadow: 0 2px 8px rgba(216, 36, 68, 0.3);\n      }\n\n      #newChatBtn:hover {\n        background: var(--color-primary-hover);\n        transform: translateY(-2px);\n        box-shadow: 0 4px 12px rgba(216, 36, 68, 0.4);\n      }\n\n      #newChatBtn svg {\n        width: 18px;\n        height: 18px;\n      }\n\n      .delete-btn {\n        background: transparent;\n        border: none;\n        color: var(--text-secondary);\n        cursor: pointer;\n        padding: 4px;\n        transition: all 0.2s;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        border-radius: 4px;\n      }\n\n      .delete-btn:hover {\n        background: rgba(216, 36, 68, 0.1);\n        color: var(--color-primary);\n      }\n\n      .delete-btn svg {\n        width: 16px;\n        height: 16px;\n      }\n\n      .file-attachment {\n        display: inline-flex;\n        align-items: center;\n        gap: 8px;\n        background: rgba(255, 255, 255, 0.2);\n        padding: 6px 12px;\n        border-radius: 6px;\n        margin-top: 8px;\n        font-size: 13px;\n      }\n\n      .file-attachment svg {\n        width: 14px;\n        height: 14px;\n      }\n\n      /* MOBILE RESPONSIVE */\n      @media (max-width: 768px) {\n        .chat-header {\n          padding: 12px 16px;\n        }\n\n        .logo-area {\n          gap: 10px;\n        }\n\n        .senai-logo {\n          font-size: 1.1rem;\n        }\n\n        .dt-tag {\n          display: none;\n        }\n\n        .header-title {\n          font-size: 0.8rem;\n          display: none;\n        }\n\n        .connection-status {\n          font-size: 0.65rem;\n          padding: 4px 8px;\n        }\n\n        .main-grid {\n          grid-template-columns: 1fr;\n          position: relative;\n        }\n\n        .main-grid.sidebar-closed {\n          grid-template-columns: 1fr;\n        }\n\n        #sidebar {\n          position: absolute;\n          left: 0;\n          top: 0;\n          width: 260px;\n          height: 100%;\n          z-index: 200;\n          box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);\n          transition: transform 0.3s ease;\n          transform: translateX(-100%);\n        }\n\n        .main-grid:not(.sidebar-closed) #sidebar {\n          transform: translateX(0);\n        }\n\n        .sidebar-backdrop {\n          display: none;\n          position: absolute;\n          top: 0;\n          left: 0;\n          right: 0;\n          bottom: 0;\n          background: rgba(0, 0, 0, 0.5);\n          z-index: 199;\n          pointer-events: none;\n        }\n\n        .main-grid:not(.sidebar-closed) .sidebar-backdrop {\n          display: block;\n          pointer-events: auto;\n        }\n\n        .message {\n          max-width: 85%;\n        }\n\n        #messagesContainer {\n          padding: 15px;\n          gap: 20px;\n        }\n\n        .action-btn {\n          width: 44px;\n          height: 44px;\n        }\n\n        .toggle-sidebar-btn {\n          width: 44px;\n          height: 44px;\n        }\n      }\n\n      @media (max-width: 480px) {\n        .chat-header {\n          padding: 10px 12px;\n        }\n\n        .senai-logo {\n          font-size: 1rem;\n        }\n\n        .connection-status span {\n          display: none;\n        }\n\n        .message {\n          max-width: 90%;\n        }\n\n        .message-content {\n          padding: 12px 14px;\n          font-size: 14px;\n        }\n\n        #inputArea {\n          padding: 12px;\n        }\n\n        #messageInput {\n          font-size: 14px;\n          padding: 12px 16px;\n        }\n      }\n\n      /* MODALS & SIDEBAR FOOTER */\n\n      .login-overlay {\n        position: fixed;\n        top: 0;\n        left: 0;\n        width: 100%;\n        height: 100%;\n        background: rgba(0, 0, 0, 0.85);\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        z-index: 9999;\n        backdrop-filter: blur(5px);\n      }\n\n      .login-box {\n        background: var(--bg-chat);\n        padding: 40px;\n        border-radius: 12px;\n        width: 100%;\n        max-width: 400px;\n        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);\n        text-align: center;\n        border: 1px solid var(--border-color);\n      }\n\n      .login-title {\n        color: var(--color-primary);\n        font-size: 24px;\n        font-weight: 800;\n        margin-bottom: 20px;\n        letter-spacing: -0.5px;\n      }\n\n      .login-input {\n        width: 100%;\n        padding: 12px 16px;\n        margin-bottom: 15px;\n        border: 2px solid var(--border-color);\n        background: var(--bg-input);\n        color: var(--text-primary);\n        border-radius: 8px;\n        font-size: 16px;\n        outline: none;\n      }\n\n      .login-input:focus {\n        border-color: var(--color-primary);\n      }\n\n      .login-btn {\n        width: 100%;\n        padding: 12px;\n        background: var(--color-primary);\n        color: white;\n        border: none;\n        border-radius: 8px;\n        font-size: 16px;\n        font-weight: 600;\n        cursor: pointer;\n        transition: all 0.2s;\n      }\n\n      .login-btn:hover {\n        background: var(--color-primary-hover);\n      }\n\n      .confirm-modal-backdrop {\n        position: fixed;\n        top: 0;\n        left: 0;\n        width: 100%;\n        height: 100%;\n        background: rgba(0, 0, 0, 0.7);\n        display: none;\n        align-items: center;\n        justify-content: center;\n        z-index: 10000;\n      }\n\n      .confirm-modal {\n        background: var(--bg-chat);\n        padding: 24px;\n        border-radius: 12px;\n        width: 90%;\n        max-width: 320px;\n        max-height: 85vh;\n        overflow-y: auto;\n        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);\n        border: 1px solid var(--border-color);\n        animation: fadeIn 0.2s ease-out;\n      }\n\n      .confirm-title {\n        font-size: 18px;\n        font-weight: 600;\n        color: var(--text-primary);\n        margin-bottom: 12px;\n      }\n\n      .confirm-text {\n        color: var(--text-secondary);\n        font-size: 14px;\n        margin-bottom: 20px;\n      }\n\n      .confirm-actions {\n        display: flex;\n        gap: 10px;\n        justify-content: flex-end;\n      }\n\n      .btn-modal {\n        padding: 8px 16px;\n        border-radius: 6px;\n        font-size: 14px;\n        font-weight: 600;\n        cursor: pointer;\n        border: none;\n      }\n\n      .btn-cancel {\n        background: transparent;\n        color: var(--text-secondary);\n        border: 1px solid var(--border-color);\n      }\n\n      .btn-confirm {\n        background: var(--color-primary);\n        color: white;\n      }\n\n      .ms-wrapper {\n        position: relative;\n        margin-bottom: 15px;\n        z-index: 10;\n      }\n      .ms-wrapper:last-of-type {\n        z-index: 5;\n      }\n      .ms-wrapper label {\n        display: block;\n        font-size: 0.8rem;\n        font-weight: 600;\n        color: var(--text-secondary);\n        margin-bottom: 4px;\n      }\n      .ms-trigger {\n        width: 100%;\n        padding: 10px 14px;\n        border: 2px solid var(--border-color);\n        background: var(--bg-input);\n        color: var(--text-primary);\n        border-radius: 8px;\n        font-size: 14px;\n        cursor: pointer;\n        text-align: left;\n        display: flex;\n        justify-content: space-between;\n        align-items: center;\n        min-height: 42px;\n      }\n      .ms-trigger:focus {\n        border-color: var(--color-primary);\n        outline: none;\n      }\n      .ms-trigger .ms-arrow {\n        font-size: 10px;\n        opacity: 0.5;\n      }\n      .ms-dropdown {\n        display: none;\n        position: absolute;\n        top: 100%;\n        left: 0;\n        right: 0;\n        z-index: 10001;\n        background: var(--bg-chat);\n        border: 2px solid var(--border-color);\n        border-top: none;\n        border-radius: 0 0 8px 8px;\n        max-height: 220px;\n        overflow-y: auto;\n        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);\n      }\n      .ms-dropdown.open {\n        display: block;\n      }\n      .ms-search {\n        width: 100%;\n        padding: 8px 12px;\n        border: none;\n        border-bottom: 1px solid var(--border-color);\n        background: var(--bg-input);\n        color: var(--text-primary);\n        font-size: 13px;\n        outline: none;\n      }\n      .ms-option {\n        display: flex;\n        align-items: center;\n        gap: 8px;\n        padding: 7px 12px;\n        cursor: pointer;\n        font-size: 13px;\n        transition: background 0.15s;\n      }\n      .ms-option:hover {\n        background: rgba(var(--color-primary-rgb, 99, 102, 241), 0.08);\n      }\n      .ms-option input[type=\"checkbox\"] {\n        accent-color: var(--color-primary);\n        width: 15px;\n        height: 15px;\n        cursor: pointer;\n      }\n      .ms-option.ms-all {\n        font-weight: 700;\n        border-bottom: 1px solid var(--border-color);\n      }\n      .ms-tags {\n        display: flex;\n        flex-wrap: wrap;\n        gap: 4px;\n        max-width: calc(100% - 20px);\n      }\n      .ms-tag {\n        background: var(--color-primary);\n        color: white;\n        padding: 1px 8px;\n        border-radius: 12px;\n        font-size: 11px;\n        font-weight: 600;\n        white-space: nowrap;\n      }\n      .ms-placeholder {\n        color: var(--text-secondary);\n        opacity: 0.6;\n      }\n      .ms-loading {\n        padding: 12px;\n        text-align: center;\n        font-size: 13px;\n        color: var(--text-secondary);\n      }\n\n      .ms-group-header {\n        display: flex;\n        align-items: center;\n        gap: 8px;\n        padding: 8px 12px;\n        cursor: pointer;\n        font-size: 12px;\n        font-weight: 700;\n        text-transform: uppercase;\n        letter-spacing: 0.5px;\n        color: var(--color-primary);\n        background: rgba(140, 149, 125, 0.08);\n        border-top: 1px solid var(--border-color);\n        position: sticky;\n        top: 0;\n        z-index: 1;\n        user-select: none;\n      }\n      [data-theme=\"dark\"] .ms-group-header {\n        background: rgba(140, 149, 125, 0.15);\n      }\n      .ms-group-header:first-child {\n        border-top: none;\n      }\n      .ms-group-header:hover {\n        background: rgba(140, 149, 125, 0.14);\n      }\n      .ms-group-header .ms-group-chevron {\n        font-size: 10px;\n        transition: transform 0.2s;\n        margin-left: auto;\n        opacity: 0.5;\n      }\n      .ms-group-header.collapsed .ms-group-chevron {\n        transform: rotate(-90deg);\n      }\n      .ms-group-header .ms-group-count {\n        font-size: 10px;\n        font-weight: 400;\n        color: var(--text-secondary);\n        margin-left: 4px;\n      }\n      .ms-group-body {\n        display: block;\n      }\n      .ms-group-body.collapsed {\n        display: none;\n      }\n      .ms-group-body .ms-option {\n        padding-left: 20px;\n      }\n      #cidadesDropdown2 {\n        max-height: 320px;\n      }\n\n      .users-page-header {\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        padding: 16px 24px;\n        border-bottom: 1px solid var(--border-color);\n        background: var(--bg-sidebar);\n        flex-shrink: 0;\n      }\n      .users-back-btn {\n        background: none;\n        border: 1px solid var(--border-color);\n        border-radius: 8px;\n        padding: 6px 8px;\n        cursor: pointer;\n        color: var(--text-primary);\n        display: flex;\n        align-items: center;\n        transition: background 0.15s;\n      }\n      .users-back-btn:hover {\n        background: rgba(0, 0, 0, 0.05);\n      }\n      .users-page-body {\n        flex: 1;\n        overflow-y: auto;\n        padding: 16px 24px;\n      }\n      .users-th {\n        text-align: left;\n        padding: 10px 12px;\n        font-size: 0.78rem;\n        text-transform: uppercase;\n        color: var(--text-secondary);\n        border-bottom: 2px solid var(--border-color);\n        white-space: nowrap;\n      }\n      .users-td {\n        padding: 10px 12px;\n        border-bottom: 1px solid var(--border-color);\n        font-size: 0.9rem;\n        vertical-align: middle;\n      }\n      .user-form-panel {\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        bottom: 0;\n        background: var(--bg-chat);\n        z-index: 50;\n        overflow-y: auto;\n        animation: fadeIn 0.2s ease-out;\n      }\n      #usersPage {\n        position: relative;\n      }\n      .user-form-inner {\n        max-width: 800px;\n        margin: 0 auto;\n        padding: 32px 24px;\n      }\n      .user-form-grid {\n        display: grid;\n        grid-template-columns: 1fr 1fr;\n        gap: 24px;\n      }\n      @media (max-width: 700px) {\n        .user-form-grid {\n          grid-template-columns: 1fr;\n        }\n      }\n      .user-form-col {\n        display: flex;\n        flex-direction: column;\n      }\n      .form-label {\n        display: block;\n        font-size: 0.8rem;\n        font-weight: 600;\n        color: var(--text-secondary);\n        margin-bottom: 4px;\n      }\n\n      .sidebar-footer {\n        padding: 16px;\n        border-top: 1px solid var(--border-color);\n        background: rgba(0, 0, 0, 0.03);\n        margin-top: auto;\n      }\n\n      [data-theme=\"dark\"] .sidebar-footer {\n        background: rgba(0, 0, 0, 0.2);\n      }\n\n      .user-profile {\n        display: flex;\n        align-items: center;\n        gap: 12px;\n        padding: 8px;\n        background: rgba(0, 0, 0, 0.05);\n        border-radius: 8px;\n      }\n\n      [data-theme=\"dark\"] .user-profile {\n        background: rgba(255, 255, 255, 0.05);\n      }\n\n      .user-avatar {\n        width: 36px;\n        height: 36px;\n        border-radius: 50%;\n        background: var(--color-primary);\n        color: white;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        font-weight: 700;\n        font-size: 14px;\n      }\n\n      .user-info {\n        flex: 1;\n        overflow: hidden;\n      }\n\n      .user-name {\n        font-size: 13px;\n        font-weight: 600;\n        color: var(--text-primary);\n        white-space: nowrap;\n        overflow: hidden;\n        text-overflow: ellipsis;\n      }\n\n      .user-role {\n        font-size: 11px;\n        color: var(--text-secondary);\n      }\n\n      .footer-actions {\n        display: flex;\n        gap: 8px;\n        margin-top: 12px;\n      }\n\n      .footer-btn {\n        flex: 1;\n        padding: 8px;\n        border: 1px solid var(--border-color);\n        background: transparent;\n        color: var(--text-primary);\n        border-radius: 6px;\n        cursor: pointer;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        gap: 6px;\n        font-size: 12px;\n        transition: all 0.2s;\n      }\n\n      .footer-btn:hover {\n        background: rgba(0, 0, 0, 0.05);\n        color: var(--color-primary);\n      }\n\n      [data-theme=\"dark\"] .footer-btn:hover {\n        background: rgba(255, 255, 255, 0.1);\n        color: white;\n      }\n\n      .err-msg {\n        color: #ff4444;\n        font-size: 13px;\n        margin-top: 10px;\n        display: none;\n      }\n\n      .empty-state {\n        display: none;\n        flex-direction: column;\n        align-items: center;\n        justify-content: center;\n        height: 100%;\n        text-align: center;\n        padding: 20px;\n        color: var(--text-secondary);\n        animation: fadeIn 0.3s ease-out;\n      }\n\n      .empty-state.show {\n        display: flex;\n      }\n\n      .empty-icon {\n        width: 64px;\n        height: 64px;\n        color: var(--color-primary);\n        margin-bottom: 20px;\n        opacity: 0.8;\n        background: rgba(37, 99, 235, 0.1);\n        padding: 16px;\n        border-radius: 50%;\n      }\n\n      .empty-title {\n        font-size: 24px;\n        font-weight: 700;\n        color: var(--text-primary);\n        margin-bottom: 10px;\n      }\n\n      .empty-subtitle {\n        font-size: 16px;\n        max-width: 400px;\n        line-height: 1.5;\n      }\n\n      @keyframes fadeIn {\n        from {\n          opacity: 0;\n          transform: translateY(10px);\n        }\n\n        to {\n          opacity: 1;\n          transform: translateY(0);\n        }\n      }\n\n           LEAD CARDS — Rich Itinerary Components\n      .lead-cards-container {\n        display: flex;\n        flex-direction: column;\n        gap: 12px;\n        margin: 16px 0;\n      }\n\n      .lead-card {\n        border: 1px solid var(--border-color);\n        border-radius: 12px;\n        overflow: hidden;\n        background: var(--bg-chat);\n        box-shadow: var(--shadow-sm);\n        transition:\n          box-shadow 0.2s,\n          border-color 0.2s;\n      }\n      .lead-card:hover {\n        box-shadow: var(--shadow-md);\n        border-color: var(--color-primary);\n      }\n\n      .lead-card-header {\n        display: flex;\n        align-items: flex-start;\n        justify-content: space-between;\n        padding: 14px 18px;\n        cursor: pointer;\n        user-select: none;\n        background: rgba(140, 149, 125, 0.06);\n        transition: background 0.2s;\n        gap: 12px;\n      }\n      [data-theme=\"dark\"] .lead-card-header {\n        background: rgba(140, 149, 125, 0.1);\n      }\n      .lead-card-header:hover {\n        background: rgba(140, 149, 125, 0.12);\n      }\n\n      .lead-card-header-left {\n        display: flex;\n        flex-direction: column;\n        gap: 8px;\n        flex: 1;\n        min-width: 0;\n      }\n      .lead-card-header-top {\n        display: flex;\n        align-items: center;\n        gap: 10px;\n        min-width: 0;\n      }\n      .lead-card-icon {\n        width: 36px;\n        height: 36px;\n        border-radius: 50%;\n        background: linear-gradient(135deg, #8c957d 0%, #9a6a4a 100%);\n        color: white;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        flex-shrink: 0;\n        font-size: 16px;\n      }\n      .lead-card-title {\n        font-weight: 600;\n        font-size: 0.95rem;\n        color: var(--text-primary);\n        overflow-wrap: break-word;\n        word-break: break-word;\n        min-width: 0;\n      }\n      .lead-card-tags {\n        display: flex;\n        flex-wrap: wrap;\n        align-items: center;\n        gap: 8px;\n        padding-left: 46px;\n      }\n      .lead-match-tag {\n        padding: 3px 10px;\n        border-radius: 20px;\n        font-size: 0.68rem;\n        font-weight: 600;\n        text-transform: uppercase;\n        letter-spacing: 0.5px;\n        background: rgba(140, 149, 125, 0.15);\n        color: #6e7862;\n        line-height: 1.4;\n      }\n      [data-theme=\"dark\"] .lead-match-tag {\n        background: rgba(140, 149, 125, 0.25);\n        color: #b5bc9e;\n      }\n      .lead-presence-yes {\n        color: #16a34a;\n        font-size: 0.7rem;\n        font-weight: 600;\n        white-space: nowrap;\n      }\n      .lead-presence-no {\n        color: #dc2626;\n        font-size: 0.7rem;\n        font-weight: 600;\n        white-space: nowrap;\n      }\n      .lead-chevron {\n        transition: transform 0.3s;\n        color: var(--text-secondary);\n        flex-shrink: 0;\n      }\n      .lead-card.open .lead-chevron {\n        transform: rotate(180deg);\n      }\n\n      .lead-card-body {\n        max-height: 0;\n        overflow: hidden;\n        transition:\n          max-height 0.4s ease,\n          padding 0.3s ease;\n        padding: 0 18px;\n        border-top: 0 solid transparent;\n      }\n      .lead-card.open .lead-card-body {\n        max-height: 800px;\n        padding: 16px 18px;\n        border-top: 1px solid var(--border-color);\n      }\n\n      .lead-section {\n        margin-bottom: 14px;\n      }\n      .lead-section:last-child {\n        margin-bottom: 0;\n      }\n      .lead-section-label {\n        font-size: 0.7rem;\n        font-weight: 700;\n        text-transform: uppercase;\n        letter-spacing: 1px;\n        color: var(--color-primary);\n        margin-bottom: 6px;\n        display: flex;\n        align-items: center;\n        gap: 6px;\n      }\n      .lead-section-label i {\n        width: 14px;\n        height: 14px;\n      }\n\n      .lead-address {\n        font-size: 0.88rem;\n        color: var(--text-primary);\n        line-height: 1.5;\n      }\n      .lead-tip {\n        font-size: 0.85rem;\n        color: var(--text-secondary);\n        font-style: italic;\n        background: rgba(154, 106, 74, 0.08);\n        padding: 8px 12px;\n        border-radius: 8px;\n        border-left: 3px solid var(--color-wine);\n      }\n\n      .lead-badges {\n        display: flex;\n        flex-wrap: wrap;\n        gap: 8px;\n      }\n      .lead-badge {\n        display: inline-flex;\n        align-items: center;\n        gap: 6px;\n        padding: 6px 12px;\n        border-radius: 20px;\n        font-size: 0.8rem;\n        font-weight: 500;\n        text-decoration: none;\n        background: rgba(140, 149, 125, 0.1);\n        color: var(--text-primary);\n        border: 1px solid var(--border-color);\n        transition: all 0.2s;\n        cursor: default;\n      }\n      a.lead-badge {\n        cursor: pointer;\n      }\n      a.lead-badge:hover {\n        background: var(--color-primary);\n        color: white;\n        border-color: var(--color-primary);\n      }\n      .lead-badge i {\n        width: 14px;\n        height: 14px;\n      }\n\n      .lead-social-links {\n        display: flex;\n        flex-wrap: wrap;\n        gap: 8px;\n      }\n      .lead-social-link {\n        display: inline-flex;\n        align-items: center;\n        gap: 6px;\n        padding: 6px 12px;\n        border-radius: 20px;\n        font-size: 0.78rem;\n        font-weight: 500;\n        text-decoration: none;\n        transition: all 0.2s;\n        background: rgba(154, 106, 74, 0.1);\n        color: var(--color-wine);\n        border: 1px solid rgba(154, 106, 74, 0.2);\n      }\n      .lead-social-link:hover {\n        background: var(--color-wine);\n        color: white;\n      }\n      .lead-social-link i {\n        width: 14px;\n        height: 14px;\n      }\n\n      .lead-score-badge {\n        display: inline-flex;\n        align-items: center;\n        gap: 6px;\n        padding: 5px 12px;\n        border-radius: 20px;\n        font-size: 0.78rem;\n        font-weight: 600;\n      }\n      .lead-score-a {\n        background: rgba(22, 163, 74, 0.12);\n        color: #16a34a;\n      }\n      .lead-score-b {\n        background: rgba(234, 179, 8, 0.12);\n        color: #b45309;\n      }\n      .lead-score-c {\n        background: rgba(220, 38, 38, 0.12);\n        color: #dc2626;\n      }\n      .lead-score-default {\n        background: rgba(140, 149, 125, 0.1);\n        color: var(--text-secondary);\n      }\n\n      .lead-carousel {\n        position: relative;\n        border-radius: 10px;\n        overflow: hidden;\n        background: #f4f4f0;\n      }\n      [data-theme=\"dark\"] .lead-carousel {\n        background: #2a2a25;\n      }\n      .lead-carousel-track {\n        display: flex;\n        transition: transform 0.35s ease;\n      }\n      .lead-carousel-slide {\n        min-width: 100%;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n      }\n      .lead-carousel-slide img {\n        width: 100%;\n        max-height: 220px;\n        object-fit: cover;\n      }\n      .lead-carousel-btn {\n        position: absolute;\n        top: 50%;\n        transform: translateY(-50%);\n        width: 32px;\n        height: 32px;\n        border-radius: 50%;\n        background: rgba(255, 255, 255, 0.85);\n        border: none;\n        cursor: pointer;\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);\n        transition: all 0.2s;\n        z-index: 2;\n      }\n      .lead-carousel-btn:hover {\n        background: white;\n      }\n      .lead-carousel-prev {\n        left: 8px;\n      }\n      .lead-carousel-next {\n        right: 8px;\n      }\n      .lead-carousel-dots {\n        display: flex;\n        justify-content: center;\n        gap: 6px;\n        padding: 8px 0;\n      }\n      .lead-carousel-dot {\n        width: 8px;\n        height: 8px;\n        border-radius: 50%;\n        background: var(--border-color);\n        cursor: pointer;\n        transition: background 0.2s;\n      }\n      .lead-carousel-dot.active {\n        background: var(--color-primary);\n      }\n\n      @media (max-width: 768px) {\n        .lead-card-header {\n          padding: 12px 14px;\n        }\n        .lead-card.open .lead-card-body {\n          padding: 12px 14px;\n        }\n        .lead-match-tag {\n          display: none;\n        }\n      }\n\n      .login-logo {\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        margin-bottom: 24px;\n      }\n      .login-logo img {\n        height: 80px;\n        object-fit: contain;\n        margin-bottom: 8px;\n      }\n      .login-logo-subtitle {\n        font-size: 0.75rem;\n        color: var(--text-secondary);\n        letter-spacing: 2px;\n        text-transform: uppercase;\n        font-weight: 500;\n      }\n\n      .lead-social-link.social-instagram {\n        background: linear-gradient(\n          135deg,\n          rgba(131, 58, 180, 0.1),\n          rgba(253, 29, 29, 0.1),\n          rgba(252, 176, 69, 0.1)\n        );\n        color: #c13584;\n        border-color: rgba(193, 53, 132, 0.2);\n      }\n      .lead-social-link.social-instagram:hover {\n        background: linear-gradient(135deg, #833ab4, #fd1d1d, #fcb045);\n        color: white;\n        border-color: transparent;\n      }\n      .lead-social-link.social-facebook {\n        background: rgba(24, 119, 242, 0.08);\n        color: #1877f2;\n        border-color: rgba(24, 119, 242, 0.2);\n      }\n      .lead-social-link.social-facebook:hover {\n        background: #1877f2;\n        color: white;\n      }\n      .lead-social-link.social-whatsapp {\n        background: rgba(37, 211, 102, 0.08);\n        color: #25d366;\n        border-color: rgba(37, 211, 102, 0.2);\n      }\n      .lead-social-link.social-whatsapp:hover {\n        background: #25d366;\n        color: white;\n      }\n      .lead-social-link.social-linkedin {\n        background: rgba(10, 102, 194, 0.08);\n        color: #0a66c2;\n        border-color: rgba(10, 102, 194, 0.2);\n      }\n      .lead-social-link.social-linkedin:hover {\n        background: #0a66c2;\n        color: white;\n      }\n      .lead-social-link.social-tiktok {\n        background: rgba(0, 0, 0, 0.06);\n        color: #010101;\n        border-color: rgba(0, 0, 0, 0.15);\n      }\n      [data-theme=\"dark\"] .lead-social-link.social-tiktok {\n        background: rgba(255, 255, 255, 0.08);\n        color: #fff;\n      }\n      .lead-social-link.social-tiktok:hover {\n        background: #010101;\n        color: #25f4ee;\n      }\n      .lead-social-link.social-youtube {\n        background: rgba(255, 0, 0, 0.08);\n        color: #ff0000;\n        border-color: rgba(255, 0, 0, 0.2);\n      }\n      .lead-social-link.social-youtube:hover {\n        background: #ff0000;\n        color: white;\n      }\n\n      .lead-card.lead-mismatch {\n        opacity: 0.7;\n      }\n      .lead-card.lead-mismatch .lead-card-header {\n        background: rgba(220, 38, 38, 0.06);\n      }\n      [data-theme=\"dark\"] .lead-card.lead-mismatch .lead-card-header {\n        background: rgba(220, 38, 38, 0.12);\n      }\n      .lead-mismatch-banner {\n        display: flex;\n        align-items: center;\n        gap: 8px;\n        padding: 10px 14px;\n        border-radius: 8px;\n        background: rgba(220, 38, 38, 0.08);\n        border: 1px solid rgba(220, 38, 38, 0.2);\n        color: #dc2626;\n        font-size: 0.82rem;\n        font-weight: 600;\n        margin-bottom: 14px;\n      }\n      .lead-mismatch-banner i {\n        width: 16px;\n        height: 16px;\n        flex-shrink: 0;\n      }\n      .lead-match-tag.tag-mismatch {\n        background: rgba(220, 38, 38, 0.12);\n        color: #dc2626;\n      }\n      [data-theme=\"dark\"] .lead-match-tag.tag-mismatch {\n        background: rgba(220, 38, 38, 0.25);\n        color: #f87171;\n      }\n\n      .sameka-info-box {\n        border-radius: 12px;\n        padding: 18px 20px;\n        margin: 16px 0;\n        border: 1px solid var(--border-color);\n      }\n      .sameka-info-box h4 {\n        margin: 0 0 12px 0;\n        font-size: 0.9rem;\n        font-weight: 700;\n        display: flex;\n        align-items: center;\n        gap: 8px;\n      }\n      .sameka-info-box ul {\n        margin: 0;\n        padding-left: 0;\n        list-style: none;\n      }\n      .sameka-info-box li {\n        padding: 6px 0;\n        font-size: 0.88rem;\n        line-height: 1.5;\n        display: flex;\n        align-items: flex-start;\n        gap: 8px;\n      }\n      .sameka-info-box li::before {\n        content: none;\n      }\n      .info-box-intel {\n        background: linear-gradient(\n          135deg,\n          rgba(140, 149, 125, 0.06) 0%,\n          rgba(154, 106, 74, 0.06) 100%\n        );\n        border-color: rgba(140, 149, 125, 0.2);\n      }\n      .info-box-intel h4 {\n        color: var(--color-primary);\n      }\n      .info-box-authority {\n        background: linear-gradient(\n          135deg,\n          rgba(154, 106, 74, 0.06) 0%,\n          rgba(140, 149, 125, 0.06) 100%\n        );\n        border-color: rgba(154, 106, 74, 0.2);\n      }\n      .info-box-authority h4 {\n        color: var(--color-wine);\n      }\n    </style>\n  </head>\n\n  <body>\n    <div class=\"app-container\">\n      <!-- HEADER 100% -->\n      <header class=\"chat-header\">\n        <button\n          class=\"toggle-sidebar-btn\"\n          id=\"toggleSidebarBtn\"\n          title=\"Alternar lista de conversas\"\n        >\n          <i data-lucide=\"panel-left\"></i>\n        </button>\n        <div class=\"logo-area\">\n          <img\n            src=\"https://dcdn-us.mitiendanube.com/stores/005/789/028/themes/common/logo-4190349340515114659-1776105154-d1ced7a98951407a8e1b804038f4b81f1776105154-640-0.webp\"\n            alt=\"Sameka\"\n            style=\"height: 56px; object-fit: contain; flex-shrink: 0\"\n          />\n          <div\n            class=\"header-title\"\n            style=\"\n              margin-left: 10px;\n              border-left: 1px solid var(--border-color);\n              padding-left: 15px;\n            \"\n          >\n            Copiloto Estratégico de Vendas\n          </div>\n        </div>\n        <div class=\"header-right\">\n          <div class=\"connection-status\">\n            <div class=\"connection-dot\"></div>\n            <span>Online</span>\n          </div>\n          <button\n            id=\"resetRagBtn\"\n            class=\"reset-badge-btn\"\n            title=\"Resetar Memória RAG\"\n            data-admin-only\n          >\n            <i data-lucide=\"database-backup\"></i>\n            <span>Resetar</span>\n          </button>\n        </div>\n      </header>\n      <!-- GRID: Sidebar + Chat -->\n      <div class=\"main-grid\">\n        <div class=\"sidebar-backdrop\" id=\"sidebarBackdrop\"></div>\n        <!-- SIDEBAR -->\n        <aside id=\"sidebar\">\n          <div id=\"sidebar-header\">\n            <button id=\"newChatBtn\">\n              <i data-lucide=\"plus\"></i>\n              <span>Nova Conversa</span>\n            </button>\n          </div>\n          <div id=\"sessionList\">\n            <!-- Sessões carregadas aqui -->\n          </div>\n          <!-- SIDEBAR FOOTER -->\n          <div class=\"sidebar-footer\">\n            <div class=\"user-profile\">\n              <div class=\"user-avatar\" id=\"userAvatar\">--</div>\n              <div class=\"user-info\">\n                <div class=\"user-name\" id=\"userName\">...</div>\n                <div class=\"user-role\" id=\"userRole\">...</div>\n              </div>\n            </div>\n            <div class=\"footer-actions\">\n              <button\n                class=\"footer-btn\"\n                id=\"manageUsersBtn\"\n                title=\"Gerenciar Usuários\"\n                data-admin-only\n              >\n                <i data-lucide=\"users\" style=\"width: 14px; height: 14px\"></i>\n                <span>Usuários</span>\n              </button>\n              <button\n                class=\"footer-btn\"\n                id=\"themeToggleBtn\"\n                title=\"Alternar Tema\"\n              >\n                <i data-lucide=\"moon\" style=\"width: 14px; height: 14px\"></i>\n                <span>Tema</span>\n              </button>\n              <button class=\"footer-btn\" id=\"logoutBtn\" title=\"Sair do sistema\">\n                <i data-lucide=\"log-out\" style=\"width: 14px; height: 14px\"></i>\n                <span>Sair</span>\n              </button>\n            </div>\n          </div>\n        </aside>\n        <!-- CHAT AREA -->\n        <main id=\"chatArea\">\n          <div id=\"messagesContainer\"></div>\n\n          <!-- Empty State -->\n          <div id=\"emptyState\" class=\"empty-state\">\n            <div class=\"empty-icon\">\n              <i\n                data-lucide=\"message-square-dashed\"\n                style=\"width: 100%; height: 100%\"\n              ></i>\n            </div>\n            <div class=\"empty-title\">Copiloto Estratégico Sameka</div>\n            <div class=\"empty-subtitle\">\n              Pronto para gerar roteiros de vendas, consultar catálogos e\n              encontrar as melhores oportunidades na sua região.\n            </div>\n          </div>\n\n          <div class=\"loading\" id=\"loading\">\n            <div class=\"loading-dots\">\n              <span></span><span></span><span></span>\n            </div>\n          </div>\n          <div id=\"inputArea\">\n            <div class=\"status-info\" id=\"statusMessage\"></div>\n            <form id=\"inputForm\">\n              <input type=\"file\" id=\"fileInput\" style=\"display: none\" />\n              <textarea\n                id=\"messageInput\"\n                placeholder=\"Digite sua mensagem...\"\n                rows=\"1\"\n              ></textarea>\n              <div class=\"controls\">\n                <button\n                  type=\"button\"\n                  class=\"action-btn btn-attach\"\n                  id=\"attachBtn\"\n                  title=\"Anexar arquivo\"\n                >\n                  <i data-lucide=\"paperclip\"></i>\n                </button>\n\n                <button\n                  type=\"submit\"\n                  class=\"action-btn btn-send\"\n                  id=\"sendBtn\"\n                  title=\"Enviar\"\n                >\n                  <i data-lucide=\"send\"></i>\n                </button>\n              </div>\n            </form>\n          </div>\n        </main>\n\n        <!-- USERS PAGE (full panel, replaces chat when active) -->\n        <section\n          id=\"usersPage\"\n          style=\"\n            display: none;\n            flex-direction: column;\n            overflow: hidden;\n            background: var(--bg-chat);\n            grid-column: 2;\n            grid-row: 1;\n          \"\n        >\n          <!-- Users Header -->\n          <div class=\"users-page-header\">\n            <div style=\"display: flex; align-items: center; gap: 12px\">\n              <button\n                class=\"users-back-btn\"\n                id=\"usersBackBtn\"\n                title=\"Voltar ao chat\"\n              >\n                <i\n                  data-lucide=\"arrow-left\"\n                  style=\"width: 18px; height: 18px\"\n                ></i>\n              </button>\n              <h2\n                style=\"\n                  margin: 0;\n                  font-size: 1.3rem;\n                  font-weight: 700;\n                  color: var(--text-primary);\n                \"\n              >\n                Gerenciar Usuários\n                <span\n                  id=\"usersCount2\"\n                  style=\"\n                    font-size: 13px;\n                    color: var(--text-secondary);\n                    font-weight: 400;\n                  \"\n                ></span>\n              </h2>\n            </div>\n            <button\n              class=\"btn-modal btn-confirm\"\n              id=\"addUserBtn2\"\n              style=\"\n                display: inline-flex;\n                align-items: center;\n                gap: 6px;\n                font-size: 13px;\n                padding: 8px 16px;\n              \"\n            >\n              <i data-lucide=\"user-plus\" style=\"width: 14px; height: 14px\"></i>\n              Novo Usuário\n            </button>\n          </div>\n\n          <!-- Users Table -->\n          <div class=\"users-page-body\">\n            <div\n              id=\"usersLoading2\"\n              style=\"\n                display: none;\n                text-align: center;\n                padding: 40px;\n                color: var(--text-secondary);\n              \"\n            >\n              <div style=\"font-size: 2rem; margin-bottom: 8px\">⏳</div>\n              Carregando usuários...\n            </div>\n            <table\n              id=\"usersTable2\"\n              style=\"width: 100%; border-collapse: collapse; display: none\"\n            >\n              <thead>\n                <tr>\n                  <th class=\"users-th\">Nome</th>\n                  <th class=\"users-th\">E-mail</th>\n                  <th class=\"users-th\">Papel</th>\n                  <th class=\"users-th\">Atuação</th>\n                  <th class=\"users-th\">Criado</th>\n                  <th class=\"users-th\" style=\"text-align: right\">Ações</th>\n                </tr>\n              </thead>\n              <tbody id=\"usersTableBody2\"></tbody>\n            </table>\n          </div>\n\n          <!-- Create/Edit User Form (inline, no modal) -->\n          <div id=\"userFormPanel\" style=\"display: none\" class=\"user-form-panel\">\n            <div class=\"user-form-inner\">\n              <div\n                style=\"\n                  display: flex;\n                  align-items: center;\n                  justify-content: space-between;\n                  margin-bottom: 20px;\n                \"\n              >\n                <h3\n                  style=\"\n                    margin: 0;\n                    font-size: 1.1rem;\n                    font-weight: 700;\n                    color: var(--text-primary);\n                  \"\n                  id=\"userFormTitle\"\n                >\n                  Novo Usuário\n                </h3>\n                <button\n                  type=\"button\"\n                  class=\"btn-modal btn-cancel\"\n                  id=\"userFormCloseBtn\"\n                  style=\"padding: 4px 10px\"\n                >\n                  ✕\n                </button>\n              </div>\n              <form id=\"userForm2\">\n                <div class=\"user-form-grid\">\n                  <div class=\"user-form-col\">\n                    <div id=\"emailField2\">\n                      <label class=\"form-label\">E-mail</label>\n                      <input\n                        type=\"email\"\n                        class=\"login-input\"\n                        id=\"formEmail\"\n                        placeholder=\"usuario@email.com\"\n                        required\n                        autocomplete=\"off\"\n                      />\n                    </div>\n                    <div id=\"passwordField2\">\n                      <label class=\"form-label\">Senha</label>\n                      <input\n                        type=\"password\"\n                        class=\"login-input\"\n                        id=\"formPassword\"\n                        placeholder=\"Mínimo 6 caracteres\"\n                        required\n                        autocomplete=\"new-password\"\n                        minlength=\"6\"\n                      />\n                    </div>\n                    <label class=\"form-label\">Nome completo</label>\n                    <input\n                      type=\"text\"\n                      class=\"login-input\"\n                      id=\"formFullName\"\n                      placeholder=\"Nome completo\"\n                      autocomplete=\"off\"\n                    />\n                    <label class=\"form-label\">Papel</label>\n                    <select\n                      class=\"login-input\"\n                      id=\"formRole\"\n                      style=\"cursor: pointer\"\n                    >\n                      <option value=\"representante\">\n                        Representante de Vendas\n                      </option>\n                      <option value=\"admin\">Administrador</option>\n                    </select>\n                  </div>\n                  <div class=\"user-form-col\">\n                    <!-- Estados multi-select -->\n                    <div class=\"ms-wrapper\" id=\"estadosWrapper2\">\n                      <label>Estados de Atuação</label>\n                      <button\n                        type=\"button\"\n                        class=\"ms-trigger\"\n                        id=\"estadosTrigger2\"\n                      >\n                        <span class=\"ms-placeholder\"\n                          >Selecione os estados...</span\n                        >\n                        <span class=\"ms-arrow\">&#9660;</span>\n                      </button>\n                      <div class=\"ms-dropdown\" id=\"estadosDropdown2\">\n                        <input\n                          type=\"text\"\n                          class=\"ms-search\"\n                          id=\"estadosSearch2\"\n                          placeholder=\"Buscar estado...\"\n                        />\n                        <div id=\"estadosOptions2\">\n                          <div class=\"ms-loading\">Carregando estados...</div>\n                        </div>\n                      </div>\n                    </div>\n                    <!-- Cidades multi-select -->\n                    <div class=\"ms-wrapper\" id=\"cidadesWrapper2\">\n                      <label>Cidades de Atuação</label>\n                      <button\n                        type=\"button\"\n                        class=\"ms-trigger\"\n                        id=\"cidadesTrigger2\"\n                      >\n                        <span class=\"ms-placeholder\"\n                          >Selecione estados primeiro...</span\n                        >\n                        <span class=\"ms-arrow\">&#9660;</span>\n                      </button>\n                      <div class=\"ms-dropdown\" id=\"cidadesDropdown2\">\n                        <input\n                          type=\"text\"\n                          class=\"ms-search\"\n                          id=\"cidadesSearch2\"\n                          placeholder=\"Buscar cidade...\"\n                        />\n                        <div id=\"cidadesOptions2\">\n                          <div class=\"ms-loading\">\n                            Selecione ao menos um estado.\n                          </div>\n                        </div>\n                      </div>\n                    </div>\n                  </div>\n                </div>\n                <div class=\"err-msg\" id=\"formError\" style=\"display: none\"></div>\n                <div class=\"confirm-actions\" style=\"margin-top: 20px\">\n                  <button\n                    type=\"button\"\n                    class=\"btn-modal btn-cancel\"\n                    id=\"formCancelBtn\"\n                  >\n                    Cancelar\n                  </button>\n                  <button\n                    type=\"submit\"\n                    class=\"btn-modal btn-confirm\"\n                    id=\"formSaveBtn\"\n                  >\n                    Salvar\n                  </button>\n                </div>\n              </form>\n            </div>\n          </div>\n        </section>\n      </div>\n    </div>\n\n    <!-- MODALS -->\n    <!-- Login Overlay -->\n    <div class=\"login-overlay\" id=\"loginOverlay\">\n      <div class=\"login-box\">\n        <div class=\"login-logo\">\n          <img\n            src=\"https://dcdn-us.mitiendanube.com/stores/005/789/028/themes/common/logo-4190349340515114659-1776105154-d1ced7a98951407a8e1b804038f4b81f1776105154-640-0.webp\"\n            alt=\"Sameka\"\n          />\n          <span class=\"login-logo-subtitle\">Copiloto Estratégico</span>\n        </div>\n        <div class=\"login-title\">Acesso Restrito</div>\n        <form id=\"loginForm\">\n          <input\n            type=\"email\"\n            class=\"login-input\"\n            id=\"emailInput\"\n            placeholder=\"E-mail\"\n            required\n            autocomplete=\"email\"\n          />\n          <input\n            type=\"password\"\n            class=\"login-input\"\n            id=\"passwordInput\"\n            placeholder=\"Senha\"\n            required\n            autocomplete=\"current-password\"\n          />\n          <button type=\"submit\" class=\"login-btn\" id=\"loginBtn\">Entrar</button>\n          <div class=\"err-msg\" id=\"loginError\">E-mail ou senha incorretos.</div>\n        </form>\n      </div>\n    </div>\n\n    <!-- User Delete Modal -->\n    <div class=\"confirm-modal-backdrop\" id=\"deleteModal\" style=\"display: none\">\n      <div class=\"confirm-modal\" style=\"max-width: 380px\">\n        <h3 class=\"confirm-title\">Excluir Usuário</h3>\n        <p class=\"confirm-text\">\n          Tem certeza que deseja excluir o usuário\n          <strong id=\"deleteUserName\"></strong>? Esta ação não pode ser\n          desfeita.\n        </p>\n        <div class=\"err-msg\" id=\"deleteModalError\" style=\"display: none\"></div>\n        <div class=\"confirm-actions\">\n          <button class=\"btn-modal btn-cancel\" id=\"deleteCancelBtn\">\n            Cancelar\n          </button>\n          <button\n            class=\"btn-modal btn-confirm\"\n            id=\"deleteConfirmBtn\"\n            style=\"background: #dc2626\"\n          >\n            Excluir\n          </button>\n        </div>\n      </div>\n    </div>\n\n    <!-- Confirm Modal -->\n    <div class=\"confirm-modal-backdrop\" id=\"confirmModal\">\n      <div class=\"confirm-modal\">\n        <h3 class=\"confirm-title\">Excluir conversa</h3>\n        <p class=\"confirm-text\">\n          Tem certeza que deseja excluir esta conversa permanentemente? Esta\n          ação não pode ser desfeita.\n        </p>\n        <div class=\"confirm-actions\">\n          <button class=\"btn-modal btn-cancel\" id=\"cancelDeleteBtn\">\n            Cancelar\n          </button>\n          <button class=\"btn-modal btn-confirm\" id=\"confirmDeleteBtn\">\n            Excluir\n          </button>\n        </div>\n      </div>\n    </div>\n    <script>\nlucide.createIcons();\nmarked.setOptions({\n  highlight: function (code, lang) {\n    return hljs.highlightAuto(code).value;\n  },\n  breaks: true,\n  gfm: true,\n});\nconst API_BASE = \"https://longflatworm-n8n.cloudfy.live/webhook\";\nconst CHAT_URL = `${API_BASE}/sameka-AgentRag`;\nconst UPLOAD_URL = `${API_BASE}/sameka-index-drive`;\nconst SESSIONS_URL = `${API_BASE}/sameka-sessions`;\nconst HISTORY_URL = `${API_BASE}/sameka-history`;\nconst DELETE_URL = `${API_BASE}/sameka-session`;\nconst RESET_URL = `${API_BASE}/sameka-DatabaseSetup`;\nconst PRUNE_URL = `${API_BASE}/sameka-prune-history`;\nconst HEALTH_URL = `${API_BASE}/sameka_health`;\n\nlet currentSessionId = null;\nlet sessions = [];\nlet isLoading = false;\nlet abortController = null;\nlet isEditing = false;\nlet uploadAbortController = null;\nlet appStarted = false; // Moved to top for hoisting safety\nconst elements = {\n  sessionList: document.getElementById(\"sessionList\"),\n  messagesContainer: document.getElementById(\"messagesContainer\"),\n  messageInput: document.getElementById(\"messageInput\"),\n  sendBtn: document.getElementById(\"sendBtn\"),\n  newChatBtn: document.getElementById(\"newChatBtn\"),\n  loading: document.getElementById(\"loading\"),\n  statusMessage: document.getElementById(\"statusMessage\"),\n  attachBtn: document.getElementById(\"attachBtn\"),\n  fileInput: document.getElementById(\"fileInput\"),\n  themeToggleBtn: document.getElementById(\"themeToggleBtn\"),\n  logoutBtn: document.getElementById(\"logoutBtn\"),\n  loginOverlay: document.getElementById(\"loginOverlay\"),\n  loginForm: document.getElementById(\"loginForm\"),\n  emailInput: document.getElementById(\"emailInput\"),\n  passwordInput: document.getElementById(\"passwordInput\"),\n  loginError: document.getElementById(\"loginError\"),\n  loginBtn: document.getElementById(\"loginBtn\"),\n  confirmModal: document.getElementById(\"confirmModal\"),\n  cancelDeleteBtn: document.getElementById(\"cancelDeleteBtn\"),\n  confirmDeleteBtn: document.getElementById(\"confirmDeleteBtn\"),\n  resetRagBtn: document.getElementById(\"resetRagBtn\"),\n  emptyState: document.getElementById(\"emptyState\"),\n  inputForm: document.getElementById(\"inputForm\"),\n  userAvatar: document.getElementById(\"userAvatar\"),\n  userName: document.getElementById(\"userName\"),\n  userRole: document.getElementById(\"userRole\"),\n  manageUsersBtn: document.getElementById(\"manageUsersBtn\"),\n};\n\nconst cancelEditBtn = document.createElement(\"button\");\ncancelEditBtn.className = \"action-btn\";\ncancelEditBtn.innerHTML = '<i data-lucide=\"x\"></i>';\ncancelEditBtn.title = \"Cancelar Edição\";\ncancelEditBtn.style.display = \"none\";\ncancelEditBtn.style.background = \"#f0f0f0\";\ncancelEditBtn.style.color = \"#666\";\ncancelEditBtn.type = \"button\";\ncancelEditBtn.addEventListener(\"click\", cancelEdit);\n\nelements.sendBtn.parentNode.insertBefore(cancelEditBtn, elements.sendBtn);\n\nconst AUTH_CONFIG = {\n  SUPABASE_URL: \"https://longflatworm-supabase.cloudfy.live\",\n  SUPABASE_ANON_KEY:\n    \"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiYW5vbiIsImlzcyI6InN1cGFiYXNlIiwiaWF0IjoxNzczNjY1NzE2LCJleHAiOjE4MDUyMDE3MTZ9.nM55mAkSiyvvaIoUACEw4pY4GSJVfvrMX7b1q5JVwyg\",\n  STORAGE_KEY: \"sameka-auth\",\n  ADMIN_ROLE: \"admin\",\n  DEFAULT_ROLE: \"representante\",\n  ROLE_LABELS: {\n    admin: \"Administrador\",\n    representante: \"Rep. Vendas\",\n  },\n};\n\nconst authStorage = buildAuthStorage();\ndiagnoseAuthStorage(authStorage, AUTH_CONFIG.STORAGE_KEY);\n\nconst supabaseClient = supabase.createClient(\n  AUTH_CONFIG.SUPABASE_URL,\n  AUTH_CONFIG.SUPABASE_ANON_KEY,\n  {\n    auth: {\n      storage: authStorage,\n      storageKey: AUTH_CONFIG.STORAGE_KEY,\n      autoRefreshToken: true,\n      persistSession: true,\n      detectSessionInUrl: false,\n      flowType: \"implicit\",\n      lock: function (_name, _acquireTimeout, fn) {\n        return fn();\n      },\n    },\n  },\n);\n\nlet currentUserRole = null;\nlet currentUserId = null;\nlet currentUserMeta = {};\n\nfunction toggleLogin(loggedIn) {\n  if (!elements.loginOverlay) return;\n  elements.loginOverlay.style.display = loggedIn ? \"none\" : \"flex\";\n  if (!loggedIn)\n    setTimeout(\n      () => elements.emailInput && elements.emailInput.focus(),\n      100,\n    );\n}\n\nfunction showLoginError(msg) {\n  if (!elements.loginError) return;\n  elements.loginError.textContent = msg || \"E-mail ou senha incorretos.\";\n  elements.loginError.style.display = \"block\";\n}\n\nfunction applySession(session) {\n  const meta = session.user.user_metadata || {};\n  const name = meta.full_name || session.user.email || \"Usuário\";\n  const initials = name\n    .split(\" \")\n    .map((w) => w[0])\n    .join(\"\")\n    .toUpperCase()\n    .slice(0, 2);\n  currentUserId = session.user.id;\n  currentUserRole = meta.role || AUTH_CONFIG.DEFAULT_ROLE;\n  currentUserMeta = meta;\n  if (elements.userAvatar) elements.userAvatar.textContent = initials;\n  if (elements.userName) elements.userName.textContent = name;\n  if (elements.userRole)\n    elements.userRole.textContent =\n      AUTH_CONFIG.ROLE_LABELS[currentUserRole] || currentUserRole;\n  applyRoleUI();\n}\n\nfunction applyRoleUI() {\n  const isAdmin = currentUserRole === AUTH_CONFIG.ADMIN_ROLE;\n  document.querySelectorAll(\"[data-admin-only]\").forEach((el) => {\n    el.style.display = isAdmin ? \"\" : \"none\";\n  });\n}\n\nasync function handleSession(session) {\n  if (!session) {\n    toggleLogin(false);\n    return;\n  }\n  applySession(session);\n  toggleLogin(true);\n  appStarted = false;\n  if (typeof window.startApp === \"function\") {\n    window.startApp();\n  }\n}\n\nasync function checkAuth() {\n  const {\n    data: { session },\n  } = await supabaseClient.auth.getSession();\n  await handleSession(session);\n}\n\nsupabaseClient.auth.onAuthStateChange(async (event, session) => {\n  if (event === \"SIGNED_OUT\") {\n    toggleLogin(false);\n  } else if (event === \"SIGNED_IN\" && session) {\n    await handleSession(session);\n  }\n});\n\nif (elements.loginForm) {\n  elements.loginForm.addEventListener(\"submit\", async (e) => {\n    e.preventDefault();\n    elements.loginError.style.display = \"none\";\n    elements.loginBtn.disabled = true;\n    const originalText = elements.loginBtn.textContent;\n    elements.loginBtn.textContent = \"...\";\n    try {\n      const { data, error } =\n        await supabaseClient.auth.signInWithPassword({\n          email: elements.emailInput.value.trim(),\n          password: elements.passwordInput.value,\n        });\n      if (error) {\n        const msg = error.message || \"Erro desconhecido\";\n        if (\n          msg.toLowerCase().includes(\"invalid\") ||\n          msg.toLowerCase().includes(\"credentials\")\n        ) {\n          showLoginError(\"E-mail ou senha incorretos.\");\n        } else if (msg.toLowerCase().includes(\"email not confirmed\")) {\n          showLoginError(\n            \"E-mail não confirmado. Contate o administrador.\",\n          );\n        } else if (\n          msg.toLowerCase().includes(\"network\") ||\n          msg.toLowerCase().includes(\"fetch\")\n        ) {\n          showLoginError(\"Erro de rede. Verifique sua conexão.\");\n        } else {\n          showLoginError(msg);\n        }\n        return;\n      }\n      await handleSession(data.session);\n    } catch (err) {\n      showLoginError(\n        \"Erro ao conectar: \" + (err.message || \"Tente novamente.\"),\n      );\n    } finally {\n      elements.loginBtn.disabled = false;\n      elements.loginBtn.textContent = originalText;\n    }\n  });\n}\n\nif (elements.logoutBtn) {\n  elements.logoutBtn.addEventListener(\"click\", async () => {\n    await supabaseClient.auth.signOut();\n    toggleLogin(false);\n    if (elements.emailInput) elements.emailInput.value = \"\";\n    if (elements.passwordInput) elements.passwordInput.value = \"\";\n    clearChatArea();\n    elements.sessionList.innerHTML = \"\";\n    sessions = [];\n    currentSessionId = null;\n    appStarted = false;\n    currentUserRole = null;\n    currentUserId = null;\n  });\n}\n\nwindow.supabaseClient = supabaseClient;\nwindow.AUTH_CONFIG = AUTH_CONFIG;\nwindow.applyRoleUI = applyRoleUI;\nwindow.getCurrentUserRole = () => currentUserRole;\nwindow.getCurrentUserId = () => currentUserId;\n\ncheckAuth();\n\nfunction safeStorageGet(key) {\n  try {\n    return localStorage.getItem(key);\n  } catch (e) {\n    return null;\n  }\n}\nfunction safeStorageSet(key, val) {\n  try {\n    localStorage.setItem(key, val);\n  } catch (e) {}\n}\n\nfunction initTheme() {\n  const savedTheme = safeStorageGet(\"theme\") || \"light\";\n  document.documentElement.setAttribute(\"data-theme\", savedTheme);\n  updateThemeIcon(savedTheme);\n}\n\nfunction toggleTheme() {\n  const current = document.documentElement.getAttribute(\"data-theme\");\n  const next = current === \"dark\" ? \"light\" : \"dark\";\n  document.documentElement.setAttribute(\"data-theme\", next);\n  safeStorageSet(\"theme\", next);\n  updateThemeIcon(next);\n}\n\nfunction updateThemeIcon(theme) {\n  elements.themeToggleBtn.innerHTML = \"\";\n  if (theme === \"dark\") {\n    elements.themeToggleBtn.innerHTML = `<i data-lucide=\"sun\" style=\"width: 14px; height: 14px;\"></i><span>Light</span>`;\n  } else {\n    elements.themeToggleBtn.innerHTML = `<i data-lucide=\"moon\" style=\"width: 14px; height: 14px;\"></i><span>Dark</span>`;\n  }\n  lucide.createIcons();\n}\n\nelements.themeToggleBtn.addEventListener(\"click\", toggleTheme);\ninitTheme();\nlet healthCheckInterval = null;\n\nfunction setOfflineState(isOffline) {\n  const statusContainer = document.querySelector(\".connection-status\");\n  const dot = document.querySelector(\".connection-dot\");\n  const text = statusContainer.querySelector(\"span\");\n\n  if (!statusContainer || !dot || !text) return;\n\n  if (isOffline) {\n    text.textContent = \"Offline\";\n    statusContainer.style.color = \"#f44336\";\n    statusContainer.style.background = \"rgba(244, 67, 54, 0.1)\";\n    statusContainer.style.borderColor = \"rgba(244, 67, 54, 0.2)\";\n    dot.style.background = \"#f44336\";\n    dot.style.boxShadow = \"0 0 5px #f44336\";\n    dot.style.animation = \"none\";\n\n    if (!healthCheckInterval) {\n      healthCheckInterval = setInterval(checkHealth, 10000); // 10 segundos\n    }\n  } else {\n    text.textContent = \"Online\";\n    statusContainer.style.color = \"#4CAF50\";\n    statusContainer.style.background = \"rgba(76, 175, 80, 0.1)\";\n    statusContainer.style.borderColor = \"rgba(76, 175, 80, 0.2)\";\n    dot.style.background = \"#4CAF50\";\n    dot.style.boxShadow = \"0 0 5px #4CAF50\";\n    dot.style.animation = \"pulse 2s infinite\";\n\n    if (healthCheckInterval) {\n      clearInterval(healthCheckInterval);\n      healthCheckInterval = null;\n    }\n  }\n}\n\nasync function checkHealth() {\n  try {\n    const response = await fetch(HEALTH_URL, { cache: \"no-store\" });\n    if (!response.ok) {\n      setOfflineState(true);\n      return;\n    }\n    const data = await response.json();\n    if (data && data.status === \"ok\") {\n      setOfflineState(false);\n    } else {\n      setOfflineState(true);\n    }\n  } catch (error) {\n    setOfflineState(true);\n  }\n}\n\nconst originalFetch = window.fetch;\nwindow.fetch = async function (...args) {\n  let url = \"\";\n  if (typeof args[0] === \"string\") {\n    url = args[0];\n  } else if (args[0] && args[0].url) {\n    url = args[0].url;\n  }\n\n  try {\n    const response = await originalFetch(...args);\n    if (url.startsWith(API_BASE) && !url.includes(\"sameka_health\")) {\n      if (response.ok) {\n        setOfflineState(false);\n      } else if (response.status >= 500) {\n        setOfflineState(true);\n      }\n    }\n    return response;\n  } catch (error) {\n    if (url.startsWith(API_BASE) && !url.includes(\"sameka_health\")) {\n      if (error.name !== \"AbortError\") {\n        setOfflineState(true);\n      }\n    }\n    throw error;\n  }\n};\n\nasync function fetchSessions() {\n  try {\n    const uid = currentUserId || \"\";\n    const sessionsUrlWithUser = `${SESSIONS_URL}?userId=${encodeURIComponent(uid)}`;\n    const response = await fetch(sessionsUrlWithUser, {\n      cache: \"no-store\",\n    });\n\n    if (!response.ok) {\n      throw new Error(\"Failed to fetch sessions\");\n    }\n\n    const text = await response.text();\n    if (!text || text.trim().length === 0) {\n      return [];\n    }\n\n    let data;\n    try {\n      data = JSON.parse(text);\n    } catch (e) {\n      return [];\n    }\n\n    if (data && !Array.isArray(data)) {\n      return [data];\n    }\n    return Array.isArray(data) ? data : [];\n  } catch (error) {\n    return [];\n  }\n}\nasync function fetchHistory(sessionId) {\n  try {\n    const response = await fetch(`${HISTORY_URL}?sessionId=${sessionId}`);\n    if (!response.ok) throw new Error(\"Failed to fetch history\");\n\n    const text = await response.text();\n    if (!text || text.trim().length === 0) {\n      return [];\n    }\n\n    let data;\n    try {\n      data = JSON.parse(text);\n    } catch (e) {\n      return [];\n    }\n\n    return data.map((item) => {\n      let processedItem = item;\n\n      if (item.message) {\n        processedItem = {\n          id: item.id, // Preserve ID from DB\n          role: item.message.type === \"human\" ? \"user\" : \"assistant\",\n          content: item.message.content || \"\",\n          timestamp:\n            item.created_at || item.message.timestamp || item.timestamp,\n        };\n      }\n\n      const legacyMatch =\n        processedItem.content &&\n        processedItem.content.match(/^Enviando arquivo: (.+)$/);\n      const newMatch =\n        processedItem.content &&\n        processedItem.content.match(\n          /^Arquivo (.+) enviado para an?lise\\.$/,\n        );\n\n      if ((legacyMatch || newMatch) && processedItem.role === \"user\") {\n        processedItem.file = newMatch ? newMatch[1] : legacyMatch[1];\n      }\n\n      if (processedItem.content && processedItem.role === \"user\") {\n        processedItem.content = processedItem.content.replace(\n          /^\\s*\\[CONTEXTO[^\\]]*\\]\\s*/i,\n          \"\",\n        );\n      }\n\n      return processedItem;\n    });\n  } catch (error) {\n    return [];\n  }\n}\nasync function deleteSession(sessionId) {\n  try {\n    const response = await fetch(`${DELETE_URL}?sessionId=${sessionId}`, {\n      method: \"DELETE\",\n    });\n    if (!response.ok) throw new Error(\"Failed to delete session\");\n    return true;\n  } catch (error) {\n    return false;\n  }\n}\nasync function resetRagDatabase() {\n  try {\n    const response = await fetch(RESET_URL, {\n      method: \"POST\",\n    });\n\n    if (!response.ok) throw new Error(\"Failed to reset database\");\n\n    const text = await response.text();\n    if (!text || text.trim().length === 0) {\n      return {\n        status: \"success\",\n        message: \"Resetado com sucesso (Sem retorno do servidor)\",\n      };\n    }\n\n    try {\n      return JSON.parse(text);\n    } catch (e) {\n      return { status: \"success\", message: \"Resetado com sucesso!\" }; // Assume success if 200 OK\n    }\n  } catch (error) {\n    return null;\n  }\n}\nasync function sendMessage(message, sessionId, onChunk) {\n  abortController = new AbortController();\n  try {\n    const userName = currentUserMeta.full_name || \"\";\n    const userRole = currentUserRole || \"representante\";\n    const userEstados =\n      (currentUserMeta.estados || []).join(\", \") || \"Nacional\";\n    const userCidades =\n      (currentUserMeta.cidades || []).join(\", \") || \"Todas\";\n    const userContext = `[CONTEXTO DO USUÁRIO: Nome=\"${userName}\" | Papel=\"${userRole}\" | Estados=\"${userEstados}\" | Cidades=\"${userCidades}\" | ID=\"${currentUserId || \"\"}\"]\\n\\n`;\n\n    const response = await fetch(CHAT_URL, {\n      method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\" },\n      body: JSON.stringify({\n        chatInput: userContext + message,\n        sessionId: sessionId,\n        userId: currentUserId || \"\",\n      }),\n      signal: abortController.signal,\n    });\n\n    if (!response.ok) throw new Error(\"Failed to send message\");\n\n    const contentType = response.headers.get(\"content-type\");\n    if (contentType && contentType.includes(\"application/json\")) {\n      const rawText = await response.text();\n      if (!rawText || rawText.trim().length === 0) {\n        return \"Sem resposta do servidor.\";\n      }\n      try {\n        const data = JSON.parse(rawText);\n        const extracted =\n          data.output ||\n          data.message ||\n          data.text ||\n          data.response ||\n          data.content ||\n          data.result ||\n          (data.data &&\n            (data.data.output || data.data.message || data.data.text)) ||\n          null;\n        if (\n          extracted &&\n          typeof extracted === \"string\" &&\n          extracted.trim().length > 0\n        ) {\n          return extracted;\n        }\n        const keys = Object.keys(data);\n        if (keys.length === 1 && typeof data[keys[0]] === \"string\") {\n          return data[keys[0]];\n        }\n        return JSON.stringify(data, null, 2);\n      } catch (parseErr) {\n        return rawText;\n      }\n    }\n\n    const reader = response.body.getReader();\n    const decoder = new TextDecoder();\n    let fullText = \"\";\n    let isSSE = false; // Track if stream uses SSE format\n\n    while (true) {\n      const { done, value } = await reader.read();\n      if (done) break;\n\n      const chunk = decoder.decode(value, { stream: true });\n\n      const lines = chunk.split(\"\\n\");\n      for (const line of lines) {\n        if (line.startsWith(\"data: \")) {\n          isSSE = true; // Mark as SSE stream\n          if (line.trim() === \"data: [DONE]\") continue;\n          try {\n            const data = JSON.parse(line.slice(6));\n            const newText =\n              data.output || data.message || data.text || \"\";\n            if (newText) {\n              if (\n                newText.length >= fullText.length &&\n                newText.startsWith(fullText)\n              ) {\n                fullText = newText; // Replace (snapshot mode)\n              } else if (fullText.endsWith(newText)) {\n              } else {\n                fullText += newText; // Delta mode (append)\n              }\n            }\n          } catch (e) {\n            const rawData = line.slice(6).replace(/\\\\n/g, \"\\n\");\n            if (rawData && !fullText.endsWith(rawData)) {\n              fullText += rawData;\n            }\n          }\n        } else if (line.trim() !== \"\" && !isSSE) {\n          if (\n            !line.startsWith(\"event: \") &&\n            !line.startsWith(\"id: \") &&\n            !line.startsWith(\"retry: \")\n          ) {\n            fullText += line.replace(/\\\\n/g, \"\\n\");\n          }\n        }\n      }\n      if (onChunk) onChunk(fullText);\n    }\n\n    return fullText || \"Resposta recebida\";\n  } catch (error) {\n    if (error.name === \"AbortError\") {\n      return \"Geração cancelada.\";\n    }\n    return \"Desculpe, ocorreu um erro ao processar sua mensagem.\";\n  } finally {\n    abortController = null;\n  }\n}\nfunction generateUUID() {\n  return \"xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx\".replace(\n    /[xy]/g,\n    function (c) {\n      const r = (Math.random() * 16) | 0;\n      const v = c === \"x\" ? r : (r & 0x3) | 0x8;\n      return v.toString(16);\n    },\n  );\n}\nfunction formatDate(dateString) {\n  const date = new Date(dateString);\n  const now = new Date();\n  const diffInHours = (now - date) / (1000 * 60 * 60);\n  if (diffInHours < 24) {\n    return date.toLocaleTimeString(\"pt-BR\", {\n      hour: \"2-digit\",\n      minute: \"2-digit\",\n    });\n  } else if (diffInHours < 48) {\n    return \"Ontem\";\n  } else {\n    return date.toLocaleDateString(\"pt-BR\", {\n      day: \"2-digit\",\n      month: \"2-digit\",\n    });\n  }\n}\nfunction renderSessionList() {\n  elements.sessionList.innerHTML = \"\";\n  if (sessions.length === 0) {\n    elements.sessionList.innerHTML =\n      '<div style=\"color: #999; text-align: center; padding: 20px; font-size: 12px;\">Nenhuma conversa ainda</div>';\n    return;\n  }\n  sessions.forEach((session) => {\n    const sessionDiv = document.createElement(\"div\");\n    sessionDiv.className = \"session-item\";\n    if (session.session_id === currentSessionId) {\n      sessionDiv.classList.add(\"active\");\n    }\n\n    let titulo = \"Nova conversa\";\n    if (session.titulo) {\n      if (typeof session.titulo === \"object\" && session.titulo.content) {\n        titulo = session.titulo.content;\n      } else if (typeof session.titulo === \"string\") {\n        titulo = session.titulo;\n      }\n    }\n    titulo = titulo.replace(/^\\[CONTEXTO[^\\]]*\\]\\s*/i, \"\");\n\n    sessionDiv.innerHTML = `\n<div class=\"session-content\">\n<div class=\"session-title\">${titulo}</div>\n<div class=\"session-date\">${formatDate(session.data_inicio)}</div>\n</div>\n<button class=\"delete-btn\" onclick=\"handleDeleteSession('${session.session_id}', event)\">\n<i data-lucide=\"x\"></i>\n</button>\n`;\n    sessionDiv.addEventListener(\"click\", (e) => {\n      if (!e.target.classList.contains(\"delete-btn\")) {\n        loadSession(session.session_id);\n      }\n    });\n    elements.sessionList.appendChild(sessionDiv);\n  });\n  lucide.createIcons();\n}\nfunction startEdit(messageDiv, content) {\n  isEditing = true;\n  elements.messageInput.value = content;\n  elements.messageInput.focus();\n\n  elements.messageInput.style.height = \"auto\";\n  elements.messageInput.style.height =\n    elements.messageInput.scrollHeight + \"px\";\n\n  cancelEditBtn.style.display = \"flex\";\n\n  const msgId = messageDiv.getAttribute(\"data-id\");\n  const msgTimestamp = messageDiv.getAttribute(\"data-timestamp\");\n\n  elements.inputForm.dataset.editingId = msgId || msgTimestamp;\n  elements.inputForm.dataset.editingType = msgId ? \"id\" : \"timestamp\";\n\n  setStatus(\"Editando mensagem...\", \"warning\");\n}\n\nfunction cancelEdit() {\n  if (!isEditing) return;\n\n  isEditing = false;\n  elements.messageInput.value = \"\";\n  elements.messageInput.style.height = \"auto\";\n  cancelEditBtn.style.display = \"none\";\n  elements.inputForm.removeAttribute(\"data-editingId\");\n  setStatus(\"\");\n}\n\nasync function pruneHistoryFrom(identifier) {\n  const type = elements.inputForm.dataset.editingType || \"timestamp\";\n  const value = parseInt(identifier);\n  if (!value) return;\n\n  let targetMsg;\n  if (type === \"id\") {\n    targetMsg = Array.from(elements.messagesContainer.children).find(\n      (m) => m.getAttribute(\"data-id\") == value,\n    );\n  } else {\n    targetMsg = Array.from(elements.messagesContainer.children).find(\n      (m) => m.getAttribute(\"data-timestamp\") == value,\n    );\n  }\n\n  if (targetMsg) {\n    let current = targetMsg;\n    while (current) {\n      const next = current.nextElementSibling;\n      current.remove();\n      current = next;\n    }\n  }\n\n  if (currentSessionId && type === \"id\") {\n    try {\n      const payload = {\n        sessionId: currentSessionId,\n        id: value,\n      };\n\n      await fetch(PRUNE_URL, {\n        method: \"POST\",\n        body: JSON.stringify(payload),\n        headers: { \"Content-Type\": \"application/json\" },\n      });\n    } catch (e) {\n    }\n  } else if (type !== \"id\") {\n  }\n}\n\nfunction getSocialIcon(url) {\n  if (!url) return \"globe\";\n  const u = url.toLowerCase();\n  if (u.includes(\"instagram\")) return \"instagram\";\n  if (u.includes(\"facebook\") || u.includes(\"fb.com\")) return \"facebook\";\n  if (u.includes(\"linkedin\")) return \"linkedin\";\n  if (u.includes(\"twitter\") || u.includes(\"x.com\")) return \"twitter\";\n  if (u.includes(\"tiktok\")) return \"video\";\n  if (u.includes(\"youtube\")) return \"youtube\";\n  if (u.includes(\"wa.me\") || u.includes(\"whatsapp\"))\n    return \"message-circle\";\n  return \"globe\";\n}\nfunction getSocialLabel(url) {\n  if (!url) return \"Link\";\n  const u = url.toLowerCase();\n  if (u.includes(\"instagram\")) return \"Instagram\";\n  if (u.includes(\"facebook\") || u.includes(\"fb.com\")) return \"Facebook\";\n  if (u.includes(\"linkedin\")) return \"LinkedIn\";\n  if (u.includes(\"twitter\") || u.includes(\"x.com\")) return \"X/Twitter\";\n  if (u.includes(\"tiktok\")) return \"TikTok\";\n  if (u.includes(\"youtube\")) return \"YouTube\";\n  if (u.includes(\"wa.me\") || u.includes(\"whatsapp\")) return \"WhatsApp\";\n  return \"Site\";\n}\nfunction getScoreClass(c) {\n  if (!c) return \"lead-score-default\";\n  const cl = c.toUpperCase();\n  if (cl === \"A\") return \"lead-score-a\";\n  if (cl === \"B\") return \"lead-score-b\";\n  if (cl === \"C\") return \"lead-score-c\";\n  return \"lead-score-default\";\n}\nfunction getSocialClass(url) {\n  if (!url) return \"\";\n  const u = url.toLowerCase();\n  if (u.includes(\"instagram\")) return \"social-instagram\";\n  if (u.includes(\"facebook\") || u.includes(\"fb.com\"))\n    return \"social-facebook\";\n  if (u.includes(\"wa.me\") || u.includes(\"whatsapp\"))\n    return \"social-whatsapp\";\n  if (u.includes(\"linkedin\")) return \"social-linkedin\";\n  if (u.includes(\"tiktok\")) return \"social-tiktok\";\n  if (u.includes(\"youtube\")) return \"social-youtube\";\n  return \"\";\n}\nconst MISMATCH_KEYWORDS = [\n  \"veículo\",\n  \"veiculo\",\n  \"veiculos\",\n  \"mecânica\",\n  \"mecanica\",\n  \"oficina\",\n  \"restaurante\",\n  \"bar \",\n  \"advocacia\",\n  \"advogado\",\n  \"clínica\",\n  \"clinica\",\n  \"construtora\",\n  \"construção\",\n  \"engenharia\",\n  \"contabilidade\",\n  \"açougue\",\n  \"padaria\",\n  \"farmácia\",\n  \"farmacia\",\n  \"posto de gasolina\",\n  \"combustível\",\n  \"combustivel\",\n  \"supermercado\",\n  \"autopeças\",\n  \"autopecas\",\n  \"fora do perfil\",\n];\nfunction isMismatch(lead) {\n  const text = (\n    (lead.empresa || \"\") +\n    \" \" +\n    (lead.natureza || \"\") +\n    \" \" +\n    (lead.matchSameka || \"\") +\n    \" \" +\n    (lead.dicaAbordagem || \"\")\n  ).toLowerCase();\n  return MISMATCH_KEYWORDS.some((kw) => text.includes(kw));\n}\n\nfunction renderLeadCards(leads) {\n  if (!leads || !leads.length) return \"\";\n  let html = '<div class=\"lead-cards-container\">';\n  leads.forEach((lead, idx) => {\n    const hasImages = lead.imagens && lead.imagens.length > 0;\n    const hasPhones = lead.telefones && lead.telefones.length > 0;\n    const hasEmails = lead.emails && lead.emails.length > 0;\n    const hasSocial = lead.redesSociais && lead.redesSociais.length > 0;\n    const hasScore =\n      lead.score &&\n      (lead.score.nota !== null || lead.score.classificacao);\n    const mismatch = isMismatch(lead);\n    const presenceHtml =\n      lead.possuiPresencaDigital === \"SIM\"\n        ? '<span class=\"lead-presence-yes\">● Digital</span>'\n        : '<span class=\"lead-presence-no\">● Sem presença</span>';\n    const tagClass = mismatch\n      ? \"lead-match-tag tag-mismatch\"\n      : \"lead-match-tag\";\n    html += `\n          <div class=\"lead-card${mismatch ? \" lead-mismatch\" : \"\"}\" data-carousel-idx=\"0\">\n              <div class=\"lead-card-header\" onclick=\"this.parentElement.classList.toggle('open')\">\n                  <div class=\"lead-card-header-left\">\n                      <div class=\"lead-card-header-top\">\n                          <div class=\"lead-card-icon\"><i data-lucide=\"${mismatch ? \"alert-triangle\" : \"store\"}\"></i></div>\n                          <span class=\"lead-card-title\">${lead.empresa || \"Empresa\"}</span>\n                      </div>\n                      <div class=\"lead-card-tags\">\n                          ${lead.matchSameka ? `<span class=\"${tagClass}\">${mismatch ? \"⚠ \" : \"\"}${lead.matchSameka}</span>` : \"\"}\n                          ${presenceHtml}\n                      </div>\n                  </div>\n                  <i data-lucide=\"chevron-down\" class=\"lead-chevron\" style=\"width:18px;height:18px\"></i>\n              </div>\n              <div class=\"lead-card-body\">`;\n    if (mismatch) {\n      html += `<div class=\"lead-mismatch-banner\">\n                  <i data-lucide=\"alert-triangle\"></i>\n                  <span>Empresa fora do perfil ideal Sameka — baixa prioridade de abordagem</span>\n              </div>`;\n    }\n    if (lead.endereco) {\n      html += `<div class=\"lead-section\">\n                  <div class=\"lead-section-label\"><i data-lucide=\"map-pin\"></i> Endereço</div>\n                  <div class=\"lead-address\">${lead.endereco}</div>\n              </div>`;\n    }\n    if (lead.dicaAbordagem) {\n      html += `<div class=\"lead-section\">\n                  <div class=\"lead-section-label\"><i data-lucide=\"lightbulb\"></i> Dica de Abordagem</div>\n                  <div class=\"lead-tip\">${lead.dicaAbordagem}</div>\n              </div>`;\n    }\n    if (hasPhones || hasEmails) {\n      html += `<div class=\"lead-section\">\n                  <div class=\"lead-section-label\"><i data-lucide=\"contact\"></i> Contatos</div>\n                  <div class=\"lead-badges\">`;\n      if (hasPhones)\n        lead.telefones.forEach((t) => {\n          html += `<a href=\"tel:${t.replace(/\\D/g, \"\")}\" class=\"lead-badge\"><i data-lucide=\"phone\"></i>${t}</a>`;\n        });\n      if (hasEmails)\n        lead.emails.forEach((e) => {\n          html += `<a href=\"mailto:${e}\" class=\"lead-badge\"><i data-lucide=\"mail\"></i>${e}</a>`;\n        });\n      html += `</div></div>`;\n    }\n    if (hasSocial) {\n      html += `<div class=\"lead-section\">\n                  <div class=\"lead-section-label\"><i data-lucide=\"share-2\"></i> Redes Sociais</div>\n                  <div class=\"lead-social-links\">`;\n      lead.redesSociais.forEach((s) => {\n        html += `<a href=\"${s}\" target=\"_blank\" rel=\"noopener\" class=\"lead-social-link ${getSocialClass(s)}\"><i data-lucide=\"${getSocialIcon(s)}\"></i>${getSocialLabel(s)}</a>`;\n      });\n      html += `</div></div>`;\n    }\n    if (hasImages) {\n      const cid = `carousel-${idx}-${Date.now()}`;\n      html += `<div class=\"lead-section\">\n                  <div class=\"lead-section-label\"><i data-lucide=\"image\"></i> Imagens</div>\n                  <div class=\"lead-carousel\" id=\"${cid}\">\n                      <div class=\"lead-carousel-track\">`;\n      lead.imagens.forEach((img) => {\n        html += `<div class=\"lead-carousel-slide\"><img src=\"${img}\" alt=\"Foto\" loading=\"lazy\" onerror=\"this.parentElement.style.display='none'\"></div>`;\n      });\n      html += `</div>`;\n      if (lead.imagens.length > 1) {\n        html += `<button class=\"lead-carousel-btn lead-carousel-prev\" onclick=\"moveCarousel('${cid}',-1)\"><i data-lucide=\"chevron-left\" style=\"width:16px;height:16px\"></i></button>`;\n        html += `<button class=\"lead-carousel-btn lead-carousel-next\" onclick=\"moveCarousel('${cid}',1)\"><i data-lucide=\"chevron-right\" style=\"width:16px;height:16px\"></i></button>`;\n        html += `<div class=\"lead-carousel-dots\">`;\n        lead.imagens.forEach((_, i) => {\n          html += `<div class=\"lead-carousel-dot${i === 0 ? \" active\" : \"\"}\" onclick=\"goToSlide('${cid}',${i})\"></div>`;\n        });\n        html += `</div>`;\n      }\n      html += `</div></div>`;\n    }\n    if (hasScore) {\n      const sc = lead.score;\n      const cls = getScoreClass(sc.classificacao);\n      html += `<div class=\"lead-section\">\n                  <div class=\"lead-section-label\"><i data-lucide=\"award\"></i> Score</div>\n                  <span class=\"lead-score-badge ${cls}\">\n                      ${sc.classificacao ? sc.classificacao : \"—\"}${sc.nota !== null ? \" · \" + sc.nota + \" pts\" : \"\"}${sc.descricao ? \" — \" + sc.descricao : \"\"}\n                  </span>\n              </div>`;\n    }\n    if (lead.natureza) {\n      html += `<div class=\"lead-section\">\n                  <div class=\"lead-section-label\"><i data-lucide=\"building-2\"></i> Natureza</div>\n                  <div style=\"font-size:0.85rem;color:var(--text-secondary)\">${lead.natureza}</div>\n              </div>`;\n    }\n    html += `</div></div>`;\n  });\n  html += \"</div>\";\n  return html;\n}\n\nfunction moveCarousel(cid, dir) {\n  const el = document.getElementById(cid);\n  if (!el) return;\n  const track = el.querySelector(\".lead-carousel-track\");\n  const slides = track.querySelectorAll(\".lead-carousel-slide\");\n  let idx = parseInt(el.dataset.idx || \"0\") + dir;\n  if (idx < 0) idx = slides.length - 1;\n  if (idx >= slides.length) idx = 0;\n  el.dataset.idx = idx;\n  track.style.transform = `translateX(-${idx * 100}%)`;\n  el.querySelectorAll(\".lead-carousel-dot\").forEach((d, i) =>\n    d.classList.toggle(\"active\", i === idx),\n  );\n}\nfunction goToSlide(cid, idx) {\n  const el = document.getElementById(cid);\n  if (!el) return;\n  el.dataset.idx = idx;\n  el.querySelector(\".lead-carousel-track\").style.transform =\n    `translateX(-${idx * 100}%)`;\n  el.querySelectorAll(\".lead-carousel-dot\").forEach((d, i) =>\n    d.classList.toggle(\"active\", i === idx),\n  );\n}\n\nfunction processLeadBlocks(container) {\n  const codeBlocks = container.querySelectorAll(\n    \"code.language-sameka-leads\",\n  );\n  codeBlocks.forEach((code) => {\n    const pre = code.closest(\"pre\");\n    if (!pre) return;\n    try {\n      const json = JSON.parse(code.textContent);\n      if (Array.isArray(json) && json.length > 0) {\n        const wrapper = document.createElement(\"div\");\n        wrapper.innerHTML = renderLeadCards(json);\n        pre.replaceWith(wrapper);\n        lucide.createIcons();\n      }\n    } catch (e) {\n    }\n  });\n}\n\nfunction processInfoSections(container) {\n  const headings = container.querySelectorAll(\"h3\");\n  headings.forEach((h3) => {\n    const text = h3.textContent.toLowerCase();\n    let boxClass = \"\";\n    let icon = \"\";\n    if (\n      text.includes(\"inteligência\") ||\n      text.includes(\"intelig\") ||\n      text.includes(\"pré-visita\")\n    ) {\n      boxClass = \"info-box-intel\";\n      icon = \"💎\";\n    } else if (\n      text.includes(\"argumento\") ||\n      text.includes(\"autoridade\") ||\n      text.includes(\"negociação\")\n    ) {\n      boxClass = \"info-box-authority\";\n      icon = \"🧠\";\n    }\n    if (!boxClass) return;\n\n    const box = document.createElement(\"div\");\n    box.className = `sameka-info-box ${boxClass}`;\n    const title = document.createElement(\"h4\");\n    const cleanText = h3.textContent\n      .replace(\n        /^[\\s\\u{1F300}-\\u{1FAFF}\\u{2600}-\\u{26FF}\\u{2700}-\\u{27BF}]+/u,\n        \"\",\n      )\n      .trim();\n    title.textContent = `${icon} ${cleanText}`;\n    box.appendChild(title);\n\n    const siblings = [];\n    let next = h3.nextElementSibling;\n    while (next && ![\"H2\", \"H3\", \"HR\"].includes(next.tagName)) {\n      siblings.push(next);\n      next = next.nextElementSibling;\n    }\n    siblings.forEach((s) => box.appendChild(s.cloneNode(true)));\n    siblings.forEach((s) => s.remove());\n    h3.replaceWith(box);\n  });\n}\nfunction renderMessage(message) {\n  hideEmptyState(); // Ensure empty state is gone\n  const messageDiv = document.createElement(\"div\");\n  messageDiv.className = `message ${message.role}`;\n  if (message.id) messageDiv.setAttribute(\"data-id\", message.id);\n\n  const timestamp = message.timestamp\n    ? new Date(message.timestamp).getTime()\n    : Date.now();\n  messageDiv.setAttribute(\"data-timestamp\", timestamp);\n\n  const avatarDiv = document.createElement(\"div\");\n  avatarDiv.className = \"message-avatar\";\n\n  if (message.role === \"user\") {\n    avatarDiv.innerHTML = '<i data-lucide=\"user\"></i>';\n  } else {\n    avatarDiv.innerHTML = '<i data-lucide=\"bot\"></i>';\n  }\n\n  const content = document.createElement(\"div\");\n  content.className = \"message-content\";\n\n  let editBtn = null;\n\n  if (message.role === \"assistant\") {\n    content.innerHTML = marked.parse(message.content || \"\");\n\n    content.querySelectorAll(\"a\").forEach((link) => {\n      link.setAttribute(\"target\", \"_blank\");\n      link.setAttribute(\"rel\", \"noopener noreferrer\");\n    });\n\n    processLeadBlocks(content);\n    processInfoSections(content);\n  } else {\n    if (message.file) {\n    } else {\n      const cleanContent = (message.content || \"\").replace(/^\\s*\\[CONTEXTO[^\\]]*\\]\\s*/i, \"\");\n      content.textContent = cleanContent;\n\n      editBtn = document.createElement(\"button\");\n      editBtn.className = \"btn-edit\";\n      editBtn.innerHTML =\n        '<i data-lucide=\"pencil\" style=\"width: 14px; height: 14px;\"></i>';\n      editBtn.onclick = () => {\n        startEdit(messageDiv, cleanContent);\n      };\n    }\n  }\n\n  if (message.file) {\n    const fileDiv = document.createElement(\"div\");\n    fileDiv.className = \"file-attachment\";\n    fileDiv.innerHTML = `<i data-lucide=\"file\"></i><span>${message.file}</span>`;\n    content.appendChild(fileDiv);\n  }\n\n  if (message.role === \"assistant\") {\n    messageDiv.appendChild(avatarDiv);\n    messageDiv.appendChild(content);\n  } else {\n    messageDiv.appendChild(avatarDiv);\n    messageDiv.appendChild(content);\n    if (editBtn) {\n      messageDiv.appendChild(editBtn);\n    }\n  }\n\n  elements.messagesContainer.appendChild(messageDiv);\n  elements.messagesContainer.scrollTop =\n    elements.messagesContainer.scrollHeight;\n  lucide.createIcons();\n\n  return messageDiv;\n}\nfunction clearChatArea() {\n  elements.messagesContainer.innerHTML = \"\";\n  showEmptyState();\n}\n\nfunction showEmptyState() {\n  if (elements.emptyState) {\n    elements.emptyState.classList.add(\"show\");\n    elements.messagesContainer.style.display = \"none\";\n    lucide.createIcons();\n  }\n}\n\nfunction hideEmptyState() {\n  if (elements.emptyState) {\n    elements.emptyState.classList.remove(\"show\");\n    elements.messagesContainer.style.display = \"block\";\n  }\n}\n\nfunction showSkeletonSessions() {\n  elements.sessionList.innerHTML = \"\";\n  for (let i = 0; i < 3; i++) {\n    const skeletonDiv = document.createElement(\"div\");\n    skeletonDiv.className = \"skeleton-session\";\n    skeletonDiv.innerHTML = `\n<div class=\"skeleton skeleton-session-title\"></div>\n<div class=\"skeleton skeleton-session-date\"></div>\n`;\n    elements.sessionList.appendChild(skeletonDiv);\n  }\n}\n\nfunction showSkeletonMessages() {\n  hideEmptyState(); // Ensure empty state is hidden so skeletons show\n  elements.messagesContainer.innerHTML = \"\";\n  for (let i = 0; i < 3; i++) {\n    const skeletonDiv = document.createElement(\"div\");\n    skeletonDiv.className = \"skeleton-message\";\n    skeletonDiv.innerHTML = `\n<div class=\"skeleton skeleton-avatar\"></div>\n<div class=\"skeleton-content\">\n<div class=\"skeleton skeleton-text\"></div>\n<div class=\"skeleton skeleton-text\"></div>\n<div class=\"skeleton skeleton-text\"></div>\n</div>\n`;\n    elements.messagesContainer.appendChild(skeletonDiv);\n  }\n}\n\nfunction showTypingIndicator() {\n  const typingDiv = document.createElement(\"div\");\n  typingDiv.className = \"typing-indicator\";\n  typingDiv.id = \"typingIndicator\";\n  typingDiv.innerHTML = `\n<div class=\"message-avatar\">\n<i data-lucide=\"bot\"></i>\n</div>\n<div class=\"typing-dots\">\n<span></span>\n<span></span>\n<span></span>\n</div>\n`;\n  elements.messagesContainer.appendChild(typingDiv);\n  elements.messagesContainer.scrollTop =\n    elements.messagesContainer.scrollHeight;\n  lucide.createIcons();\n}\n\nfunction hideTypingIndicator() {\n  const typingIndicator = document.getElementById(\"typingIndicator\");\n  if (typingIndicator) {\n    typingIndicator.remove();\n  }\n}\n\nfunction setLoading(loading) {\n  isLoading = loading;\n  const sendBtnIcon = elements.sendBtn.querySelector(\"i\");\n\n  if (loading) {\n    elements.sendBtn.innerHTML = \"\";\n    const stopIcon = document.createElement(\"i\");\n    stopIcon.setAttribute(\"data-lucide\", \"square\");\n    stopIcon.style.fill = \"white\";\n    elements.sendBtn.appendChild(stopIcon);\n    elements.sendBtn.style.backgroundColor = \"var(--text-secondary)\";\n    elements.sendBtn.title = \"Parar Geração\";\n  } else {\n    elements.sendBtn.innerHTML = '<i data-lucide=\"send\"></i>';\n    elements.sendBtn.style.backgroundColor = \"\";\n    elements.sendBtn.title = \"Enviar\";\n  }\n  lucide.createIcons();\n\n  elements.loading.classList.toggle(\"show\", loading);\n\n  const interactiveElements = [\n    elements.messageInput,\n    elements.resetRagBtn,\n    elements.attachBtn,\n    elements.fileInput,\n  ];\n\n  interactiveElements.forEach((el) => {\n    if (el) el.disabled = loading;\n  });\n\n  if (pendingAction === \"resetProcessing\") {\n    if (loading && elements.resetRagBtn) {\n      elements.resetRagBtn.innerHTML = `<i data-lucide=\"loader-2\" class=\"animate-spin\" style=\"width:12px; height:12px;\"></i><span>Resetando...</span>`;\n    } else if (!loading && elements.resetRagBtn) {\n      elements.resetRagBtn.innerHTML = `<i data-lucide=\"database-backup\" style=\"width:12px; height:12px;\"></i><span>Resetar</span>`;\n      pendingAction = null;\n    }\n    lucide.createIcons();\n  }\n\n  document.body.style.cursor = loading ? \"wait\" : \"default\";\n}\n\nfunction setStatus(message, type = \"\") {\n  elements.statusMessage.textContent = message;\n  elements.statusMessage.style.color =\n    type === \"error\"\n      ? \"#d32f2f\"\n      : type === \"success\"\n        ? \"#388e3c\"\n        : \"#7A1818\";\n  setTimeout(() => (elements.statusMessage.textContent = \"\"), 3000);\n}\nlet pendingAction = null; // 'delete' or 'reset'\n\nlet sessionToDeleteId = null;\n\nfunction showConfirmModal(type, sessionId = null) {\n  const titleEl = elements.confirmModal.querySelector(\".confirm-title\");\n  const textEl = elements.confirmModal.querySelector(\".confirm-text\");\n  const confirmBtn = elements.confirmDeleteBtn;\n\n  if (type === \"delete\") {\n    pendingAction = \"delete\";\n    sessionToDeleteId = sessionId;\n    titleEl.textContent = \"Excluir conversa\";\n    textEl.textContent =\n      \"Tem certeza que deseja excluir esta conversa permanentemente? Esta ação não pode ser desfeita.\";\n    confirmBtn.textContent = \"Excluir\";\n    confirmBtn.style.background = \"var(--color-primary)\";\n  } else if (type === \"reset\") {\n    pendingAction = \"reset\";\n    titleEl.textContent = \"Resetar Memória RAG\";\n    textEl.textContent =\n      \"Tem certeza que deseja limpar e recriar o banco de dados vetorial? Isso apagará o conhecimento atual.\";\n    confirmBtn.textContent = \"Resetar\";\n    confirmBtn.style.background = \"#d32f2f\"; // Warning color\n  }\n\n  elements.confirmModal.style.display = \"flex\";\n}\n\nfunction hideDeleteModal() {\n  pendingAction = null;\n  sessionToDeleteId = null;\n  elements.confirmModal.style.display = \"none\";\n}\n\nelements.cancelDeleteBtn.addEventListener(\"click\", hideDeleteModal);\n\nelements.confirmDeleteBtn.addEventListener(\"click\", async () => {\n  if (pendingAction === \"delete\" && sessionToDeleteId) {\n    const originalText = elements.confirmDeleteBtn.textContent;\n    elements.confirmDeleteBtn.textContent = \"Excluindo...\";\n    elements.confirmDeleteBtn.disabled = true;\n\n    try {\n      const success = await deleteSession(sessionToDeleteId);\n      if (success) {\n        sessions = await fetchSessions();\n\n        if (currentSessionId === sessionToDeleteId) {\n          if (sessions.length > 0) {\n            renderSessionList(); // Update list first\n            loadSession(sessions[0].session_id);\n          } else {\n            startNewChat();\n          }\n        } else {\n          renderSessionList();\n        }\n      } else {\n        setStatus(\"Erro ao excluir conversa.\", \"error\");\n      }\n    } catch (e) {\n      setStatus(\"Erro inesperado ao excluir.\", \"error\");\n    } finally {\n      hideDeleteModal();\n      elements.confirmDeleteBtn.textContent = originalText;\n      elements.confirmDeleteBtn.disabled = false;\n    }\n  } else if (pendingAction === \"reset\") {\n    hideDeleteModal();\n\n    pendingAction = \"resetProcessing\";\n\n    setLoading(true);\n    setStatus(\"Reiniciando base de conhecimento...\", \"warning\");\n\n    const result = await resetRagDatabase();\n\n    setLoading(false); // Restore UI\n\n    if (result && result.status === \"success\") {\n      setStatus(\n        result.message || \"Memória RAG resetada com sucesso!\",\n        \"success\",\n      );\n\n      sessions = await fetchSessions(); // Update sidebar (likely clear it)\n      renderSessionList();\n      startNewChat(); // Clear current view\n    } else {\n      setStatus(\"Erro ao resetar memória RAG.\", \"error\");\n    }\n  }\n});\n\nasync function handleDeleteSession(sessionId, event) {\n  event.stopPropagation();\n  showConfirmModal(\"delete\", sessionId);\n}\n\nif (elements.resetRagBtn) {\n  elements.resetRagBtn.addEventListener(\"click\", () => {\n    showConfirmModal(\"reset\");\n  });\n}\nasync function loadSession(sessionId) {\n\n  hideUsersPage();\n\n  if (currentSessionId !== sessionId) {\n    sessions = sessions.filter((s) => !s._isTemp);\n    renderSessionList();\n  }\n\n  currentSessionId = sessionId;\n  clearChatArea();\n  showSkeletonMessages();\n  const history = await fetchHistory(sessionId);\n  clearChatArea(); // Shows empty state by default\n\n  if (history && history.length > 0) {\n    hideEmptyState(); // Hide if we have content\n    history.forEach((message) => renderMessage(message));\n  } else {\n    showEmptyState(); // Explicit show if empty\n  }\n\n  renderSessionList();\n  elements.messageInput.focus();\n}\nfunction startNewChat() {\n\n  hideUsersPage();\n\n  // If a stream is running, abort it first\n  if (isLoading) {\n    if (abortController) {\n      abortController.abort();\n      abortController = null;\n    }\n    if (uploadAbortController) {\n      uploadAbortController.abort();\n      uploadAbortController = null;\n    }\n    hideTypingIndicator();\n    setLoading(false);\n  }\n\n  sessions = sessions.filter((s) => !s._isTemp);\n\n  currentSessionId = generateUUID();\n  clearChatArea();\n\n  const tempSession = {\n    session_id: currentSessionId,\n    titulo: \"Nova conversa\",\n    data_inicio: new Date().toISOString(),\n    _isTemp: true, // Helper flag\n  };\n  sessions.unshift(tempSession);\n\n  renderSessionList();\n  elements.messageInput.focus();\n  setStatus(\"Nova conversa iniciada\", \"success\");\n}\nasync function handleSendMessage(e) {\n  e.preventDefault();\n\n  if (isLoading) {\n    if (abortController) {\n      abortController.abort();\n      abortController = null;\n      setStatus(\"Geração interrompida.\", \"warning\");\n      hideTypingIndicator();\n      setLoading(false);\n    }\n    if (uploadAbortController) {\n      uploadAbortController.abort();\n      uploadAbortController = null;\n      setStatus(\"Upload cancelado.\", \"warning\");\n      hideTypingIndicator();\n      setLoading(false);\n    }\n    return;\n  }\n\n  const message = elements.messageInput.value.trim();\n  if (!message) return;\n\n  if (isEditing) {\n    const editingId = elements.inputForm.dataset.editingId;\n    if (editingId) {\n      pruneHistoryFrom(editingId);\n      cancelEdit();\n    }\n  }\n\n  renderMessage({ role: \"user\", content: message });\n  elements.messageInput.value = \"\";\n  elements.messageInput.style.height = \"auto\";\n\n  setLoading(true);\n\n  showTypingIndicator();\n\n  let messageDiv = null;\n  let contentDiv = null;\n\n  const response = await sendMessage(\n    message,\n    currentSessionId,\n    (chunkText) => {\n      if ((!chunkText || chunkText.trim() === \"\") && !messageDiv) return;\n\n      if (!messageDiv) {\n        hideTypingIndicator();\n        messageDiv = renderMessage({ role: \"assistant\", content: \"\" });\n        contentDiv = messageDiv.querySelector(\".message-content\");\n      }\n      if (contentDiv) {\n        contentDiv.innerHTML = marked.parse(chunkText);\n\n        contentDiv.querySelectorAll(\"a\").forEach((link) => {\n          link.setAttribute(\"target\", \"_blank\");\n          link.setAttribute(\"rel\", \"noopener noreferrer\");\n        });\n\n        processLeadBlocks(contentDiv);\n        processInfoSections(contentDiv);\n\n        elements.messagesContainer.scrollTop =\n          elements.messagesContainer.scrollHeight;\n      }\n    },\n  );\n\n  if (!messageDiv) hideTypingIndicator();\n\n  if (response !== \"Geração cancelada.\") {\n    if (!messageDiv) {\n      renderMessage({ role: \"assistant\", content: response });\n    } else if (contentDiv) {\n      contentDiv.innerHTML = marked.parse(response);\n      contentDiv.querySelectorAll(\"a\").forEach((link) => {\n        link.setAttribute(\"target\", \"_blank\");\n        link.setAttribute(\"rel\", \"noopener noreferrer\");\n      });\n      processLeadBlocks(contentDiv);\n      processInfoSections(contentDiv);\n    }\n  } else if (messageDiv) {\n    contentDiv.innerHTML += marked.parse(\n      \"\\n\\n*Geração cancelada pelo usuário.*\",\n    );\n  }\n\n  setLoading(false);\n\n  try {\n    const latestHistory = await fetchHistory(currentSessionId);\n    if (latestHistory && latestHistory.length > 0) {\n      const domMessages = Array.from(\n        elements.messagesContainer.querySelectorAll(\".message\"),\n      );\n\n      const lastDomMsg = domMessages[domMessages.length - 1];\n\n      if (lastDomMsg) {\n        const lastHistoryMsg = latestHistory[latestHistory.length - 1];\n\n        if (lastHistoryMsg && !lastDomMsg.hasAttribute(\"data-id\")) {\n          lastDomMsg.setAttribute(\"data-id\", lastHistoryMsg.id);\n        }\n\n        if (domMessages.length >= 2) {\n          const userDomMsg = domMessages[domMessages.length - 2];\n          const userHistoryMsg = latestHistory[latestHistory.length - 2];\n\n          if (\n            userDomMsg &&\n            !userDomMsg.hasAttribute(\"data-id\") &&\n            userHistoryMsg\n          ) {\n            userDomMsg.setAttribute(\"data-id\", userHistoryMsg.id);\n          }\n        }\n      }\n    }\n  } catch (e) {\n  }\n\n  sessions = await fetchSessions();\n  renderSessionList();\n}\nelements.attachBtn.addEventListener(\"click\", () =>\n  elements.fileInput.click(),\n);\nelements.fileInput.addEventListener(\"change\", async (e) => {\n  const file = e.target.files[0];\n  if (!file) return;\n\n  renderMessage({\n    role: \"user\",\n    content: `Enviando arquivo: ${file.name}`, // Mantém texto para histórico, mas UI oculta\n    file: file.name,\n  });\n  setStatus(`Processando ${file.name}...`, \"warning\"); // Amarelo/Laranja enquanto processa\n  isLoading = true;\n\n  uploadAbortController = new AbortController();\n\n  showTypingIndicator();\n  setLoading(true); // Ativa bot?o de stop\n\n  try {\n    const formData = new FormData();\n    formData.append(\"file\", file);\n\n    if (currentSessionId) {\n      formData.append(\"session_id\", currentSessionId);\n      formData.append(\"sessionId\", currentSessionId);\n    }\n\n    const uploadUrlWithParam = currentSessionId\n      ? `${UPLOAD_URL}?sessionId=${currentSessionId}`\n      : UPLOAD_URL;\n\n    const response = await fetch(uploadUrlWithParam, {\n      method: \"POST\",\n      body: formData,\n      signal: uploadAbortController.signal,\n    });\n\n    if (!response.ok) throw new Error(\"Upload failed\");\n\n    const text = await response.text();\n    let result = {};\n    try {\n      if (text && text.trim().length > 0) result = JSON.parse(text);\n    } catch (e) {}\n\n    hideTypingIndicator();\n\n    setStatus(`${file.name} processado com sucesso!`, \"success\");\n\n    renderMessage({\n      role: \"assistant\",\n      content: `✅ **Arquivo Recebido**\\n\\nO documento \"${file.name}\" foi processado. Você pode fazer perguntas sobre ele agora.`,\n    });\n\n  } catch (error) {\n    if (error.name === \"AbortError\") {\n    } else {\n      hideTypingIndicator();\n      setStatus(`Erro ao processar ${file.name}`, \"error\");\n\n      renderMessage({\n        role: \"assistant\",\n        content: `❌ **Falha no envio**\\n\\nNão foi possível processar o arquivo \"${file.name}\". Tente novamente.`,\n      });\n    }\n  } finally {\n    isLoading = false;\n    uploadAbortController = null;\n    setLoading(false); // Restaura botão send\n    e.target.value = \"\";\n  }\n});\nelements.messageInput.addEventListener(\"keydown\", function (e) {\n  if (e.key === \"Enter\" && !e.shiftKey) {\n    e.preventDefault();\n    handleSendMessage(e);\n  }\n});\n\nelements.messageInput.addEventListener(\"input\", function () {\n  this.style.height = \"auto\";\n  this.style.height = this.scrollHeight + \"px\";\n});\nasync function startApp() {\n  if (appStarted) return;\n  appStarted = true;\n\n  checkHealth();\n\n  showSkeletonSessions();\n  sessions = await fetchSessions();\n\n  if (sessions.length > 0) {\n    await loadSession(sessions[0].session_id);\n  } else {\n    startNewChat();\n  }\n  renderSessionList();\n}\nwindow.startApp = startApp;\nelements.sendBtn.addEventListener(\"click\", handleSendMessage);\nelements.newChatBtn.addEventListener(\"click\", startNewChat);\n\nconst toggleSidebarBtn = document.getElementById(\"toggleSidebarBtn\");\nconst mainGrid = document.querySelector(\".main-grid\");\nconst sidebarBackdrop = document.getElementById(\"sidebarBackdrop\");\nif (toggleSidebarBtn) {\n  toggleSidebarBtn.addEventListener(\"click\", () => {\n    mainGrid.classList.toggle(\"sidebar-closed\");\n    lucide.createIcons();\n  });\n}\n\nif (sidebarBackdrop) {\n  sidebarBackdrop.addEventListener(\"click\", () => {\n    mainGrid.classList.add(\"sidebar-closed\");\n  });\n}\n\nfunction checkMobileAndSetSidebar() {\n  if (window.innerWidth <= 768) {\n    mainGrid.classList.add(\"sidebar-closed\");\n  } else {\n    mainGrid.classList.remove(\"sidebar-closed\");\n  }\n}\n\ncheckMobileAndSetSidebar();\n\nwindow.addEventListener(\"resize\", checkMobileAndSetSidebar);\n\nconst SAMEKA_PREFIX = \"sameka_\";\nconst USER_RPC = {\n  LIST: SAMEKA_PREFIX + \"admin_list_users\",\n  UPDATE: SAMEKA_PREFIX + \"admin_update_user\",\n  DELETE: SAMEKA_PREFIX + \"admin_delete_user\",\n  CONFIRM: SAMEKA_PREFIX + \"admin_confirm_user\",\n};\n\nconst IBGE_API = {\n  ESTADOS:\n    \"https://servicodados.ibge.gov.br/api/v1/localidades/estados?orderBy=nome\",\n  CIDADES: (uf) =>\n    `https://servicodados.ibge.gov.br/api/v1/localidades/estados/${uf}/municipios?orderBy=nome`,\n};\n\nlet allEstados = [];\nlet selectedEstados = [];\nlet allCidades = [];\nlet selectedCidades = [];\nlet cidadesCache = {};\n\nasync function fetchEstados() {\n  if (allEstados.length) return allEstados;\n  try {\n    const res = await fetch(IBGE_API.ESTADOS);\n    allEstados = await res.json();\n  } catch (e) {\n    allEstados = [];\n  }\n  return allEstados;\n}\n\nasync function fetchCidades(uf) {\n  if (cidadesCache[uf]) return cidadesCache[uf];\n  try {\n    const res = await fetch(IBGE_API.CIDADES(uf));\n    cidadesCache[uf] = await res.json();\n  } catch (e) {\n    cidadesCache[uf] = [];\n  }\n  return cidadesCache[uf];\n}\n\nfunction buildMultiSelect({\n  triggerId,\n  dropdownId,\n  searchId,\n  optionsId,\n  items,\n  selected,\n  allLabel,\n  allValue,\n  onToggle,\n  renderLabel,\n}) {\n  const trigger = document.getElementById(triggerId);\n  const dropdown = document.getElementById(dropdownId);\n  const search = document.getElementById(searchId);\n  const container = document.getElementById(optionsId);\n  if (!trigger || !dropdown || !search || !container) return null;\n\n  function render(filter) {\n    const q = (filter || \"\").toLowerCase();\n    container.innerHTML = \"\";\n    const allDiv = document.createElement(\"div\");\n    allDiv.className = \"ms-option ms-all\";\n    const allCb = document.createElement(\"input\");\n    allCb.type = \"checkbox\";\n    allCb.checked = selected.includes(allValue);\n    allDiv.appendChild(allCb);\n    allDiv.appendChild(document.createTextNode(allLabel));\n    allDiv.addEventListener(\"click\", (e) => {\n      e.stopPropagation();\n      if (selected.includes(allValue)) {\n        selected.length = 0;\n      } else {\n        selected.length = 0;\n        selected.push(allValue);\n      }\n      render(search.value);\n      updateTrigger();\n      if (onToggle) onToggle();\n    });\n    container.appendChild(allDiv);\n\n    const filtered = q\n      ? items.filter((i) => renderLabel(i).toLowerCase().includes(q))\n      : items;\n    filtered.forEach((item) => {\n      const lbl = renderLabel(item);\n      const val = lbl;\n      const div = document.createElement(\"div\");\n      div.className = \"ms-option\";\n      const cb = document.createElement(\"input\");\n      cb.type = \"checkbox\";\n      cb.checked = selected.includes(allValue) || selected.includes(val);\n      div.appendChild(cb);\n      div.appendChild(document.createTextNode(lbl));\n      div.addEventListener(\"click\", (e) => {\n        e.stopPropagation();\n        if (selected.includes(allValue)) {\n          selected.length = 0;\n          items.forEach((it) => {\n            const v = renderLabel(it);\n            if (v !== val) selected.push(v);\n          });\n        } else if (selected.includes(val)) {\n          selected.splice(selected.indexOf(val), 1);\n        } else {\n          selected.push(val);\n          if (selected.length === items.length) {\n            selected.length = 0;\n            selected.push(allValue);\n          }\n        }\n        render(search.value);\n        updateTrigger();\n        if (onToggle) onToggle();\n      });\n      container.appendChild(div);\n    });\n  }\n\n  function updateTrigger() {\n    let tagsContainer = trigger.querySelector(\".ms-tags\");\n    if (!tagsContainer) {\n      tagsContainer = document.createElement(\"span\");\n      tagsContainer.className = \"ms-tags\";\n    }\n    tagsContainer.innerHTML = \"\";\n    const placeholder = trigger.querySelector(\".ms-placeholder\");\n    if (selected.length === 0) {\n      if (placeholder) placeholder.style.display = \"\";\n      tagsContainer.remove();\n      return;\n    }\n    if (placeholder) placeholder.style.display = \"none\";\n    if (selected.includes(allValue)) {\n      const tag = document.createElement(\"span\");\n      tag.className = \"ms-tag\";\n      tag.textContent = allLabel;\n      tagsContainer.appendChild(tag);\n    } else if (selected.length <= 3) {\n      selected.forEach((v) => {\n        const tag = document.createElement(\"span\");\n        tag.className = \"ms-tag\";\n        tag.textContent = v;\n        tagsContainer.appendChild(tag);\n      });\n    } else {\n      const tag = document.createElement(\"span\");\n      tag.className = \"ms-tag\";\n      tag.textContent = selected.length + \" selecionados\";\n      tagsContainer.appendChild(tag);\n    }\n    trigger.insertBefore(\n      tagsContainer,\n      trigger.querySelector(\".ms-arrow\"),\n    );\n  }\n\n  trigger.addEventListener(\"click\", (e) => {\n    e.preventDefault();\n    const isOpen = dropdown.classList.contains(\"open\");\n    document\n      .querySelectorAll(\".ms-dropdown.open\")\n      .forEach((d) => d.classList.remove(\"open\"));\n    if (!isOpen) {\n      dropdown.classList.add(\"open\");\n      search.value = \"\";\n      render(\"\");\n      search.focus();\n    }\n  });\n  search.addEventListener(\"input\", () => render(search.value));\n  document.addEventListener(\"click\", (e) => {\n    if (!trigger.contains(e.target) && !dropdown.contains(e.target))\n      dropdown.classList.remove(\"open\");\n  });\n  return {\n    render,\n    updateTrigger,\n    setItems(newItems) {\n      items.length = 0;\n      items.push(...newItems);\n    },\n  };\n}\n\nlet msEstados = null;\nlet msCidades = null;\n\nasync function initFormMultiSelects() {\n  const estados = await fetchEstados();\n  msEstados = buildMultiSelect({\n    triggerId: \"estadosTrigger2\",\n    dropdownId: \"estadosDropdown2\",\n    searchId: \"estadosSearch2\",\n    optionsId: \"estadosOptions2\",\n    items: estados,\n    selected: selectedEstados,\n    allLabel: \"Todos os Estados\",\n    allValue: \"TODOS\",\n    onToggle: onEstadosChanged,\n    renderLabel: (e) => e.sigla + \" — \" + e.nome,\n  });\n  if (msEstados) {\n    msEstados.render(\"\");\n    msEstados.updateTrigger();\n  }\n}\n\nlet cidadesGroupedData = []; // [{uf, ufNome, cidades: [{nome}]}]\n\nasync function onEstadosChanged() {\n  selectedCidades.length = 0;\n  allCidades.length = 0;\n  cidadesGroupedData.length = 0;\n  const cidadesOpts = document.getElementById(\"cidadesOptions2\");\n  const cidadesTrigger = document.getElementById(\"cidadesTrigger2\");\n  const cidadesDropdown = document.getElementById(\"cidadesDropdown2\");\n  const cidadesSearch = document.getElementById(\"cidadesSearch2\");\n  if (!cidadesOpts || !cidadesTrigger) return;\n  const placeholder = cidadesTrigger.querySelector(\".ms-placeholder\");\n\n  if (selectedEstados.length === 0) {\n    cidadesOpts.innerHTML =\n      '<div class=\"ms-loading\">Selecione ao menos um estado.</div>';\n    if (placeholder) {\n      placeholder.textContent = \"Selecione estados primeiro...\";\n      placeholder.style.display = \"\";\n    }\n    const tags = cidadesTrigger.querySelector(\".ms-tags\");\n    if (tags) tags.remove();\n    return;\n  }\n  cidadesOpts.innerHTML =\n    '<div class=\"ms-loading\">Carregando cidades...</div>';\n  if (placeholder) {\n    placeholder.textContent = \"Carregando cidades...\";\n    placeholder.style.display = \"\";\n  }\n\n  let ufsToLoad = selectedEstados.includes(\"TODOS\")\n    ? allEstados.map((e) => e.sigla)\n    : selectedEstados.map((s) => s.split(\" — \")[0]);\n  ufsToLoad.sort();\n  const results = await Promise.all(\n    ufsToLoad.map((uf) => fetchCidades(uf)),\n  );\n\n  ufsToLoad.forEach((uf, i) => {\n    const est = allEstados.find((e) => e.sigla === uf);\n    const ufNome = est ? est.nome : uf;\n    const cidades = (results[i] || []).map((c) => ({ nome: c.nome, uf }));\n    cidades.sort((a, b) => a.nome.localeCompare(b.nome));\n    cidadesGroupedData.push({ uf, ufNome, cidades });\n    cidades.forEach((c) => allCidades.push(c));\n  });\n\n  if (placeholder) {\n    placeholder.textContent = \"Selecione as cidades...\";\n    placeholder.style.display = \"\";\n  }\n\n  renderGroupedCidades(\"\");\n  updateCidadesTrigger();\n\n  cidadesTrigger.onclick = (e) => {\n    e.preventDefault();\n    const isOpen = cidadesDropdown.classList.contains(\"open\");\n    document\n      .querySelectorAll(\".ms-dropdown.open\")\n      .forEach((d) => d.classList.remove(\"open\"));\n    if (!isOpen) {\n      cidadesDropdown.classList.add(\"open\");\n      cidadesSearch.value = \"\";\n      renderGroupedCidades(\"\");\n      cidadesSearch.focus();\n    }\n  };\n  cidadesSearch.oninput = () => renderGroupedCidades(cidadesSearch.value);\n\n  document.addEventListener(\"click\", (e) => {\n    if (\n      !cidadesTrigger.contains(e.target) &&\n      !cidadesDropdown.contains(e.target)\n    ) {\n      cidadesDropdown.classList.remove(\"open\");\n    }\n  });\n}\n\nfunction renderGroupedCidades(filter) {\n  const container = document.getElementById(\"cidadesOptions2\");\n  if (!container) return;\n  container.innerHTML = \"\";\n  const q = (filter || \"\").toLowerCase();\n\n  const allDiv = document.createElement(\"div\");\n  allDiv.className = \"ms-option ms-all\";\n  const allCb = document.createElement(\"input\");\n  allCb.type = \"checkbox\";\n  allCb.checked = selectedCidades.includes(\"TODAS\");\n  allDiv.appendChild(allCb);\n  allDiv.appendChild(document.createTextNode(\"Todas as Cidades\"));\n  allDiv.addEventListener(\"click\", (e) => {\n    e.stopPropagation();\n    if (selectedCidades.includes(\"TODAS\")) {\n      selectedCidades.length = 0;\n    } else {\n      selectedCidades.length = 0;\n      selectedCidades.push(\"TODAS\");\n    }\n    renderGroupedCidades(filter);\n    updateCidadesTrigger();\n  });\n  container.appendChild(allDiv);\n\n  cidadesGroupedData.forEach((group) => {\n    const filteredCidades = q\n      ? group.cidades.filter((c) => c.nome.toLowerCase().includes(q))\n      : group.cidades;\n    if (q && filteredCidades.length === 0) return; // hide empty groups in search\n\n    const selectedInGroup = selectedCidades.includes(\"TODAS\")\n      ? filteredCidades.length\n      : group.cidades.filter((c) =>\n          selectedCidades.includes(c.nome + \" - \" + c.uf),\n        ).length;\n    const allInGroupSelected =\n      selectedCidades.includes(\"TODAS\") ||\n      (group.cidades.length > 0 &&\n        group.cidades.every((c) =>\n          selectedCidades.includes(c.nome + \" - \" + c.uf),\n        ));\n\n    const header = document.createElement(\"div\");\n    header.className = \"ms-group-header\";\n    const headerCb = document.createElement(\"input\");\n    headerCb.type = \"checkbox\";\n    headerCb.checked = allInGroupSelected;\n    headerCb.style.accentColor = \"var(--color-primary)\";\n    headerCb.style.width = \"15px\";\n    headerCb.style.height = \"15px\";\n    headerCb.style.cursor = \"pointer\";\n    header.appendChild(headerCb);\n\n    const headerLabel = document.createElement(\"span\");\n    headerLabel.textContent = group.uf + \" — \" + group.ufNome;\n    header.appendChild(headerLabel);\n\n    const countBadge = document.createElement(\"span\");\n    countBadge.className = \"ms-group-count\";\n    countBadge.textContent =\n      selectedInGroup > 0\n        ? \"(\" + selectedInGroup + \"/\" + group.cidades.length + \")\"\n        : \"(\" + group.cidades.length + \")\";\n    header.appendChild(countBadge);\n\n    const chevron = document.createElement(\"span\");\n    chevron.className = \"ms-group-chevron\";\n    chevron.textContent = \"▼\";\n    header.appendChild(chevron);\n    container.appendChild(header);\n\n    const body = document.createElement(\"div\");\n    body.className = \"ms-group-body\";\n\n    filteredCidades.forEach((c) => {\n      const val = c.nome + \" - \" + c.uf;\n      const div = document.createElement(\"div\");\n      div.className = \"ms-option\";\n      const cb = document.createElement(\"input\");\n      cb.type = \"checkbox\";\n      cb.checked =\n        selectedCidades.includes(\"TODAS\") ||\n        selectedCidades.includes(val);\n      div.appendChild(cb);\n      div.appendChild(document.createTextNode(c.nome));\n      div.addEventListener(\"click\", (e) => {\n        e.stopPropagation();\n        if (selectedCidades.includes(\"TODAS\")) {\n          selectedCidades.length = 0;\n          allCidades.forEach((ac) => {\n            const v = ac.nome + \" - \" + ac.uf;\n            if (v !== val) selectedCidades.push(v);\n          });\n        } else if (selectedCidades.includes(val)) {\n          selectedCidades.splice(selectedCidades.indexOf(val), 1);\n        } else {\n          selectedCidades.push(val);\n          if (selectedCidades.length === allCidades.length) {\n            selectedCidades.length = 0;\n            selectedCidades.push(\"TODAS\");\n          }\n        }\n        renderGroupedCidades(filter);\n        updateCidadesTrigger();\n      });\n      body.appendChild(div);\n    });\n    container.appendChild(body);\n\n    header.addEventListener(\"click\", (e) => {\n      if (e.target === headerCb) {\n        e.stopPropagation();\n        if (selectedCidades.includes(\"TODAS\")) {\n          selectedCidades.length = 0;\n          allCidades.forEach((ac) => {\n            if (ac.uf !== group.uf)\n              selectedCidades.push(ac.nome + \" - \" + ac.uf);\n          });\n        } else if (allInGroupSelected) {\n          group.cidades.forEach((c) => {\n            const v = c.nome + \" - \" + c.uf;\n            const idx = selectedCidades.indexOf(v);\n            if (idx !== -1) selectedCidades.splice(idx, 1);\n          });\n        } else {\n          group.cidades.forEach((c) => {\n            const v = c.nome + \" - \" + c.uf;\n            if (!selectedCidades.includes(v)) selectedCidades.push(v);\n          });\n          if (selectedCidades.length === allCidades.length) {\n            selectedCidades.length = 0;\n            selectedCidades.push(\"TODAS\");\n          }\n        }\n        renderGroupedCidades(filter);\n        updateCidadesTrigger();\n        return;\n      }\n      header.classList.toggle(\"collapsed\");\n      body.classList.toggle(\"collapsed\");\n    });\n  });\n}\n\nfunction updateCidadesTrigger() {\n  const trigger = document.getElementById(\"cidadesTrigger2\");\n  if (!trigger) return;\n  let tagsContainer = trigger.querySelector(\".ms-tags\");\n  if (!tagsContainer) {\n    tagsContainer = document.createElement(\"span\");\n    tagsContainer.className = \"ms-tags\";\n  }\n  tagsContainer.innerHTML = \"\";\n  const placeholder = trigger.querySelector(\".ms-placeholder\");\n\n  if (selectedCidades.length === 0) {\n    if (placeholder) placeholder.style.display = \"\";\n    tagsContainer.remove();\n    return;\n  }\n  if (placeholder) placeholder.style.display = \"none\";\n\n  if (selectedCidades.includes(\"TODAS\")) {\n    const tag = document.createElement(\"span\");\n    tag.className = \"ms-tag\";\n    tag.textContent = \"Todas as Cidades\";\n    tagsContainer.appendChild(tag);\n  } else {\n    const perUf = {};\n    selectedCidades.forEach((v) => {\n      const parts = v.split(\" - \");\n      const uf = parts[parts.length - 1];\n      perUf[uf] = (perUf[uf] || 0) + 1;\n    });\n    const entries = Object.entries(perUf).sort((a, b) =>\n      a[0].localeCompare(b[0]),\n    );\n    if (entries.length <= 4) {\n      entries.forEach(([uf, count]) => {\n        const tag = document.createElement(\"span\");\n        tag.className = \"ms-tag\";\n        tag.textContent = uf + \" (\" + count + \")\";\n        tagsContainer.appendChild(tag);\n      });\n    } else {\n      const tag = document.createElement(\"span\");\n      tag.className = \"ms-tag\";\n      tag.textContent = selectedCidades.length + \" cidades\";\n      tagsContainer.appendChild(tag);\n    }\n  }\n  trigger.insertBefore(tagsContainer, trigger.querySelector(\".ms-arrow\"));\n}\n\nfunction getSelectedEstadosArray() {\n  if (selectedEstados.includes(\"TODOS\")) return [\"TODOS\"];\n  return selectedEstados.map((s) => s.split(\" — \")[0]);\n}\nfunction getSelectedCidadesArray() {\n  if (selectedCidades.includes(\"TODAS\")) return [\"TODAS\"];\n  return [...selectedCidades];\n}\n\nconst formRoleSelect = document.getElementById(\"formRole\");\nif (formRoleSelect) {\n  formRoleSelect.addEventListener(\"change\", async () => {\n    if (formRoleSelect.value === \"admin\") {\n      selectedEstados.length = 0;\n      selectedEstados.push(\"TODOS\");\n      if (msEstados) {\n        msEstados.render(\"\");\n        msEstados.updateTrigger();\n      }\n      await onEstadosChanged();\n      selectedCidades.length = 0;\n      selectedCidades.push(\"TODAS\");\n      renderGroupedCidades(\"\");\n      updateCidadesTrigger();\n    }\n  });\n}\n\nlet editingUserId = null;\nlet deletingUserId = null;\n\nfunction escapeHtml(s) {\n  const d = document.createElement(\"div\");\n  d.textContent = s;\n  return d.innerHTML;\n}\n\nfunction showUsersPage() {\n  document.getElementById(\"chatArea\").style.display = \"none\";\n  const up = document.getElementById(\"usersPage\");\n  up.style.display = \"flex\";\n  document.getElementById(\"userFormPanel\").style.display = \"none\";\n  loadUsersPage();\n  initFormMultiSelects();\n}\n\nfunction hideUsersPage() {\n  document.getElementById(\"usersPage\").style.display = \"none\";\n  document.getElementById(\"chatArea\").style.display = \"\";\n}\n\nasync function loadUsersPage() {\n  const loading = document.getElementById(\"usersLoading2\");\n  const table = document.getElementById(\"usersTable2\");\n  if (loading) loading.style.display = \"block\";\n  if (table) table.style.display = \"none\";\n  try {\n    const { data, error } = await supabaseClient.rpc(USER_RPC.LIST);\n    if (error) throw error;\n    const countEl = document.getElementById(\"usersCount2\");\n    if (countEl) countEl.textContent = \"(\" + data.length + \")\";\n    const tbody = document.getElementById(\"usersTableBody2\");\n    tbody.innerHTML = \"\";\n    data.forEach((u) => {\n      const tr = document.createElement(\"tr\");\n      const created = new Date(u.created_at).toLocaleDateString(\"pt-BR\");\n      const role = u.role || AUTH_CONFIG.DEFAULT_ROLE;\n      const roleLbl = AUTH_CONFIG.ROLE_LABELS[role] || role;\n      const roleBadgeColor =\n        role === \"admin\" ? \"var(--color-primary)\" : \"var(--color-wine)\";\n      const uEstados = u.estados || [];\n      const uCidades = u.cidades || [];\n      let coverageTxt = \"\";\n      if (uEstados.length === 0 && uCidades.length === 0) {\n        coverageTxt = '<span style=\"opacity:0.4\">—</span>';\n      } else if (\n        uEstados.includes(\"TODOS\") &&\n        uCidades.includes(\"TODAS\")\n      ) {\n        coverageTxt =\n          '<span style=\"font-weight:600\">Todo o Brasil</span>';\n      } else {\n        const ePart = uEstados.includes(\"TODOS\")\n          ? \"Todos UFs\"\n          : uEstados.join(\", \");\n        const cPart = uCidades.includes(\"TODAS\")\n          ? \"Todas cidades\"\n          : uCidades.length > 3\n            ? uCidades.length + \" cidades\"\n            : uCidades.join(\", \");\n        coverageTxt =\n          escapeHtml(ePart) +\n          (cPart\n            ? '<br><span style=\"font-size:0.8rem;opacity:0.7\">' +\n              escapeHtml(cPart) +\n              \"</span>\"\n            : \"\");\n      }\n      tr.innerHTML =\n        '<td class=\"users-td\">' +\n        escapeHtml(u.full_name || \"—\") +\n        \"</td>\" +\n        '<td class=\"users-td\" style=\"font-size:0.85rem\">' +\n        escapeHtml(u.email) +\n        \"</td>\" +\n        '<td class=\"users-td\"><span style=\"padding:3px 10px;border-radius:20px;font-size:0.75rem;font-weight:600;background:' +\n        roleBadgeColor +\n        ';color:white\">' +\n        roleLbl +\n        \"</span></td>\" +\n        '<td class=\"users-td\" style=\"max-width:220px;font-size:0.85rem\">' +\n        coverageTxt +\n        \"</td>\" +\n        '<td class=\"users-td\" style=\"font-size:0.85rem;color:var(--text-secondary)\">' +\n        created +\n        \"</td>\" +\n        '<td class=\"users-td\" style=\"text-align:right;white-space:nowrap\">' +\n        '<button class=\"reset-badge-btn edit-user-btn\" style=\"width:auto;font-size:11px;padding:4px 10px;margin-right:4px\" title=\"Editar\"><i data-lucide=\"pencil\" style=\"width:12px;height:12px\"></i></button>' +\n        (u.user_id === currentUserId\n          ? \"\"\n          : '<button class=\"reset-badge-btn delete-user-btn\" style=\"width:auto;font-size:11px;padding:4px 10px;color:#dc2626;border-color:rgba(220,38,38,0.3)\" title=\"Excluir\"><i data-lucide=\"trash-2\" style=\"width:12px;height:12px\"></i></button>') +\n        \"</td>\";\n      tr.querySelector(\".edit-user-btn\").addEventListener(\"click\", () =>\n        openEditUser(u),\n      );\n      const delBtn = tr.querySelector(\".delete-user-btn\");\n      if (delBtn)\n        delBtn.addEventListener(\"click\", () => openDeleteUser(u));\n      tbody.appendChild(tr);\n    });\n    if (loading) loading.style.display = \"none\";\n    if (table) table.style.display = \"table\";\n    lucide.createIcons();\n  } catch (err) {\n    if (loading) loading.style.display = \"none\";\n  }\n}\n\nasync function loadUsers() {\n  await loadUsersPage();\n}\n\nasync function openEditUser(u) {\n  editingUserId = u.user_id;\n  document.getElementById(\"userFormTitle\").textContent = \"Editar Usuário\";\n  document.getElementById(\"emailField2\").style.display = \"none\";\n  document.getElementById(\"passwordField2\").style.display = \"none\";\n  document.getElementById(\"formPassword\").required = false;\n  document.getElementById(\"formFullName\").value = u.full_name || \"\";\n  const roleSelect = document.getElementById(\"formRole\");\n  roleSelect.value = u.role || AUTH_CONFIG.DEFAULT_ROLE;\n  const isSelf = u.user_id === currentUserId;\n  if (isSelf && currentUserRole === AUTH_CONFIG.ADMIN_ROLE) {\n    roleSelect.disabled = true;\n    roleSelect.title = \"Você não pode rebaixar seu próprio perfil.\";\n  } else {\n    roleSelect.disabled = false;\n    roleSelect.title = \"\";\n  }\n  document.getElementById(\"formError\").style.display = \"none\";\n\n  selectedEstados.length = 0;\n  selectedCidades.length = 0;\n  const uEstados = u.estados || [];\n  const uCidades = u.cidades || [];\n  if (uEstados.includes(\"TODOS\")) {\n    selectedEstados.push(\"TODOS\");\n  } else {\n    uEstados.forEach((sigla) => {\n      const est = allEstados.find((e) => e.sigla === sigla);\n      if (est) selectedEstados.push(est.sigla + \" — \" + est.nome);\n      else selectedEstados.push(sigla);\n    });\n  }\n  if (msEstados) {\n    msEstados.render(\"\");\n    msEstados.updateTrigger();\n  }\n  await onEstadosChanged();\n  uCidades.forEach((c) => selectedCidades.push(c));\n  renderGroupedCidades(\"\");\n  updateCidadesTrigger();\n\n  document.getElementById(\"userFormPanel\").style.display = \"block\";\n  lucide.createIcons();\n}\n\nfunction openCreateUser() {\n  editingUserId = null;\n  document.getElementById(\"userFormTitle\").textContent = \"Novo Usuário\";\n  document.getElementById(\"emailField2\").style.display = \"\";\n  document.getElementById(\"passwordField2\").style.display = \"\";\n  document.getElementById(\"formPassword\").required = true;\n  document.getElementById(\"userForm2\").reset();\n  const roleSelect = document.getElementById(\"formRole\");\n  roleSelect.disabled = false;\n  roleSelect.title = \"\";\n  document.getElementById(\"formError\").style.display = \"none\";\n\n  selectedEstados.length = 0;\n  selectedCidades.length = 0;\n  allCidades.length = 0;\n  if (msEstados) {\n    msEstados.render(\"\");\n    msEstados.updateTrigger();\n  }\n  const cidadesOpts = document.getElementById(\"cidadesOptions2\");\n  if (cidadesOpts)\n    cidadesOpts.innerHTML =\n      '<div class=\"ms-loading\">Selecione ao menos um estado.</div>';\n  const cidadesTrigger = document.getElementById(\"cidadesTrigger2\");\n  const ph = cidadesTrigger\n    ? cidadesTrigger.querySelector(\".ms-placeholder\")\n    : null;\n  if (ph) {\n    ph.textContent = \"Selecione estados primeiro...\";\n    ph.style.display = \"\";\n  }\n  const tags = cidadesTrigger\n    ? cidadesTrigger.querySelector(\".ms-tags\")\n    : null;\n  if (tags) tags.remove();\n\n  document.getElementById(\"userFormPanel\").style.display = \"block\";\n  lucide.createIcons();\n}\n\nfunction openDeleteUser(u) {\n  deletingUserId = u.user_id;\n  document.getElementById(\"deleteUserName\").textContent =\n    u.full_name || u.email;\n  document.getElementById(\"deleteModalError\").style.display = \"none\";\n  document.getElementById(\"deleteModal\").style.display = \"flex\";\n}\n\nconst addUserBtn2 = document.getElementById(\"addUserBtn2\");\nif (addUserBtn2) addUserBtn2.addEventListener(\"click\", openCreateUser);\n\nconst usersBackBtn = document.getElementById(\"usersBackBtn\");\nif (usersBackBtn) usersBackBtn.addEventListener(\"click\", hideUsersPage);\n\nconst userFormCloseBtn = document.getElementById(\"userFormCloseBtn\");\nif (userFormCloseBtn)\n  userFormCloseBtn.addEventListener(\"click\", () => {\n    document.getElementById(\"userFormPanel\").style.display = \"none\";\n  });\nconst formCancelBtn = document.getElementById(\"formCancelBtn\");\nif (formCancelBtn)\n  formCancelBtn.addEventListener(\"click\", () => {\n    document.getElementById(\"userFormPanel\").style.display = \"none\";\n  });\n\nconst manageUsersBtn = document.getElementById(\"manageUsersBtn\");\nif (manageUsersBtn) {\n  manageUsersBtn.addEventListener(\"click\", showUsersPage);\n}\n\nconst userForm2 = document.getElementById(\"userForm2\");\nif (userForm2) {\n  userForm2.addEventListener(\"submit\", async (e) => {\n    e.preventDefault();\n    const saveBtn = document.getElementById(\"formSaveBtn\");\n    const errorEl = document.getElementById(\"formError\");\n    errorEl.style.display = \"none\";\n    saveBtn.disabled = true;\n    try {\n      if (editingUserId) {\n        const roleSelect = document.getElementById(\"formRole\");\n        const chosenRole = roleSelect.disabled\n          ? currentUserRole\n          : roleSelect.value;\n        const { error } = await supabaseClient.rpc(USER_RPC.UPDATE, {\n          p_user_id: editingUserId,\n          p_full_name: document\n            .getElementById(\"formFullName\")\n            .value.trim(),\n          p_role: chosenRole,\n          p_estados: JSON.stringify(getSelectedEstadosArray()),\n          p_cidades: JSON.stringify(getSelectedCidadesArray()),\n        });\n        if (error) throw error;\n      } else {\n        const email = document.getElementById(\"formEmail\").value.trim();\n        const password = document.getElementById(\"formPassword\").value;\n        const fullName = document\n          .getElementById(\"formFullName\")\n          .value.trim();\n        const role = document.getElementById(\"formRole\").value;\n        const { data: signupData, error: signupError } =\n          await supabaseClient.auth.signUp({\n            email,\n            password,\n            options: {\n              data: {\n                full_name: fullName,\n                role,\n                company_name: \"sameka\",\n                estados: getSelectedEstadosArray(),\n                cidades: getSelectedCidadesArray(),\n              },\n            },\n          });\n        if (signupError) throw signupError;\n        if (signupData.user) {\n          const { error: confirmError } = await supabaseClient.rpc(\n            USER_RPC.CONFIRM,\n            { p_user_id: signupData.user.id },\n          );\n          if (confirmError) { /* warn suppressed */ }\n        }\n      }\n      document.getElementById(\"userFormPanel\").style.display = \"none\";\n      await loadUsersPage();\n    } catch (err) {\n      errorEl.textContent = err.message || \"Erro ao salvar usuário.\";\n      errorEl.style.display = \"block\";\n    } finally {\n      saveBtn.disabled = false;\n    }\n  });\n}\n\nconst deleteCancelBtn2 = document.getElementById(\"deleteCancelBtn\");\nif (deleteCancelBtn2) {\n  deleteCancelBtn2.addEventListener(\"click\", () => {\n    document.getElementById(\"deleteModal\").style.display = \"none\";\n  });\n}\nconst deleteConfirmBtn2 = document.getElementById(\"deleteConfirmBtn\");\nif (deleteConfirmBtn2) {\n  deleteConfirmBtn2.addEventListener(\"click\", async () => {\n    const errorEl = document.getElementById(\"deleteModalError\");\n    errorEl.style.display = \"none\";\n    deleteConfirmBtn2.disabled = true;\n    try {\n      const { error } = await supabaseClient.rpc(USER_RPC.DELETE, {\n        p_user_id: deletingUserId,\n      });\n      if (error) throw error;\n      document.getElementById(\"deleteModal\").style.display = \"none\";\n      await loadUsersPage();\n    } catch (err) {\n      errorEl.textContent = err.message || \"Erro ao excluir usuário.\";\n      errorEl.style.display = \"block\";\n    } finally {\n      deleteConfirmBtn2.disabled = false;\n    }\n  });\n}\n\nwindow.loadUsers = loadUsersPage;\n\ndocument.addEventListener(\"DOMContentLoaded\", () => {\n  lucide.createIcons();\n});    </script>\n  </body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "b54c3776-425d-43f9-a9fe-48c5cbbac5af",
      "name": "HTML"
    },
    {
      "parameters": {
        "path": "sameka-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "03ef3e3f-edd3-481c-9d38-fd067dfbce2f",
      "name": "Chat",
      "webhookId": "98c63ded-77d1-4ec5-b6a0-bdef197db49a"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "1506bd06-f3c1-4572-8a0b-d2852191b2ae",
      "name": "Respond to Chat",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "HTML": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d06d0b5e-513e-4d01-9566-f8f02d8666f4",
  "meta": {
    "instanceId": "03d32a206f2d8840fce482e6c587726f18775bd9177e9401c00ca76d3086ad41"
  },
  "id": "eFrRNYHDa2ebfx8Y",
  "tags": []
}